<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="container" style="height: 400px; min-width: 300px; max-width: 700px; margin: 0 auto;"></div>


<script>
Highcharts.chart('container', {
    title: {
        text: 'Total number of Vouchers'
    },
    subtitle: {
        text: 'Specifies which array options map to which keys'
    },
    tooltip: {
        pointFormat: ''
    },
    yAxis: {
        max: 200,      
        labels: {
            format: ''
        }
    },xAxis: {
				
        categories: ['Jul2','Jul9', 'Jul16','jUL23', 'Jul30'], 
        labels: {
            format: ''
        }
    },
    plotOptions: {
        series: {
            color: '#4c4c4c'
        }
    },
    series: [{
        type: 'column',
        name: '',
        keys: ['name', 'y', 'dataLabels.style.visibility'],
        // Hide data labels by default, show them per point
        dataLabels: {
            enabled: true,
            color: '#aa0000',
            style: {
                visibility: 'hidden',
                fontSize: '11px'
              
            }
        },
        data: [
            ['jul1', 2.0, 'visible'],
            ['jul8', 1.0, 'visible'],
            ['jul16', 20.0, 'visible'],
            ['Safari', 3.0, 'visible'],
            ['Opera', 40.0, 'visible']	
            
        ]
    }]
});

</script>

</div>
