label.error{color:red;font-weight:inherit;font-size:12px;}
.error{font-weight:inherit;font-size:11px;border-bottom:1px solid #f33737 !important}
#modal-contact .error
{
	color: #f63939 #ffa9a9 !important;
	font-size: 13px #ffa9a9 !important;
	font-weight: normal #ffa9a9 !important;
}

.error_full{font-weight:inherit;font-size:11px;border:1px solid #f33737 !important}
.success{color:green;font-weight:inherit;font-size:11px;}
#flashMessage.message.error{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}
#flashMessage.message.success{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}
#flashMessage.success_message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}
#flashMessage.message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}
.home_logo{width:121px;height:auto}
.abt-icon {	
	box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.2)!important;
	height:92px !important;	
}
.topheader{ background:#fff}
.power_white  {color:#d2d2d3;}
.power_white a {color:#d2d2d3;}
.power_white:hover{color:#d2d2d3 !important;text-decoration:none !important}

.prof-pic:hover .upload-btn-wrapper {display: inline-block !important;}
.prof-pic {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #282828;
    float: left;
    margin-right: 25px;
}
.inner-banner{background-repeat:no-repeat;background-size:cover;min-height: 60px !important;}
.inner-banner .banner-cont{padding:67px 0px 0px;text-align:center;}
.inner-banner .banner-cont > h2{font-size:38px;font-weight:600;color:#ae1967;text-transform:uppercase;text-align:center;}

.faqMain { padding: 45px 0px;}
.paging {
	text-align: right;
	margin: 10px;
}
.paging span a, .paging span.disabled  {
	padding: 6px 10px;
	border: 1px solid #ddd;
}
.paging span:focus, .paging span:hover {
	text-decoration: none;
	color: #f9b22b;
}
.paging span.disabled:hover {
	text-decoration: none;
	color: #9b9b9b;
	cursor: not-allowed;
}
.paging span:focus, .paging span a:hover {
	text-decoration: none;
	color: #f9b22b;
}
.paging span.current{background-color:#f9b22b;color:#fff;padding: 6px 10px;border: 1px solid #f9b22b;} 

/*  Image theme Upload Style
============================*/
.upload-drop-zone{min-height:200px;border-width:2px;margin-bottom:20px;}
/* .upload-drop-zone{color:#ccc;border-style:dashed;border-color:#39c7e6;text-align:center;min-height:210px;display:flex;flex-wrap:wrap;padding:63px;align-items:center;flex-direction:column;display:-webkit-flex;display:-ms-flexbox;}
 * .upload-file > img{max-width:100%;}
 * */
.upload-file > img{width:100%;}
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #d5d5d5;
	text-align: center;
	min-height: 210px;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* padding: 63px; */
	align-items: center;
	/* flex-direction: column; */
	/* display: -webkit-flex; */
	display: -ms-flexbox;
}
.upload-drop-zone.drop{color:#222;border-color:#222;}
.image-preview-input{position:relative;overflow:hidden;margin:0px;height:45px;min-width:250px;font-size:16px;line-height:24px;padding:8px;background-color:#359643;color:#fff;padding-left:50px;margin:10px auto;}
.image-preview-input .fa-cloud-upload{position:absolute;left:0px;font-size:20px;padding:10px;background-color:#238331;top:0px;bottom:0;line-height:24px;width:45px;}
.image-preview-input:hover{color:#fff;}
.image-preview-input input[type=file]{position:absolute;top:0;right:0;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.image-preview-input-title{margin-left:2px;}
.upload-file > p{font-size:16px;color:#c7c7c7;margin:10px 0px 20px;}
.upload-file > img{max-width:100%;}

.tags{margin-top:10px;margin-left: -31px;}
.tags > li{display:inline-block;margin-right:12px;margin-top:10px;}
.tags > li > a{display:inline-block;padding:10px 22px;border-radius:25px;border:1px solid #ddd;background-color:#f2f5f5;box-shadow:0px 0px 6px 0px rgba(0,0,0,0.25);font-size:18px;font-weight:600;color:#838383;}
.srch-btn{float:right;background:transparent;margin-top: -35px;}


.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 12px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #ffff;
	border: 1px solid #2c3040;;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 3px;
	left: 6px;
	color: #39c7e6;
}

.free_tick {
	margin-left: 36px;
	margin-top: 19px;
}

.input_date_grp{position:relative;}
.input_date_grp > span{position:absolute;right:10px;top:3px;width:30px;height:30px;font-size:20px;text-align:center;cursor:pointer;padding:5px;z-index:9;background-color:transparent;border:hidden;}
.theme-Datepicker{clear:both;}
.banner-cont a.active{font-size:37px;color:#00dbcf!important}
.calender.form-control{font-size:17.91px;border-color:#31bafa;border-style:solid;border-width:0 0px 1px 0px;border-radius:0px;box-shadow:none;padding:10px 38px 10px 15px;font-weight:400;letter-spacing:1px;color:#535353;display:block;height:auto;}

.calender.form-control.selected{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url('images/down-icon.png');background-repeat:no-repeat;background-position:96% center;background-size:15px;}
.event-submit .btn {
	padding: 7px 12px;
	background: #00dbcf;
	color: #fff;
	border-radius: 0;
	font-family: 'GillSansSemiBold';
	font-size: 18px;
}
.event-submit .hide-event{
    background-color: #d73057 !important;
}
.iviewer:after{display:block;content:"";clear:both;}
.iviewer{margin:25px 0px 	25px -23px;}
.iviewer ul{list-style:none;}
.iviewer ul li{float:left;width:20%;text-align:center;border:1px solid #ddd;margin-left:-1px;height:50px;line-height:43px;}
.iviewer ul li img{width:25px;}
.iviewer ul li a,.custom-file-upload .custom-file-upload{font-size:20px;color:#eb7e4e;display:block;padding:0px 5px;}
.btn-custom{background:#eb7e4e;color:#fff;text-transform:uppercase;}
.custom-file-upload input[type="file"]{display:none;}
.custom-file-upload .custom-file-upload{cursor:pointer;}
.btn-custom:hover{color:#fff;}
.date-select td a{color: #fff;text-decoration: none;}


.date-select td.newactive::after{ background: #24b325; }
.white{color:#f2f2f2}
.event-list-right a:hover{color: #fff; text-decoration:none;}
.comment_txt{font-size:15px !important}
.error_price{font-size:10px !important;color:red}
.del_icon{background-image: url('images/del-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.copy-icon{background-image: url('images/copy-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.upload-btn-wrapper {position: relative;overflow: hidden;display: inline-block;left: 50px;top: 80px;z-index: 99;cursor: pointer !important;}
.btnfile {border: 1px solid gray;color: gray;background-color: white;padding: 4px 8px;border-radius: 8px;font-size: 10px;font-weight: bold;margin-top:-20px;}
.upload-btn-wrapper input[type=file] {font-size: 100px;position: absolute;left: -120;top: 0;opacity: 0;}
.radio > label {padding-right: 66px!important;padding-left: 0px !important;} 
.checkbox label, .radio label {padding-left: 5px!important;}
.form-control[disabled], .form-control[readonly]{background-color:#eee }
.add-on{margin-top: -2px;}
[class^="icon-"],[class*=" icon-"] {display: inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top; background-image: url("../img/glyphicons-halflings.png");background-position: 14px 14px;  background-repeat: no-repeat;  margin-top: 1px;}
.icon-arrow-left {background-position: -240px -96px;}
.icon-arrow-right {background-position: -264px -96px;}
.modal{overflow:auto !important}
.repeat-day{padding-top:0 !important}
.datepickerdiv{margin-bottom:-24px}

.weekdays{float: left;}
div.weekdays label.selected {
	background-color: #48abe1;
	color: #fff;
}
div.weekdays label:hover {
	background-color: #48abe1;
	color: #fff;
}
div.weekdays label {
	width: 48px;
	height: 48px;
	line-height: 38px;
	text-align: center;
	font-size: 20px;
	background-color: #f2f5f5;
	border-radius: 50%;
	color: #767676;
	font-weight: 600;
	padding: 5px;
	display: inline-block;
	margin-right: 16px;
	cursor:pointer;
}
div.weekdays input{display:none;}
div.weak-List{padding-bottom:70px;}
.bootstrap-tagsinput{
	
	padding: 5px 15px!important;
	border: 1px solid #dcdcdc!important;
	width: 100%!important;
	font-size: 16px!important;
	color: #535353!important;
}



.datetimepicker table tr td.today:active{ background-color: none !important; }
.grp_date{display:inline}
.grp_date_edit{display:inline}

.highcharts-button-symbol,.highcharts-credits{display:none !important}
.highcharts-series-group{height:300px}
#chart_gender{float:left}
.chart_desc{float: right;width: 200px;position: relative;top:24px;font-size: 14px}
.highcharts-title{position:relative;color:#69727f !important;font-weight:bold}
.img_gender {
	width: 100%;
}
.img_inner, .female-data {
	display: inline-block;
}
.female-data {
	margin-top: 1px;
	clear: both;
	position: relative;
	top: 5px;
	left: 10px;
}
.user_pic{background-position:center;background-size:100%;background-repeat:no-repeat;}
.chart_desc .img_gender{margin-right:5px;float:left}
.chart_title{font-size: 19px;padding:10px 20px;font-weight:500}
.showWeek,.showHour{cursor:pointer;text-decoration:underline} 
.prof-pic{float:none !important;margin-right:20px;}
.profile-image-internal { margin:23px 75px 0 -34px !important; min-width:170px; }
.vouch-desc > ul > li > ul > li > ul > li{font-size:13px;margin-bottom:-7px;margin-left:98px;font-family: 'Open-Sans';}
.fa-square::before {
	content: "\f0c8";
	color: #fa9846;
	font-size: 9px;
	padding-right: 10px;
}
.fa-li.fa.fa-square{display:inherit;position: relative}
#map {
margin: 0;
padding: 0;
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
#description {
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#infowindow-content {
display: none;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
outline: none;       
background-color: #fff;
font-family: Roboto;
position:relative !important;
}

#pac-container {
padding-bottom: 12px;
margin-right: 12px;
}
/*
.owl-carousel .owl-stage-outer {
	//margin-left: 10px;
	margin-right: 10px;
}*/
.box-card-nodata{
width:100%;
display: inline-block;
vertical-align: top;
font-size: 16px;
padding-left: 20px;
}
.message{
	/*padding: 3px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	text-align: center;
	z-index:100;*/
}
.success_message{
	padding: 3px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;;
	text-align: center;
	z-index:100;
}
.map-img {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;	
	left: 0;
	right: 0;
	border: 3px solid #fff;
}
.banr-text .title{}
@media only screen and (max-width: 767px) {
    .map-img {
	width: 83px;
	height: 83px;	
	}
	.articale-right {
		margin-left: 0px;
	}
	
	/*.snu-student li + li::after {
	 background: none !important;
	 } */
	.break-content{
    max-width:74px;
    word-wrap:break-word;
	}

}
.themeModel .view-model {
	max-width: 1100px;	
}
.break-content{
    max-width:130px;
    word-wrap:break-word;   
    }

.awesome-cropper .modal-dialog{width:1022px!important;}
#descriptionvalue ,#termsvalue{
	resize: none;
	height: 91px;
	box-sizing: border-box;
}
.offer-banner{background:#EEEEEE;}
/*.mobile-main {
	padding: 52px 0px 40px 0px;
	height: 100%;
	max-width: 399px!important;
	margin: 0px 24px!important;
}*/
.jusic-banner {	
	margin: 56px 3px 0px 3px!important;
}
.delete_button {
	border: none;
	background: transparent;
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}
.sm-model .close {background-color:#fff !important}
@media screen and (max-width: 318px) {
	div.weekdays label{
	    margin-right: 6px;
	    margin-bottom: 5px;
	    width: 25px;
		height: 25px;
		line-height: 17px;
		font-size: 11px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:319px) and (max-width: 480px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 30px;
		height: 30px;
		line-height: 22px;
		font-size: 12px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:481px) and (max-width: 991px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 34px;
		height: 34px;
		line-height: 22px;
		font-size: 13px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media screen and (max-width: 767px) {
	.articale-right h2, .articale-right p {
		margin-left: 9px !important;
	}
}
@media (min-width:992px) and (max-width: 1199px) {
	div.weekdays label{
	    margin-right: 10px;
	    margin-bottom: 5px;
	    width: 40px;
		height: 40px;
		line-height: 28px;
		font-size: 16px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}
#flashMessage{display:none}

/*loader*/
	#loading {
    width:150px;
    height:150px;
/*
    border:20px solid #ccc;
*/
/*
    border-top-color:#f50;    
*/
    border-radius:100%;

/* here we center it*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    z-index:6;
/* Tha animation*/
    animation: round 1s linear infinite;
}

@keyframes round {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#overlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	opacity: 1;
	left: 0;
	top: 0;
	z-index: 9999;
	position: fixed;
}

.user_prof .user_img { background-color:#fff !important;}
.img-upload{cursor:pointer;}

span.result {position: absolute;
    z-index: 999;
    background: #fff;
    width: 94%;
    border: 1px solid; display:none;margin-top:2px; max-height:200px; overflow-y:scroll;}
span.result ul {}
span.result li {padding: 5px;
    border-bottom: 1px solid;
    cursor: pointer;}
span.result li:hover {
    color: #fcbc2c;
border-color: #fcbc2c;}
.highcharts-label{display:none}
@media screen and (max-width: 455px){ #rc-imageselect, .g-recaptcha { transform:scale(0.71); -webkit-transform:scale(0.71); transform-origin:0 0; -webkit-transform-origin:0 0; }}

.percertange_sign{position:relative;float:right;top:38px}
.faqMain{text-align:justify}
#useremailnotify-error{margin-top: 8px;color: #a10606;position: relative;float: left;}

.btn_deleteaccount{background-color: #ffffff;border:1px solid #c2c2c2;color: #959595;font-size: 14px;text-transform: uppercase;padding: 12px 35px;font-weight: 600;}
.btn_subscribe{background-color: #f8f4f3;border:1px solid #d4d4d4;color: #9b9090;font-size: 14px;text-transform: uppercase;padding: 12px 35px;font-weight: 600;}
.subscribe-details{position: absolute;left: 76%;}
@media screen and (max-width:370px) {
	.subscribe-details {
		position: relative;
		left: 0%;	
		
	}
	.profile-cont {
	 margin-bottom: 30px;
	}
	.btn_subscribe {    
    font-size: 12px;
    padding: 5px 22px;
	}	
}

@media screen and (max-width: 650px) {
	.subscribe-details {
		position: relative;
		left: 0%;	
		
	}
	.profile-cont {
	 margin-bottom: 30px;
	}
	.btn_subscribe {    
    font-size: 12px;
    padding: 5px 10px;
		
	}
	.form-submit .btn {
    margin-left: 0px;
    }
}	
@media (min-width: 781px) and (max-width: 1199px) {
	.form-submit .btn {
		margin-left: 0px;		
	}
}
.btn-custom {
	color: #fff;
	background-color: #2abacb !important;
	border-color: #2abacb !important;
}
.btn-custom:hover {
	color: #fff;
	background-color: #2abacb !important;
	border-color: #2abacb !important;
}

.share_voucher{margin-top:20px;}
.vouch-img_share{max-height: 500px;overflow: hidden;display: inline-block;width: 40%;vertical-align: middle;font-size: 16px;}
.faqMain br {
   display: block;
   margin: 3px 0;
}
.faqMain p a {
   color:#747474 !important;  
   padding:0px !important;
   font-size: 17px !important;
   display:inline !important;
   font-weight:600;
}
.faqMain p a::before
{
 content: "" !important;
}
.themeModel .modal-body{padding:29px 29px 50px !important;}
.account-detals input::placeholder { 
  font-size: 12px;
  font-style: italic;
}

.tags > li > a {   
    padding: 10px 32px 10px 14px;
    font-size: 14px ;  
}
@media screen and (max-width: 479px) {
.tags > li a{
	padding: 10px 30px 10px 10px;
    font-size: 12px ; 
    margin-right: 11px; 
}
.delete_button {	
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}
}
@media (min-width:480px) and (max-width:767px) {
.tags > li a{
	padding: 10px 30px 10px 10px;
    font-size: 14px ;  
}
}
@media (min-width:768px) and (max-width: 1199px) {

.tags > li a{
	padding: 10px 30px 10px 10px;
    font-size: 15px ;  
}
}

.themeModel .modal-header {
	background: rgba(233,62,105,1);
	background: -moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));
	background: -webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: linear-gradient(to right,rgb(155, 30, 127) 0%,rgb(208, 8, 136) 54%,rgb(200, 15, 114) 76%,rgb(200, 14, 114) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);
}
.resetMessage{display:none}
.btn-active{background:#81bf68;color: #fff;font-size: 18px;text-transform: uppercase;padding: 10px 35px;font-weight: 600;}
.prenext{float:left;color: #2aaba2;font-size: 24px;background: transparent;border: 0px;}
.datenext{float:left;color: #444;font-size: 20px;}
/*.date-select td.day.new::after{ background: #24b325; }*/

.show_hide_event {
    padding: 7px 12px;
    background: #00dbcf;
    color: #fff;
    border-radius: 0;
    font-family: 'GillSansSemiBold';
    font-size: 18px;
    margin-right: 15px;
}
.event-submit {

    background-color: #f1f1f1;
    padding: 10px;
    margin-left: -2px;
    float: left;
    width: 100%;

}
.event-submit .btn.clear {
	background-color: #d7d7d7;
	color: #4a4a4a;
	margin-right: 0px;
}
.event-submit .btn {
    font-size: 15px;
    font-family: 'GillSansSemiBold';
    border-radius: 0;
    padding: 8px;
    float: left;
    width: 100%;
}
.event-submit .col-sm-4 {

    margin: 0px;
    padding: 0px;

}
.event-submit .btn {
	font-size: 15px;
	font-family: 'GillSansSemiBold';
	border-radius: 0;
	padding: 8px;
	float: left;
	width: 98%;
	margin: 0 9px 0 3px !important;
	/* padding: 0 7px 0 2px; */
}
.event-submit .btn {
    margin-top: 6px !important;
    margin-bottom: 0px !important;
}
@media only screen and (max-width:901px)
{
.event-submit .btn {
	font-size: 10px;

}
}
@media only screen and (max-width:801px)
{
.event-submit .btn {
	font-size: 10px;

}
}

.live-event{background: #00dbcf; }

.date-select td.today { 
	color: #fff;
	background-color: transparent !important; 
	border-radius: 50%!important; 
	border-color: #ae1967!important; 
	border: 1px solid #ae1967!important; 	
	/*display: inline-block;  */ 
    
}




.date-select td.active1.today::after{ background: transparent; }
.cart_total_items {
	background: red;
	padding: 2px;
	width: 21px;
	height: 21px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -12px;
	left: -8px;
}
#loading{display:none}

/*new media query responsive*/
@media only screen and (max-width:800px) and (min-width:375px)
{
.date-select td.today a {
    color: #fff;
    background-color: transparent !important;
    border-radius: 50% !important;
    border-color: #39c7e6 !important;
    border: 1px solid #39c7e6 !important;
   
    width: 40px;
    text-align: center;
    display: inline-block;
    height: 39px;
    line-height: 35px;
}

.date-select td.today {
    color: #fff;
    background-color: transparent !important;
  
    border-color: none !important;
    border:none !important;
    float: inherit;
    width: auto;
}
.date-select td.active a {
    color: #fff;
    background: #39c7e6;
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    height: 37px;
    line-height: 30px;
    padding: 0pxdd
}
.date-select td.active {
    color: #fff;
    background: none;
    border-radius: 0px;
   /* float: left;
    width: 100%;*/
    height: auto;
}
}

.close:focus, .close:hover
{
	opacity:1.1 !important;
}
#list_user_comment{border-left:1px solid #ececec;border-bottom:1px solid #ececec;border-right:1px solid #ececec}
#list_user_comment ul{
 list-style:none
}
#list_user_comment ul>li{
 padding:10px 10px 10px 2px;
}
#list_user_comment ul>li->a{
 color:#000;
 font-size:12px;
}
#list_user_comment ul>li->a:hover {
    color: #39c7e6;
	border-color: #39c7e6;
	background-color: #f7f7f7;
}
.selected_user{color: #39c7e6;}
#comment ul {list-style:none}
.{border: 1px solid #f22020;}



footer a:focus{
    color: #fff;
    text-decoration: none;
}

.modal-open .modal {
	overflow-x: scroll !important;
	overflow-y: auto;
}

ul.footer-nav {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0;
}
ul.footer-nav li {
   
}
ul.footer-nav li a {
  font-size: 18px;
  color: #fdfdfd;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
}
footer {
  background: #282828;
  padding: 50px 0 40px;
}
footer p {
  color: #fff;
  margin: 0;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
	margin-top: 1rem !important;
}
.d-md-none {
	display: none !important;
}
.mt-5, .my-5 {
    margin-top: 6rem !important;
}
footer h5 {
  letter-spacing: 0.3px;
  margin-bottom: 4px;
}
footer a,
footer h5 {
  font-size: 15px;
  color: #fdfdfd;
}
footer a {
  letter-spacing: 0.5px;
  text-align: center;
}
footer a:hover {
  color: #fdfdfd;
  text-decoration: none;
}
footer ul.social-list {
  padding-bottom: 10px;
}
footer .app-links {
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 23px;
}
ul.social-list {
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
ul.social-list li {
  margin: 0 22px;
}
ul.social-list li a {
  display: inline-block;
  width: 34px;
  height: 34px;
}
ul.social-list li a.ico {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
ul.social-list li a.ico-insta {
  background-image: url(../img/instagram1.png);
}
ul.social-list li a.ico-twitter {
  background-image: url(../img/twitter1.png);
}
ul.social-list li a.ico-facebook {
  background-image: url(../img/facebook1.png);
}
ul.social-list li a {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}

ul.list-links {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
ul.list-links li {
  margin-bottom: 16px;
  padding: 0 32px 0 0;
}
ul.list-links a {
  font-size: 11px;
}
p.copyright,
ul.list-links a {
  color: #fff;
  text-align: center;
}
p.copyright {
  font-size: 9px;
  letter-spacing: 0;
  border-top: 1px solid #fff;
  padding-top: 15px;
}
#modal-terms .modal-dialog {
  width: 98% !important;
}
#modal-contact .modal-dialog ,#modal-terms .modal-dialog {
  max-width: calc(100% - 32px);
  margin: 16px auto;
}
#modal-contact .close {
  font-weight: 500;
  color: #282828!important;
  width: 27px;
  height: 27px;
  background-color: #fff !important;
  opacity: 1;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 27px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#modal-terms .close  {
  font-weight: 500;
  color: #fff !important;
  width: 27px;
  height: 27px;
  background-color: #282828 !important;
  opacity: 1;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 27px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#modal-contact .modal-content , #modal-terms .modal-content{
  border-radius: 0;
}
#modal-contact .modal-content .modal-header ,#modal-terms .modal-content .modal-header{
  border: none;
  padding-top: 58px;
}
#modal-contact .modal-content .modal-header .modal-title {
  font-size: 56px;
  color: #ffffff;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 1.1em;
}
#modal-terms .modal-content .modal-header .modal-title {
  font-size: 56px;
  color: #2b292d;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 1.1em;
}
.#modal-contact {
  background-image: url(../img/modal-contact-bg.jpg);
  background-position: 50%;
  background-size: cover;
}
.modal#modal-contact .modal-header {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-right: 0;
  padding-left: 0;
}
.modal#modal-contact .modal-header h5 {  
  color: #fff;
}
.modal#modal-contact .modal-header p.subtitle {
   color: #fff;
}
.modal#modal-contact .modal-body {
  padding-right: 0;
  padding-left: 0;
}
.modal#modal-contact .close {
  background-color: #fff;
  right: 6px;
  top: 6px;
}
.modal#modal-contact .modal-content {
  background-color: transparent;
  border: none;
}
.modal#modal-contact .link {
  box-shadow: none;
  height: 38px;
  min-width: 160px;
  width: 160px;
  white-space: nowrap;
  font-size: 10px;
}

.btn-theme:hover, .btn-theme:focus {
    background-color: #282828;
    color: #fff;
}

.nav-tabs {
  border: none;
  position: relative;
}
.nav-tabs:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 11900px;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.2);
}
.nav-tabs .nav-item {
  margin: 0;
  margin-right: 5px;
}
.nav-tabs .nav-item .nav-link.active {
	color: #2b292d;
}
.nav-tabs .nav-item .nav-link {
  position: relative;
  border: none;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}
.nav-tabs .nav-item .nav-link:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #000;
  display: none;
}
.nav-tabs .nav-item .nav-link.active {
  color: #2b292d;
}
.nav-tabs .nav-item .nav-link.active:after {
  display: block;
}

#terms .fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: opacity .15s linear;
}
#terms .show .active {
    display: block;
}
#privacy .active .in, #cookie .active .in{
    display: block;
}

.tab-content {
  padding-top: 60px;
}
.tab-content h4 {
  font-size: 28px;
  color: #282828;
  letter-spacing: 0;
  line-height: 1em;
  margin-top: 40px;
  margin-bottom: 25px;
}
.tab-content p {
  font-size: 24px;
  color: #2c3241;
  letter-spacing: 0;
  line-height: 1.4em;
}
ol.line-left {
  padding-left: 36px;
  position: relative;
  counter-reset: a;
  list-style: none;
}
ol.line-left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-image: linear-gradient(180deg, #b66da9, #81aada);
}
ol.line-left li {
  margin-bottom: 20px;
  font-size: 24px;
  color: #2c3241;
  letter-spacing: 0;
  line-height: 1.4em;
  counter-increment: a;
}
ol.line-left li:before {
  content: counter(a) ". ";
}
.form-submit.text-right {
	margin-top: 35px;
	padding-top: 0px;
}
.form-submit {
	margin: 27px 0px 0px 0px;
}
.form-submit {
	margin: 27px 0px 0px 0px;
}

.modal#modal-contact .modal-content .form-group {
  background: rgba(22, 0, 132, 0.2);
  border-radius: 2.84px;
  padding: 2px 8px 8px;
}
.modal#modal-contact .modal-content .form-group label {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-bottom: 2px;
}
.modal#modal-contact .modal-content .form-group input.form-control,
.modal#modal-contact .modal-content .form-group textarea.form-control {
  background: hsla(0, 0%, 100%, 0.1);
  border: none !important;
  color: #fff;
  border-radius: 2.13px;
  font-size: 12px;
  height: 28px;
}
.modal#modal-contact .modal-content .form-group input.form-control:focus,
.modal#modal-contact .modal-content .form-group textarea.form-control:focus {
  background-color: #fff;
  box-shadow: none;
  color: #000;
}
.modal#modal-contact .modal-content .form-group textarea.form-control {
  height: 280px;
  resize: none;
}
  #modal-terms .modal-content, #modal-contact .modal-content {
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5); */
	/* box-shadow: 0 5px 15px rgba(0,0,0,.5); */
	}
@media screen and (max-width: 991px) {
  ul.footer-nav {
    justify-content: center;
    flex-direction: column;
	text-align: center;
	}
	ul.footer-nav li {
		padding: 0 0px 20px 0;
	}
	.row.align-items-lg-end {
    text-align: center;
	}
	ul.social-list {
		justify-content: center;
		padding: 30px 0 0 0;
	}
}
@media screen and (max-width: 1199px) {
 ul.footer-nav {
    text-align: center;
    display: block;
}
.row.align-items-lg-end {
    text-align: center;
	}
	ul.social-list {
		justify-content: center;
		padding: 30px 0 0 0;
	}
}
@media only screen and (max-width: 1450px) and (min-width: 993px) {
  .modal#modal-contact .modal-body {
    width: 690px !important;
    margin: 0 auto;
  }
   .modal#modal-contact .modal-header h5 {
    font-size: 35px !important;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 19px !important;
  }
  .modal#modal-contact .modal-content {    
    top: 37%!important;    
  }
  
 }
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 50px;
  }
  p.subtitle {
    font-size: 19px;
  }
  section.discover .app-links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  section.discover .app-links .link {
    margin-bottom: 12px;
  }
  section.own_app {
    padding-top: 140px;
  }
  section.own_app img.mobile {
    margin-top: 0;
  }
  footer {
    padding-bottom: 16px;
  }
  footer .border-md-right,
  footer .border-md-top {
    border: none;
  }
  footer .border-lg-right {
    border-right: 1px solid #fff;
  }
  footer h5 {
    text-align: left;
  }
  footer ul.list-links {
    margin: 0;
  }
  footer ul.list-links li {
    text-align: left;
  }
  footer p.copyright {
    border: none;
    text-align: left;
  }
  footer {
    padding: 32px 0;
  }
  footer p,
  footer p a {
    font-size: 15px;
  }
  ul.footer-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 30px;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  ul.footer-nav li {
    margin-bottom: 0;
    margin-right: 10px;
  }
  ul.footer-nav li a {
    /*font-size: 10px;*/
  }
  footer ul.social-list {
    margin: 0;
    padding: 0;
  }
  ul.social-list li {
    margin: 0 8px 0 0;
  }
  ul.social-list li a {
    width: 17px;
    height: 17px;
  }
  .modal#modal-contact {
    background-image: url(../img/modal-contact-bg-desktop.jpg);
    background-position: 50%;
	background-size: cover;
  }
   .form-group {
    margin-bottom: 22px;
  }
  .modal-title {
	color: #fff;
}
  .modal#modal-contact .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .modal#modal-contact .modal-content {
    max-width: 690px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal#modal-contact .modal-header {
    padding-top: 0;
    padding-bottom: 20px;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .modal#modal-contact .modal-header h5 {
    font-size: 35px;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 19px;
  }
  .modal#modal-contact .modal-body {
    width: 690px;
    margin: 0 auto;
  }
  .modal#modal-contact .close {
    background-color: #fff;
    right: 0;
    top: 6px;
  }
  .modal#modal-contact .modal-content {
    background-color: transparent;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 75px;
  }
  p.subtitle {
    font-size: 37px;
  }
  footer ul.social-list {
    border: none;
  }
  footer ul.list-links {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  footer ul.list-links li {
    width: 33.33%;
    text-align: center;
  }
  footer .app-links {
    border: none;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .app-links .link {
    margin-bottom: 12px;
  }
  footer .border-md-top {
    border-top: 1px solid #fff;
    padding-top: 30px;
  }
  footer .border-md-right {
    border-right: 1px solid #fff;
  }
  #modal-terms .modal-content .modal-header .modal-title, #modal-contact .modal-content .modal-header .modal-title {
    font-size: 56px;
  }

	

  #modal-terms .modal-body,
  #modal-terms .modal-header,
  #modal-contact .modal-body,
  #modal-contact .modal-header
  {
    padding: 0 65px;
  }
  #modal-terms .modal-header , #modal-contact .modal-header{
    padding-bottom: 60px;
    padding-top: 65px;
  }
  .modal#modal-contact {
    background-image: url(../img/modal-contact-bg-tablet.jpg);
  }
  .modal#modal-contact .modal-header {
    padding-bottom: 20px;
  }
  .modal#modal-contact .modal-header h5 {
    font-size: 75px;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 37px;
  }
  .modal#modal-contact .modal-body {
    width: 336px;
    margin: 0 auto;
  }
  .modal#modal-contact .close {
    background-color: #fff;
    right: 6px;
    top: 6px;
  }
  .modal#modal-contact .modal-content {
    background-color: transparent;
    border: none;
  }
}
.link {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 50px;
	min-width: 206px;
	width: auto;
	height: 49px;
	background-color: #fff;
	box-shadow: 0 17px 18px 0 rgba(0, 0, 0, 0.5);
	border-radius: 90px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #121212;
}
.tab-content > .active {
	display: block;
}
.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.btn-primary {
	color: #fff;
	background-color: #ab0c63;
	border-color: #ab0c63;
}
.btn-secondary {
	color: #fff;
	background-color: #282828;
	border-color: #282828;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #ab0c63;
	border-color: #ab0c63;
}
