/***header***/
* {
	/* margin: 0; */
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
}
header {
    background-color: #000;
    height: 100px;
}
header .img-responsive {
    width: 95px;
    height: auto;
    margin-top: 17px;
}
.modal1 {    
    margin-top: 64px !important;
    bottom: 51px !important;
    position: relative;
}
fa {
   
    content:"/f16d";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*      Theme Model Box
=============================*/

.themeModel1 .modal-dialog{width:100%;margin:100px auto 0px;max-width:580px;}
.themeModel1 .modal-header {
	background: rgba(233,62,105,1);
	background: -moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));
	background: -webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: -ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);
	background: linear-gradient(to right,rgb(155, 30, 127) 0%,rgb(208, 8, 136) 54%,rgb(200, 15, 114) 76%,rgb(200, 14, 114) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);
}
.text_small{font-size:15px;text-align:center;color:#ffffff;font-weight:600;}
.themeModel1 .modal-title{font-size:23px;text-align:center;color:#ffffff;font-weight:600;}
.themeModel1 .modal-header{padding-bottom:15px 0px;position:relative;justify-content: center;}
.themeModel1 .modal-body{padding:45px 30px 50px;}
input:focus ~ .floating-label,input:not(:focus):valid ~ .floating-label{top:5px;bottom:10px;left:20px;font-size:14px;opacity:1;}
.themeModel1 .themeForm .inputText{font-size:16px;height:45px;border-color:rgba(114,114,114,0.25);border-style:solid;border-width:0 0px 1px 0px;border-radius:0px;box-shadow:none;padding:10px 15px 10px 40px;font-weight:400;letter-spacing:1px;}
.inputText:focus{box-shadow:none;border-color:#282828;}
.floating-label{position:absolute;pointer-events:none;left:20px;top:28px;transition:0.2s ease all;font-size:15px;}
.inputIcon-grp{position:relative;}
.inpIcon{position:absolute;left:0px;width:30px;text-align:center;top:0px;bottom:0px;margin:auto;line-height:42px;}
.form-submit.text-right{margin-top:35px;padding-top:0px;}
.forg-pwd > a{font-size:16px;color:#9b9b9b;}
.logSwitch{float:left;padding:15px 0px;color:#9b9b9b;}
.logSwitch > a{color:#9b9b9b;font-size:18px;text-transform:uppercase;font-weight:600;}
.logSwitch::after{float:none;content:"";display:block;}
.forg-pwd{margin:35px 0px;}
.btn-theme{background-color:#ab0c63 !important;color:#fff!important;font-size:18px;text-transform:uppercase;padding:10px 35px;font-weight:600;}
.btn-theme:hover, .btn-theme:focus{background-color:#282828;color:#fff;}
.forg-pwd > a:hover,.logSwitch > a:hover{color:#282828;}
.fb-login{text-align:center;}
.fb-login > a{text-align:center;background-color:#3e5b93;display:inline-block;padding:12px 30px;color:#fff;font-size:16px;text-transform:uppercase;font-weight:600;line-height:27px;border-bottom:1px solid #3e5b93;}
.fb-login > a:hover{background-color:#4267b2;border-bottom:1px solid #4267b2;color:#fff}
.fb-login a > i{font-size:25px;vertical-align:middle;margin-right:20px;}
.or-divider{display:block;text-align:center;margin:25px 0px 15px;text-transform:uppercase;font-weight:600;`
font-size:18px;}
.close{position:absolute;top:15px;right:15px;color:#fff;opacity:1;font-size:30px;}
.modal-open .modal {
	overflow-x: scroll !important;
	overflow-y: auto;
}
.modal-open .modal1 {
	overflow-x: scroll !important;
	overflow-y: auto;
}
.fb-login > a {
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 27px;
}

.fb-login a > i {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 20px;
    background: #3e5b93;
}

.error
{
	color: #f63939;
	font-size: 13px;
	font-weight: normal;
}
#modal-contact .error
{
	color: #f63939 #ffa9a9 !important;
	font-size: 13px #ffa9a9 !important;
	font-weight: normal #ffa9a9 !important;
}
.themeModel .modal-dialog {
	width: 100%;
	margin: 82px auto 82px;
	max-width: 580px;
	background: #fff;
	box-shadow: -2px 10px 11px 8px #d4d4d4;
}
ul.footer-nav {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0;
}
ul.footer-nav li {
   
}
ul.footer-nav li a {
  font-size: 18px;
  color: #fdfdfd;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
}
footer {
  background: #282828;
  padding: 50px 0 40px;
}
footer p {
  color: #fff;
  margin-bottom: 0;
}
footer h5 {
  letter-spacing: 0.3px;
  margin-bottom: 4px;
}
footer a,
footer h5 {
  font-size: 15px;
  color: #fdfdfd;
}
footer a {
  letter-spacing: 0.5px;
  text-align: center;
}
footer a:hover {
  color: #fdfdfd;
  text-decoration: none;
}
footer ul.social-list {
  padding-bottom: 10px;
}
footer .app-links {
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 23px;
}
ul.social-list {
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
ul.social-list li {
  margin: 0 22px;
}
ul.social-list li a {
  display: inline-block;
  width: 34px;
  height: 34px;
}
ul.social-list li a.ico {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
ul.social-list li a.ico-insta {
  background-image: url(../img/instagram1.png);
}
ul.social-list li a.ico-twitter {
  background-image: url(../img/twitter1.png);
}
ul.social-list li a.ico-facebook {
  background-image: url(../img/facebook1.png);
}
ul.social-list li a {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}

ul.list-links {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
ul.list-links li {
  margin-bottom: 16px;
  padding: 0 32px 0 0;
}
ul.list-links a {
  font-size: 11px;
}
p.copyright,
ul.list-links a {
  color: #fff;
  text-align: center;
}
p.copyright {
  font-size: 9px;
  letter-spacing: 0;
  border-top: 1px solid #fff;
  padding-top: 15px;
}

.modal .modal-dialog {
  max-width: calc(100% - 32px);
  margin: 16px auto;
}
.modal .close {
  font-weight: 500;
  color: #fff;
  width: 27px;
  height: 27px;
  background-color: #282828;
  opacity: 1;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 27px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal .modal-content {
  border-radius: 0;
}
.modal .modal-content .modal-header {
  border: none;
  padding-top: 58px;
}
.modal .modal-content .modal-header .modal-title {
  font-size: 56px;
  color: #2b292d;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 1.1em;
}

.modal#modal-contact {
  background-image: url(../img/modal-contact-bg.jpg);
  background-position: 50%;
  background-size: cover;
}
.modal#modal-contact .modal-header {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-right: 0;
  padding-left: 0;
}
.modal#modal-contact .modal-header h5 {  
  color: #fff;
}
.modal#modal-contact .modal-header p.subtitle {
   color: #fff;
}
.modal#modal-contact .modal-body {
  padding-right: 0;
  padding-left: 0;
}
.modal#modal-contact .close {
  background-color: #fff;
  right: 6px;
  top: 6px;
}
.modal#modal-contact .modal-content {
  background-color: transparent;
  border: none;
}
.modal#modal-contact .link {
  box-shadow: none;
  height: 38px;
  min-width: 160px;
  width: 160px;
  white-space: nowrap;
  font-size: 10px;
}

.btn-theme:hover, .btn-theme:focus {
    background-color: #282828;
    color: #fff;
}

.nav-tabs {
  border: none;
  position: relative;
}
.nav-tabs:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 11900px;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.2);
}
.nav-tabs .nav-item {
  margin: 0;
  margin-right: 5px;
}
.nav-tabs .nav-item .nav-link.active {
	color: #2b292d;
}
.nav-tabs .nav-item .nav-link {
  position: relative;
  border: none;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}
.nav-tabs .nav-item .nav-link:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #000;
  display: none;
}
.nav-tabs .nav-item .nav-link.active {
  color: #2b292d;
}
.nav-tabs .nav-item .nav-link.active:after {
  display: block;
}
.tab-content {
  padding-top: 60px;
}
.tab-content h4 {
  font-size: 28px;
  color: #282828;
  letter-spacing: 0;
  line-height: 1em;
  margin-top: 40px;
  margin-bottom: 25px;
}
.tab-content p {
  font-size: 24px;
  color: #2c3241;
  letter-spacing: 0;
  line-height: 1.4em;
}
ol.line-left {
  padding-left: 36px;
  position: relative;
  counter-reset: a;
  list-style: none;
}
ol.line-left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-image: linear-gradient(180deg, #b66da9, #81aada);
}
ol.line-left li {
  margin-bottom: 20px;
  font-size: 24px;
  color: #2c3241;
  letter-spacing: 0;
  line-height: 1.4em;
  counter-increment: a;
}
ol.line-left li:before {
  content: counter(a) ". ";
}
.form-submit.text-right {
	margin-top: 35px;
	padding-top: 0px;
}
.form-submit {
	margin: 27px 0px 0px 0px;
}
.form-submit {
	margin: 27px 0px 0px 0px;
}

.modal#modal-contact .modal-content .form-group {
  background: rgba(22, 0, 132, 0.2);
  border-radius: 2.84px;
  padding: 2px 8px 8px;
}
.modal#modal-contact .modal-content .form-group label {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-bottom: 2px;
}
.modal#modal-contact .modal-content .form-group input.form-control,
.modal#modal-contact .modal-content .form-group textarea.form-control {
  background: hsla(0, 0%, 100%, 0.1);
  border: none !important;
  color: #fff;
  border-radius: 2.13px;
  font-size: 12px;
  height: 28px;
}
.modal#modal-contact .modal-content .form-group input.form-control:focus,
.modal#modal-contact .modal-content .form-group textarea.form-control:focus {
  background-color: #fff;
  box-shadow: none;
  color: #000;
}
.modal#modal-contact .modal-content .form-group textarea.form-control {
  height: 280px;
  resize: none;
}

@media screen and (max-width: 991px) {
  ul.footer-nav {
    justify-content: center;
    flex-direction: column;
	text-align: center;
	}
	ul.footer-nav li {
		padding: 0 0px 20px 0;
	}
}
@media only screen and (max-width: 1450px) and (min-width: 993px) {
  .modal#modal-contact .modal-body {
    width: 690px !important;
    margin: 0 auto;
  }
   .modal#modal-contact .modal-header h5 {
    font-size: 35px !important;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 19px !important;
  }
 }
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 50px;
  }
  p.subtitle {
    font-size: 19px;
  }
  section.discover .app-links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  section.discover .app-links .link {
    margin-bottom: 12px;
  }
  section.own_app {
    padding-top: 140px;
  }
  section.own_app img.mobile {
    margin-top: 0;
  }
  footer {
    padding-bottom: 16px;
  }
  footer .border-md-right,
  footer .border-md-top {
    border: none;
  }
  footer .border-lg-right {
    border-right: 1px solid #fff;
  }
  footer h5 {
    text-align: left;
  }
  footer ul.list-links {
    margin: 0;
  }
  footer ul.list-links li {
    text-align: left;
  }
  footer p.copyright {
    border: none;
    text-align: left;
  }
  footer {
    padding: 32px 0;
  }
  footer p,
  footer p a {
    /*font-size: 8px;*/
  }
  ul.footer-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 30px;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  ul.footer-nav li {
    margin-bottom: 0;
    margin-right: 10px;
  }
  ul.footer-nav li a {
    /*font-size: 10px;*/
  }
  footer ul.social-list {
    margin: 0;
    padding: 0;
  }
  ul.social-list li {
    margin: 0 8px 0 0;
  }
  ul.social-list li a {
    width: 17px;
    height: 17px;
  }
   .modal#modal-contact {
    background-image: url(../img/modal-contact-bg-desktop.jpg);
  }
   .form-group {
    margin-bottom: 22px;
  }
  .modal#modal-contact .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .modal#modal-contact .modal-content {
    max-width: 690px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal#modal-contact .modal-header {
    padding-top: 0;
    padding-bottom: 20px;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .modal#modal-contact .modal-header h5 {
    font-size: 35px;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 19px;
  }
  .modal#modal-contact .modal-body {
    width: 690px;
    margin: 0 auto;
  }
  .modal#modal-contact .close {
    background-color: #fff;
    right: 0;
    top: 6px;
  }
  .modal#modal-contact .modal-content {
    background-color: transparent;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 75px;
  }
  p.subtitle {
    font-size: 37px;
  }
  footer ul.social-list {
    border: none;
  }
  footer ul.list-links {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  footer ul.list-links li {
    width: 33.33%;
    text-align: center;
  }
  footer .app-links {
    border: none;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .app-links .link {
    margin-bottom: 12px;
  }
  footer .border-md-top {
    border-top: 1px solid #fff;
    padding-top: 30px;
  }
  footer .border-md-right {
    border-right: 1px solid #fff;
  }
  .modal .modal-content .modal-header .modal-title {
    font-size: 56px;
  }
  .modal .modal-body,
  .modal .modal-header {
    padding: 0 65px;
  }
  .modal .modal-header {
    padding-bottom: 60px;
    padding-top: 65px;
  }
  .modal#modal-contact {
    background-image: url(../img/modal-contact-bg-tablet.jpg);
  }
  .modal#modal-contact .modal-header {
    padding-bottom: 20px;
  }
  .modal#modal-contact .modal-header h5 {
    font-size: 75px;
  }
  .modal#modal-contact .modal-header p.subtitle {
    font-size: 37px;
  }
  .modal#modal-contact .modal-body {
    width: 336px;
    margin: 0 auto;
  }
  .modal#modal-contact .close {
    background-color: #fff;
    right: 6px;
    top: 6px;
  }
  .modal#modal-contact .modal-content {
    background-color: transparent;
    border: none;
  }
}
.link {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 50px;
	min-width: 206px;
	width: auto;
	height: 49px;
	background-color: #fff;
	box-shadow: 0 17px 18px 0 rgba(0, 0, 0, 0.5);
	border-radius: 90px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #121212;
}
#sending_msg{font-size:12px;color:#fff}
