.examples .mentions-input-box {
    margin-bottom: 10px;
    font-size: 14px;
}

.examples .mentions-input-box textarea {
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 14px;
}



code, pre, tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    color: #294555;
}

code {
    margin-left: 20px;
}

pre {
    font-size: 12px;
    padding: 2px 0 2px 12px;
    border-left: 6px solid #99aabb;
    margin: 0px 0 30px;
}

.button {
    display: inline-block;
    line-height: 24px;
    margin-bottom: 4px;
    font-weight: normal;
    text-shadow: none;
    padding: 1px 10px 1px 10px;
    white-space: nowrap;
    cursor: pointer;

    border-radius: 5px;

    background: #eaeaea;
    background: -moz-linear-gradient(top, hsl(0, 0%, 96%), #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    border: 1px solid #dcdcdc;
    color: #525252;
}
.comment_dete img{
   position: relative !important;
	right: 0 !important;
	top: 0 !important;
	width: 16px !important;
	height: 16px !important;
}
@media only screen and (max-width: 412px) {
.responsive-add{
width: 71%;
}
}
.comment_img{float:right}
