body{margin:0;}
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
img{max-width: 100%;}
body.video-bg-body{background: url('../img/video-bg.jpg') no-repeat center top;background-size:cover;min-height:100vh;}
.video-section{width:100%;padding:110px 15px;}
.video-section-main-inner{max-width:1200px;margin:0 auto;position:relative;}
.video-section-main{ width:100%;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;overflow:hidden;}
.video-section-main iframe{width: 100%; height:675px;}
.close-video-pop{position:absolute;top:-15px;right:-15px;}
.hide{display:none;}

/* Responsive CSS */

@media screen and (max-height:910px){
	.video-section-main-inner{max-width:91%;}	
	.video-section-main iframe {height: 546px;}
}

@media screen and (max-width:1230px){
	.video-section-main-inner{max-width:967px;}	
	.video-section-main iframe {height: 546px;}
}

@media screen and (max-width:991px){
	.video-section-main-inner{max-width:750px;}	
	.video-section-main iframe {height: 422px;}
}

@media screen and (max-width:767px){
	.close-video-pop{ right: -10px; top: -10px; }
	.close-video-pop img{max-width: 20px;}
	.video-section{padding:30px;}
	.video-section-main-inner{max-width:580px;}	
	.video-section-main iframe {height:325px;}
	.video-section-main{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
}

@media screen and (max-width:639px){
	.video-section-main-inner{max-width:420px;}	
	.video-section-main iframe {height: 236px;}
}

@media screen and (max-width:479px){
	.video-section-main-inner{max-width:300px;}	
	.video-section-main iframe {height: 169px;}
}

@media screen and (max-width:359px){
	.video-section{ padding: 20px; }
	.video-section-main-inner{max-width:280px;}	
	.video-section-main iframe {height:157px;}
}

