@charset 'utf-8';

/* CSS Document */
@media screen and (max-width:1520px){
	.hd-vchr{display:block;}
	.vc-left{margin-bottom:15px;}
	.hd-vchr > div{display:block;width:100%;text-align:center;}
	.Revenue-box h2{font-size:20px;}
	.bx-single p{min-height:44px;}
}
@media screen and (max-width:1450px){
	.selectOne{max-width:189px;margin-right:10px;}
}
@media screen and (max-width:1367px){
	.tasti-slider .owl-nav .owl-prev{left:-40px;}
	.tasti-slider .owl-nav .owl-next{right:-40px;}
	.tasti-slider .owl-nav .owl-prev,.tasti-slider .owl-nav .owl-next{width:45px;height:45px;font-size:37px!important;}
}
@media screen and (max-width:1366px){
	.box-lf{width:60px;height:60px;line-height:60px;}
	.bx-single{margin-left:70px;}
	.admin-logo,.das-sidebar{width:280px;}
	.hdr-right,.cont-right{margin-left:280px;}
	ul.main-nav li > a{font-size:16px;}
	ul.main-nav li > a img{top:19px;width:26px;}
	.usrarea> a{font-size:18px;}
}
@media screen and (min-width:1199px){
	.marchant-detail.row-eq-height{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
	.Impressions,.marchant-left{height:100%;}
	.bloc-total.row-eq-height{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
}
@media screen and (max-width:1199px){
	.video-section-main-left{ width: 450px; }
	.about-work{padding:60px 0px;}
	.about-desc h3{font-size:28px;}
	.main-inr-ttl > h2{font-size:36px;}
	.main-ttl > h2{font-size:36px;}
	.testimonial,.our-services{padding:60px 0px;}
	.main-ttl{margin:0px 0px 60px;}
	.download-app h1{font-size:40px;}
	.inner-banner{min-height:305px;}
	.inner-banner .banner-cont{padding:135px 0px 0px;}
	.main-menu > li{padding:0px 10px;margin-right:5px;}
	.main-menu.nav > li > a{font-size:14px;}
	.round-btn{padding:5px 15px;font-size:14px;}
	.inner-banner .banner-cont > h2{font-size:32px;}
	.price-qtty > h2{font-size:44px;}
	.price-qtty h2 > small{font-size:15px;line-height:18px;}
	.main-ttl > p{padding-top:15px;line-height:24px;font-size:15px;}
	.serv-desc > p{margin-bottom:15px;font-size:14px;}
	.serv-desc{padding:15px;}
	.serv-desc > h4{font-size:16px;margin-bottom:10px;line-height:20px;}
	.banner-btns a{font-size:16px;padding:10px 20px;}
	.boxCard h4{font-size:17px;}
	.radio > label{font-size:15px;}
	.datePicker_ttl h5{font-size:15px;}
	.themeForm .form-control{font-size:15px;padding:5px 15px;height:38px;}
	.weak-List > li > a{width:40px;height:40px;line-height:28px;font-size:16px;padding:5px;}
	.form-srch{height:40px;padding:5px 15px;font-size:15px;}
	.tags > li > a{padding:6px 15px;font-size:15px;}
	.tags > li{margin-right:10px;margin-top:20px;}
	.btn-theme{font-size:16px;padding:8px 20px;}
	.form-submit{padding-top:30px;}
	.create-vouch-desc{padding:30px 0px 50px;}
	.pricing-plan h2{font-size:60px;}
	.price-crcl smal{font-size:18px;line-height:24px;}
	.voucher-model .modal-body{padding:55px 25px 30px;}
	.vouch-desc > h3{font-size:24px;}
	.vouch-desc li > h5{font-size:16px;}
	.vouch-desc li > p,.vouch-desc li ul > li{font-size:14px;line-height:22px;}
	.vouch-desc > ul > li{margin-bottom:20px;}
	.themeModel .lg-model{max-width:965px;}
	.vouch-details{padding:0px 15px;}
	.Revenue-box{margin-bottom:33px;}
	.dashbord-total{margin-bottom:0;}
	.voucher-bx{margin-bottom:20px;}
	.total-no{margin-bottom:10px;}
	.marchant-left{margin-bottom:25px;}
	.call-us h2{font-size:26px;}
	.price-check-right{ margin-left: 20px; }
}
@media screen and (max-width:1024px){
	.admin-logo,.das-sidebar{width:200px;}
	.hdr-right,.cont-right{margin-left:200px;}
	ul.main-nav li > a{font-size:14px;padding:12px 25px 12px 50px;}
	ul.main-nav > li .arrow-toggle{margin-top:12px;font-size:18px;right:8px;}
	ul.main-nav li > a img{top:14px;width:15px;left:16px;}
	.btn-toggle{margin-top:0px;top:10px;}
	.das-sidebar{top:60px;}
	ul.list-left li a{font-size:16px;}
	ul.list-left li .badge{padding:3px 5px;font-size:10px;}
	ul.list-left li{padding:18px 20px;}
	.srh-bar{padding:9px 15px;}
	.srh-bar .btn-searh{top:14px;right:28px;}
	.hd-md-right{padding:0px 25px;}
	.cnt_mid{margin-top:58px;}
	.srh-bar .form-control{padding:6px 10px;}
	.cont-right{padding:22px;}
	.lcmain{padding-top:0;}
}
@media screen and (max-width:991px){
	.vouchers-location-pic{ margin-bottom:30px; text-align: center; width: 100%; }
	.video-section-main-left{ width: 100%; }
	.video-section-main{ display: block; }
	.video-section-main .btn{ margin-top: 25px; }
	.video-section-main-right{ width: 100%; }
	.log-logo img{max-width:175px;}
	.login-box h4{font-size:20px;margin-bottom:10px;}
	.login-box > p{font-size:16px;margin-bottom:20px;}
	.login-box{max-width:400px;padding:30px 35px 45px;}
	.log-logo{margin-bottom:25px;}
	.login-form .btn-theme{padding:8px 15px;}
	.log-fog-pwd{margin:15px 0px;}
	.coming-desc > h2{font-size:30px;margin:25px 0px 15px;}
	.coming-logo img{max-width:130px;}
	.coming-desc > p{line-height:26px;}
	.counting{font-size:60px;line-height:40px;margin-bottom:20px;}
	.time-col{padding:20px;margin-right:15px;width:135px;height:125px;}
	.bnr-left{padding-left:50px;}
	.main-ttl > h2{font-size:28px;}
	.about-desc h3{font-size:24px;}
	.home .header .container,.banner .container{max-width:100%;}
	.container{width:100%;}
	.phone-rt{padding:0px 20px;}
	.phone-rt img{max-width:250px;}
	.download-app h1{font-size:28px;}
	.download-app > p{font-size:16px;margin:10px 0px 20px;}
	.application li a{padding:5px 10px;min-width:165px;}
	.about-desc h3{margin:10px 0px;}
	.about-desc p{font-size:16px;}
	.about-img img{max-width:335px;}
	.about-work{padding:45px 0px;}
	.video-frame{margin-bottom:40px;}
	.main-inr-ttl > h2{font-size:28px;}
	.test-lead > p{line-height:24px;font-size:16px;}
	.tasti-slider .owl-nav .owl-prev{left:-10px;}
	.tasti-slider .owl-nav .owl-next{right:-10px;}
	.client-desc i.fa{font-size:44px;}
	.test-lead > p{line-height:24px;font-size:15px;}
	.client-desc{padding:45px 70px 15px;}
	.clnt-name h4{font-size:18px;}
	.clnt-name p{font-size:14px;}
	.copyright{padding-top:30px;}
	.infoLink > ul > li > a{padding:5px 0px;}
	.aboutItem-row{margin-bottom:25px;}
	.main-inr-ttl{margin-bottom:25px;}
	.vedio-cont p{font-size:15px;}
	.testimonial{padding:40px 0px;}
	.main-ttl{margin:0px 0px 40px;}
	.header-menu{padding:0px;}
	.round-btn{padding:6px 15px;font-size:14px;line-height:20px;}
	.navbar-brand > img{width:90px;}
	.col-3.ftr-right{padding:20px 0px 20px 20px;}
	.footer-top h4{font-size:16px;}
	.basic-links{padding-left:10px;}
	.infoLink > ul > li > a{padding:2px 0px;font-size:14px;}
	.application li p span{font-size:15px;}
	.st-appiocn{font-size:24px;padding-right:10px;}
	.account-profile{padding:25px;}
	.themeForm .form-control{font-size:15px;}
	.price-qtty p{font-size:15px;}
	.btn-theme{font-size:16px;padding:8px 25px;}
	.main-menu > li > a{font-size:14px;}
	.round-btn{padding:4px 10px;font-size:13px;}
	.main-menu > li{padding:0px 8px;margin-right:0px;}
	.audience{padding-bottom:45px;}
	.inside-ttl h4{font-size:24px;margin-bottom:10px;}
	.inside-ttl p{font-size:16px;}
	.pst-cont{font-size:20px;}
	.serv-item{width:50%;margin-bottom:20px;}
	.serv-img > img{width:100%;object-fit:cover;object-position:top;}
	.our-services{padding:40px 0px;}
	.services-list{padding-top:50px;}
	.prof-details h4{font-size:18px;margin-bottom:10px;}
	.prof-details > p{font-size:14px;margin-bottom:10px;}
	.prof-pic{width:120px;height:120px;}
	.inner-banner .banner-cont > h2{font-size:24px;}
	.card-inner{padding:20px;}
	.weak-List > li > a{width:34px;height:34px;line-height:22px;font-size:13px;padding:5px;}
	.weak-List > li{margin-right:6px;}
	.repeat-day{padding-top:5px;}
	.upload-drop-zone{min-height:238px;}
	.image-preview-input{height:40px;min-width:195px;font-size:14px;line-height:20px;}
	.image-preview-input .fa-cloud-upload{font-size:18px;padding:7px;}
	.upload-file > p{font-size:15px;}
	.btn-theme{font-size:14px;padding:6px 20px;}
	.input_date_grp{display:block;}
	.input_date_grp > span{right:0px;}
	.col-half{padding-left:20px;}
	.filed_row{margin-left:-15px;}
	.boxCard h4{font-size:15px;}
	.radio > label{font-size:14px;}
	.pricing-plan{max-width:325px;}
	.price-crcl{padding:25px 20px 40px;}
	.plan-desc{padding:25px;}
	.price-crcl span{font-size:35px;}
	.pricing-plan h2{font-size:44px;}
	.pricing-plan p{font-size:18px;}
	.price-crcl small{width:38px;font-size:14px;line-height:22px;margin-left:-5px;}
	.pricing-plan p{font-size:16px;line-height:24px;}
	.plan-desc p strong,.price-desc p strong{font-size:16px;}
	.price-desc{padding:30px 0px;}
	.price-desc > p{font-size:16px;}
	.p-icon > img{max-width:75px;}
	.price-feature p{font-size:16px;}
	.price-feature .p-icon{margin-bottom:15px;min-height:105px;}
	.pricing-card{margin-top:-80px;}
	.themeModel .lg-model{max-width:750px;}
	.vouch-desc > h3{font-size:20px;margin-bottom:20px;}
	.vouch-desc{padding-left:25px;}
	.vouch-details{padding:0px;}
	.vouch-desc li > h5{font-size:14px;}
	.vouch-desc li > p,.vouch-desc li ul > li{font-size:13px;line-height:20px;}
	.voucher-model .modal-body{padding:40px 25px 20px;}
	.themeModel .modal-header{padding:25px 15px;}
	.themeModel .modal-title{font-size:19px;}
	.fb-login > a{padding:8px 25px;font-size:14px;}
	.themeModel .themeForm .inputText{font-size:14px;height:42px;}
	.logSwitch > a{font-size:16px;}
	.logSwitch{font-size:15px;}
	.forg-pwd > a{font-size:14px;}
	.bx-single p{min-height:inherit;}
	.call-us{float:left;width:100%;}
	.lcmain{padding-bottom:30px;}
	.msg-banner{min-height:445px;}
	.msg-content h2{font-size:26px;}
	.header-menu .main-menu,.header-menu .nav-top-menu{padding:25px 0px;}
	.navbar-header{padding-left:0px;}
	.my-account-pro-left{ width: 100%; }
	.my-account-pro-right{ text-align: center; padding: 0 0 40px 0; width: 100%; }
	.form-submit-bottom .pull-left .btn {font-size: 14px;padding: 8px 15px;}
}
@media screen and (max-width:800px){
	.about-img img{max-width:340px;}
	.abt-icon > img{max-width:48px;}
	.abt-icon{width:100px;height:100px;line-height:100px;}
	.about-desc{padding-left:25px;}
	.about-desc h3{font-size:20px;}
	.about-desc p{font-size:15px;line-height:22px;}
	.about-img{padding-right:25px;}
	.aboutItem-row:nth-child(2n+1) .about-desc{padding-right:25px;}
	.aboutItem-row:nth-child(2n+1) .about-img{padding-left:25px;}
	.st-appiocn{font-size:26px;padding-right:5px;}
	.basic-links{padding-left:10px;}
	.col-3.ftr-right{font-size:14px;padding:20px 0px 20px 15px;}
	.application li p span{font-size:14px;}
	.infoLink > ul > li > a{padding:3px 0px;font-size:14px;}
	.footer-top h4{margin-bottom:15px;font-size:16px;}
	.inner-page-header .navbar-header{padding-left:15px;}
}
@media screen and (max-width:767px){
	.account-confirm{ padding-bottom: 30px; background-size:150px; }
	.moola-clogo{ width: 100%; position: static; text-align: center; padding-top:20px; }
	.video-section-main-left iframe{ height: 200px; }
	.video-section-main-left{ padding-bottom:15px; }
	.video-section-row{ padding:40px 0; }
	.video-section-main h2, .video-section-main h3{ font-size: 27px; margin: 0 0 10px 0; }
	.map-frame iframe{ height:200px; }
	.form-submit-bottom .pull-left{ width: 100%; float: none !important;}
	.form-submit-bottom .pull-left .btn{ width: 100%; margin:0px 0 10px 0; text-align: center; }
	.navbar-brand > img{width:60px;}
	.phone-rt{margin-top:0px;}
	.navbar-toggle .icon-bar{background-color:#fff;border-radius:0px;height:3px;}
	.navbar-toggle{border:1px solid transparent;border-radius:0;}
	.navbar-toggle{margin-top:15px;margin-bottom:15px;margin-right:5px;}
	.brand-logo{padding:10px 15px;}
	.header-menu{padding:0px;background-color:#fff;}
	.nav-top-menu{display:none!important;}
	.header-menu .main-menu{display:block;text-align:left;float:left;width:100%;margin:auto;padding:0px;}
	.main-menu > li > a:hover::after,.main-menu > li.active > a::after{display:none;}
	.main-menu > li > a{border-bottom:1px solid #ddd;color:#38404b;}
	.bnr-left{width:100%;padding-left:0px;text-align:center;}
	.bnr-right{width:100%;text-align:center;}
	.download-app h1{font-size:18px;}
	.application li a{padding:2px 10px;margin-bottom:10px;}
	.aboutItem-row{margin-bottom:0px;}
	.download-app > p{font-size:14px;margin:10px 0px;}
	.main-ttl > h2{font-size:22px;}
	.about-img{padding-right:0px;width:100%;text-align:center;}
	.about-desc{padding-left:0px;width:100%;text-align:center;margin:30px 0px;}
	.abt-icon{margin:auto;}
	.main-inr-ttl > h2{font-size:20px;}
	.vedio-cont p{font-size:14px;line-height:22px;}
	.main-ttl > h2{font-size:18px;}
	.client-desc{padding:35px 80px 15px;}
	.owl-nav{display:none;}
	.clnt-name h4{font-size:16px;}
	.clnt-name p{font-size:13px;}
	.about-work{padding:20px 0px;}
	.testimonial{padding:20px 0px;}
	.main-ttl{margin:10px 0px 30px;}
	.col-3.ftr-right{display:none;}
	.ftr-social{width:100%;text-align:center;}
	.social-links{margin-top:25px;}
	.basic-links{padding-left:0px;width:100%;text-align:center;margin-top:15px;padding-top:15px;border-top:1px solid #3d454e;}
	.copyright{padding-top:20px;}
	.col-9.ftr-left{width:100%;padding:20px 0px 15px;border-right:0px;}
	.infoLink > ul{display:block;width:100%;font-size:14px;text-align:center;}
	.footer{padding:10px 0px 0px;}
	.copyright{padding-top:15px;margin-top:10px;border-top:1px solid #3d454e;}
	.aboutItem-row:nth-child(2n+1) .about-desc,.aboutItem-row:nth-child(2n+1) .about-img{padding:0;}
	.about-desc h3{font-size:16px;line-height:22px;}
	.about-desc p{font-size:14px;}
	.test-lead > p{line-height:22px;font-size:14px;}
	.client-desc i.fa{font-size:28px;}
	.client-desc{padding:35px 20px 15px 55px;}
	.clt-img{width:52px;height:52px;}
	.owl-dots{text-align:center;}
	.owl-dot{width:10px;height:10px;background-color:#ddd!important;opacity:1;z-index:99;border-radius:50%;margin:0px 3px;}
	.owl-dot.active{background-color:#d88c30!important;}
	.client-details{margin-top:30px;}
	.main-menu > li > a{font-size:13px;padding:10px 0px;}
	.main-menu > li{margin-right:0px;}
	.about-desc h3{margin:10px 0px 5px;}
	.video-frame{margin-bottom:25px;}
	.mob-topmenu{display:block!important;}
	.biling-ttl > h3{font-size:18px;}
	.biling-ttl > p{font-size:14px;}
	.account-profile{padding:20px 15px;}
	.themeForm .form-control{font-size:14px;height:38px;padding:5px 15px;}
	.themeForm .lable-control{font-size:13px;}
	.account-detals .inputField{margin-bottom:20px;}
	.price-qtty > h2{font-size:30px;}
	.price-qtty > h2{font-size:30px;margin-bottom:15px;}
	.price-qtty h2 > small{font-size:12px;line-height:13px;}
	.price-qtty p{font-size:14px;}
	.form-submit{text-align:center;padding-top:30px;}
	.btn-theme{font-size:14px;padding:6px 20px;}
	.inner-banner .banner-cont > h2{font-size:22px;}
	.inner-banner{min-height:200px;}
	.inner-banner .banner-cont{padding:80px 0px 0px;}
	.my-account-desc{padding:20px 0px 30px;}
	.new-vouchers{padding:25px 0px 30px;}
	.inside-ttl h4{font-size:18px;}
	.inside-ttl p{font-size:14px;}
	.inside-ttl{margin-bottom:25px;}
	.chartBox{margin-bottom:15px;}
	.audience{padding-bottom:20px;}
	.tabs-header .nav-tabs > li{min-width:90px;}
	.tabs-header .nav-tabs > li > a{padding:7px 5px;font-size:14px;}
	.box-card{width:50%;}
	.tabs-header{margin-bottom:30px;}
	.our-services{padding:25px 0px;}
	.main-ttl > p{font-size:14px;}
	.services-list{padding-top:35px;}
	.prof-details h4{font-size:16px;margin-bottom:5px;}
	.prof-details > p{font-size:13px;margin-bottom:5px;}
	.prof-pic{width:80px;height:80px;}
	.map-location{margin-bottom:0px;}
	.btn.change-pwd{font-size:14px;}
	.profile-cont{flex-wrap:wrap;margin-bottom:25px;}
	.prof-details{margin-top:15px;}
	.new-voucher{margin-top:15px;}
	.btn-gradint{font-size:14px;padding:8px 20px;}
	.themeForm .form-control{font-size:13px;height:auto;padding:5px 15px;}
	.themeForm .lable-control{font-size:12px;padding-left:15px;}
	.boxCard h4{margin-bottom:15px;}
	.switch{width:50px;height:26px;}
	.slider::before{height:18px;width:18px;}
	.tags > li > a{padding:5px 10px;font-size:14px;}
	.image-preview-input{height:36px;min-width:195px;font-size:13px;line-height:16px;}
	.form-submit{padding-top:15px;}
	.create-vouch-desc{padding:25px 0px 35px;}
	.btn-theme{font-size:13px;padding:5px 15px;}
	.form-srch{height:34px;padding:5px 15px;font-size:13px;}
	.upload-file img{max-width:100%;}
	.upload-file > p{font-size:13px;margin-bottom:10px;}
	.form-submit .btn-theme{margin-left:0px;margin-bottom:10px;}
	.inner-page-header .navbar-header{padding-left:0px;}
	.pricing-card{margin-top:30px;}
	.pricing-plan p{font-size:15px;}
	.pricing-plan h2{font-size:36px;}
	.price-crcl small{font-size:12px;line-height:15px;}
	.plan-desc{padding:20px;}
	.pricing-plan p,.price-desc > p{font-size:14px;line-height:22px;}
	.plan-desc p strong,.price-desc p strong{font-size:15px;}
	.price-feature ul > li{width:50%;padding:15px;margin-bottom:15px;}
	.p-icon > img{max-width:60px;}
	.price-feature ul > li:last-child img{max-width:40px;}
	.price-feature .p-icon{margin-bottom:15px;min-height:80px;display:flex;align-items:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;}
	.price-feature p{font-size:14px;}
	.try-free > a{font-size:14px;}
	.try-free{padding:25px 0px 30px;}
	.modal-content{margin:0px 10px;}
	.card-img > img{width:100%;}
	.vouch-desc > h3{font-size:16px;margin-bottom:15px;}
	.voucher-model .modal-body{padding:40px 15px 20px;}
	.lg-model .close{width:34px;height:34px;}
	.vouch-img{border-radius:10px;}
	.header{position:relative;}
	.mob-menu{padding:8px 0px;background-color:#30373f;border-bottom:1px solid #454e59;}
	.mob-menu .nav-top-menu{display:block!important;text-align:center;}
	.dropdown.user_prof{padding-right:5px;}
	.dropdown-toggle > span{font-size:0px;}
	.main-menu.nav > li > a{font-size:13px;padding:7px 0px;}
	.user_prof .user_img{width:34px;height:34px;margin-right:-1px;}
	.user_prof .dropdown-menu{min-width:220px;right:19px;margin-top:17px;}
	.usrprof-desc > h4{font-size:14px;}
	.profile-menu > li > a{font-size:14px;padding:4px;display:block;}
	.profile-menu .logout{margin:10px 0px 0px;}
	.profile-menu .logout > a{padding:4px 15px;}
	.action-btns a > img,.view-btns a > img{max-width:18px;}
	.action-btns > li > a,.view-btns > li > a{width:32px;height:32px;line-height:20px;}
	.themeModel .modal-header{padding:15px 40px 15px 15px;}
	.modal-header .close{margin-top:-10px;}
	.themeModel .modal-title{font-size:17px;}
	.themeModel .modal-body{padding:20px 20px;}
	.fb-login > a{padding:5px 15px;font-size:13px;}
	.fb-login a > i{font-size:20px;margin-right:15px;}
	.forg-pwd{margin:5px 0px;}
	.logSwitch{font-size:14px;display:block;text-align:center;width:100%;padding:0px;margin-bottom:20px;}
	.logSwitch > a{font-size:14px;}
	.loginModel .btn-theme{display:inline-block;width:auto;padding:6px 25px;font-size:13px;}
	.inputIcon-grp .inpIcon img{max-width:18px;}
	.or-divider{margin:15px 0px 5px;font-size:16px;}
	.themeModel .modal-dialog{margin:40px auto 0px;}
	.create-vouch-desc{padding:20px 0px 20px;}
	.hdr-right,.cont-right{margin-left:0;}
	ul.list-left{position:absolute;right:0;top:0;}
	ul.list-left li{padding:10px 18px;}
	.admin-logo{padding:5px 40px;background:#293744;position:relative;}
	.hd-md-right{border-bottom:1px solid #d8d9d9;border-top:1px solid #d8d9d9;}
	.btn-toggle{position:absolute;width:25px;height:25px;line-height:25px;}
	.btn-toggle img{width:16px;}
	.hd-md-right{padding:0px 10px;}
	.usrarea .user_img{width:25px;height:25px;}
	.usrarea  .dropdown-menu{right:0px;left:auto;}
	.usrarea> a{font-size:12px;}
	.usrarea .caret{border-top:4px dashed;border-right:4px solid transparent;border-left:3px solid transparent;}
	.btn-toggle{right:-8px;}
	ul.list-left li{border-right:none;}
	.srh-bar{padding:9px 5px;margin-right:3px;border-right:none;}
	.srh-bar .btn-searh{top:17px;right:15px;font-size:16px;}
	.srh-bar .form-control{max-width:133px;}
	ul.main-nav li > a:hover::before{width:5px;}
	.das-sidebar{top:42px;z-index:4;}
	.hd-md-right{text-align:center;}
	.selectOne{max-width:100%;margin-right:0;margin-bottom:10px;}
	.faqMain{padding:20px 0px;}
	.page-title{margin-bottom:5px;}
	.page-title h2{font-size:20px;}
	ul.list-project li a{font-size:16px;}
	.sub-lising p{font-size:14px;line-height:24px;}
	.call-us{padding:15px;}
	.call-us h3{margin-bottom:8px;font-size:15px;padding-bottom:10px;}
	.call-us p{font-size:16px;margin-bottom:5px;}
	.call-us h2{font-size:18px;}
	.send-btn{font-size:15px;padding:12px 10px;}
	.sub-lising{padding:5px 30px;}
	.banner-cont h5{font-size:13px;margin-top:10px;}
	.voucher-offer-model .modal-body{padding:0px;}
	.sm-model .close{width:34px;height:34px;font-size:24px;top:0px;right:-15px;}
	.theme-Datepicker .input_date_grp > span{top:-10px;}
	.msg-content h2{font-size:22px;}
	.msg-content > p{font-size:14px;line-height:24px;}
	.msg-banner{min-height:300px;}
	.msg-content{padding:65px 0px 0px;}
	.cont-right{padding:50px 10px 10px 10px;}
	.main-hd-in .tabs-header{text-align:center;}
	.manage-marchant{padding:10px;}
	.pagination{margin:0px;}
	.pagination>li>a,.pagination>li>span{color:#c0c0c1;padding:5px 9px;font-size:14px;}
	.title-das{display:block;font-family:14px;text-align:center;}
	.main-hd-in{text-align:center;margin-bottom:15px;}
	.show-record{float:none;}
	.Marchant-table.table>tbody>tr>td,.Marchant-table.table>tbody>tr>th,.Marchant-table.table>tfoot>tr>td,.Marchant-table.table>tfoot>tr>th,.Marchant-table.table>thead>tr>td,.Marchant-table.table>thead>tr>th{padding:10px;font-size:11px;}
	.banner-btns{margin-top:15px;}
	.banner-btns a{font-size:15px;padding:6px 15px;}
	.counting{font-size:34px;line-height:18px;margin-bottom:15px;}
	.time-col{padding:20px 10px;margin-right:15px;width:95px;height:85px;margin-bottom:15px;}
	.subject{font-size:15px;}
	.input_group > .form-control{height:44px;}
	.coming-counter{margin:25px 0px 30px;}
	.coming-desc > h2{font-size:24px;}
	.coming-desc > p{line-height:22px;font-size:14px;}
	.login-page{position:static;padding:35px 0px;}
	.login-box{width:100%;max-width:400px;position:static;transform:none;}
}

@media screen and (max-width:767px){
	.vouchers-location-dec{ width: 100%; margin-bottom: 20px; }
	.price-check{ margin-top:0; width: 100%; }
	.voucher-status{ margin-left: 0; display: block; margin-top: 15px; }
	.vouchers-location-dec p{ padding-left:35px; position: relative; }
	.vouchers-location-dec p img{ position: absolute; left: 0; top:5px; }
	.vouchers-location-dec p .voucher-status img{position: static;}
	.cart-tbl-main{ width: 100%; }
	.cart-tbl tr td, .cart-tbl tr td:nth-child(2){ font-size: 20px; }
	.cart-tbl tr td:first-child{ width:70%; }
	.cart-tbl table{ width: 100%; }
	.location-right{ width: 100%; margin-top: 20px; }
	.location-right-seacrh{ width: 100%; margin-right: 0; }
	.plus-add{ position: absolute; right: 0; top: 0; }
	.location-right{position: relative; padding-right:60px;}
	.vouchers-location-row{ padding: 20px; }
	ul.cart-items li a{ display: block; }
	.list-inline>li{ padding: 0; }
	.cart-section .dropdown-menu{ width: 302px; }
	ul.vocher-right li a{ font-size: 12px; }
	ul.menu-banner{ margin: 30px 0; }
	ul.menu-banner li{ margin:5px; }
	ul.vocher-right{ margin: 0; }
	.vouchers-location-row.inactive, .vouchers-location-row.active{ border-width: 10px; }
	ul.vocher-right li{ margin-left: 6px; }
	ul.vocher-right li:first-child{ margin-left: 0; }
	ul.vocher-right li a img{ width: 15px; }
}

@media screen and (max-width:479px){
	.proceed-btn .btn{ width: 100%; }
	.about-img img{max-width:280px;}
	.vedio-cont p{font-size:13px;}
	.test-lead > p{font-size:13px;}
	.about-desc p{font-size:13px;}
	.main-inr-ttl > h2{font-size:18px;}
	.main-inr-ttl{margin-bottom:15px;}
	.clnt-name h4{font-size:14px;}
	.clnt-name p{font-size:12px;}
	.filter-activity{position:static;margin-top:10px;}
	.box-card{width:100%;}
	.tabs-header .nav-tabs > li > a{padding:6px 5px;font-size:13px;}
	.pst-cont{font-size:16px;}
	.card-img > img{width:100%;object-fit:cover;object-position:center;}
	.serv-item{width:100%;padding-left:0px;}
	.serv-listing{margin-left:0px;}
	.col-half{width:100%;padding-left:0px;margin-top:15px;}
	.filed_row{margin-left:0px;margin-bottom:0px;}
	.card-inner{padding:15px;}
	.weak-List > li > a{width:30px;height:30px;line-height:22px;font-size:12px;}
	.weak-List > li{margin-right:3px;margin-bottom:5px;}
	.tags > li > a{padding:4px 10px;font-size:12px;}
	.tags > li{margin-right:5px;margin-top:10px;}
	.upload-drop-zone{min-height:205px;}
	.upload-file img{max-width:100%;}
	.inner-banner .banner-cont > h2{font-size:18px;}
	.inner-banner{min-height:165px;}
	.inner-banner .banner-cont{padding:85px 0px 0px;}
	.boxCard h4{font-size:14px;margin-bottom:10px;}
	.price-feature ul > li{width:100%;}
	.price-feature ul{padding:0px;}
	.plan-desc p strong,.price-desc p strong{font-size:13px;}
	.pricing-plan h2{font-size:32px;}
	.price-crcl span{font-size:24px;}
	.try-free > a{font-size:13px;}
	.vouch-img{width:100%;margin-bottom:20px;}
	.vouch-desc{width:100%;padding-left:0px;}
	.voucher-model .modal-body{padding:20px 15px 10px;}
	.btn-gradint{font-size:13px;padding:7px 15px;}
	.round-btn{padding:3px 8px;font-size:12px;}
	.list-inline > li{display:inline-block;}
	.themeModel .themeForm .inputText{font-size:13px;height:36px;padding:10px 15px 10px 32px;}
	.inpIcon{text-align:center;line-height:34px;}
	.inputIcon-grp .inpIcon img{max-width:14px;}
	.themeModel .modal-title{font-size:15px;}
	.themeModel .modal-header{padding:10px 15px;}
	.modal-header .close{margin-top:-5px;font-size:20px;}
	.banner-btns a{font-size:13px;}
	.banner-btns{margin-top:20px;margin-bottom:15px;}
	.sm-model .close{width:30px;height:30px;font-size:20px;top:-5px;right:-5px;}
	.filter-activity{position:relative;margin-top:10px;width:100%;text-align:center;}
	.filter-activity > .dropdown-menu{left:0;right:0;margin:1px auto;max-width:150px;}
	.msg-content h2{font-size:18px;}
	.log-logo img{max-width:155px;}
	.coming-counter{margin:25px 0px;}
	.time-col{padding:13px 10px;margin-right:8px;width:70px;height:70px;margin-bottom:8px;border-radius:15px;}
	.counting{font-size:26px;line-height:22px;margin-bottom:5px;}
	.subject{font-size:13px;}
	.input_group > .form-control{height:38px;font-size:14px;}
	.coming-desc > h2{font-size:20px;line-height:24px;}
	.input_group > button{padding:5px 15px;font-size:14px;}
	.coming-logo img{max-width:110px;}
}
