@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@charset 'utf-8';

/* CSS Document */
@font-face{font-family:'Open-Sans';src:url('../fonts/OpenSans-Regular.eot');src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Regular.woff2') format('woff2'),url('../fonts/OpenSans-Regular.woff') format('woff'),url('../fonts/OpenSans-Regular.ttf') format('truetype'),url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Open-Sans';src:url('../fonts/OpenSans-Light.eot');src:url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Light.woff2') format('woff2'),url('../fonts/OpenSans-Light.woff') format('woff'),url('../fonts/OpenSans-Light.ttf') format('truetype'),url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');font-weight:300;font-style:normal;}
@font-face{font-family:'Open-Sans';src:url('../fonts/OpenSans-SemiBold.eot');src:url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),url('../fonts/OpenSans-SemiBold.woff') format('woff'),url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');font-weight:600;font-style:normal;}
@font-face{font-family:'Open-Sans';src:url('../fonts/OpenSans-Bold.eot');src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Bold.woff2') format('woff2'),url('../fonts/OpenSans-Bold.woff') format('woff'),url('../fonts/OpenSans-Bold.ttf') format('truetype'),url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');font-weight:700;font-style:normal;}
@font-face{font-family:'Open-Sans';src:url('../fonts/OpenSans-ExtraBold.eot');src:url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),url('../fonts/OpenSans-ExtraBold.woff') format('woff'),url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');font-weight:800;font-style:normal;}
body{color:#606870;font-size:16px;margin:0px;padding:0px;font-family:'Open-Sans';}
ul{margin:0px;padding:0px;list-style:none;}
a,button{color:#9b9b9b;outline:none!important;}
a:focus{outline:none!important;text-decoration:none;}
a:focus,a:hover{text-decoration:none;color:#fff;}
a:focus{}
p{margin-bottom:0px;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin:0px;}
.h2,h2{font-size:24px;}
.button{outline:none!important;}
a,input,.btn,button,.nav-menu,.closeIcn{-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms;}
img{max-width:100%;}
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#9b9b9b;}
::-moz-placeholder{ /* Firefox 19+ */
color:#9b9b9b;}
:-ms-input-placeholder{ /* IE 10+ */
color:#9b9b9b;}
:-moz-placeholder{ /* Firefox 18- */
color:#9b9b9b;}
.radio{padding-left:20px;margin:0px;vertical-align:middle;line-height:16px;}
.radio > label{display:inline-block;position:relative;padding-left:5px;color:#767676;font-size:20px;font-weight:600;}
.radio label::before{content:"";display:inline-block;position:absolute;width:18px;height:18px;outline:none!important;left:0;margin-left:-20px;border:1px solid #a1a1a1;border-radius:50%;background-color:#fff;-webkit-transition:border 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out;transition:border 0.15s ease-in-out;}
.radio label::after{display:inline-block;position:absolute;content:" ";width:10px;height:10px;left:3px;top:4px;margin-left:-19px;border-radius:50%;background-color:#a1a1a1;-webkit-transform:scale(0,0);-ms-transform:scale(0,0);-o-transform:scale(0,0);transform:scale(0,0);-webkit-transition:-webkit-transform 0.1s cubic-bezier(0.8,-0.33,0.2,1.33);-moz-transition:-moz-transform 0.1s cubic-bezier(0.8,-0.33,0.2,1.33);-o-transition:-o-transform 0.1s cubic-bezier(0.8,-0.33,0.2,1.33);transition:transform 0.1s cubic-bezier(0.8,-0.33,0.2,1.33);}
.radio input[type="radio"]{opacity:0;}
.radio input[type="radio"]:focus + label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.radio input[type="radio"]:checked + label::after{-webkit-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);}
.radio-inline + .radio-inline{margin-left:40px;}

/*     Switch Style
============================*/
.switch{position:relative;display:inline-block;width:55px;height:30px;vertical-align:middle;margin-top:8px;}
.switch input{display:none;}
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#A1A6AB;-webkit-transition:.4s;transition:.4s;}
.slider::before{position:absolute;content:"";height:22px;width:22px;left:3px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s;}
input:checked + .slider{background-color:#01a0f0;}
input:focus + .slider{box-shadow:0 0 1px #2196F3;}
input:checked + .slider::before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px);}

/* Rounded sliders */
.slider.round{border-radius:34px;}
.slider.round::before{border-radius:50%;}
.absolute-no{position:absolute;left:0;color:darkslategrey;text-align:right!important;font-size:14px;width:calc(100% - 5px);height:30px;line-height:30px;cursor:pointer;}

/*  Image theme Upload Style
============================*/
.upload-drop-zone{min-height:200px;border-width:2px;margin-bottom:20px;}
.upload-drop-zone{color:#ccc;border-style:dashed;border-color:#ccc;text-align:center;min-height:292px;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;flex-direction:column;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;}
.upload-drop-zone.drop{color:#222;border-color:#222;}
.image-preview-input{position:relative;overflow:hidden;margin:0px;height:45px;min-width:250px;font-size:16px;line-height:24px;padding:8px;background-color:#359643;color:#fff;padding-left:50px;margin:10px auto;}
.image-preview-input .fa-cloud-upload{position:absolute;left:0px;font-size:20px;padding:10px;background-color:#238331;top:0px;bottom:0;line-height:24px;width:45px;}
.image-preview-input:hover{color:#fff;}
.image-preview-input input[type=file]{position:absolute;top:0;right:0;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.image-preview-input-title{margin-left:2px;}
.upload-file > p{font-size:16px;color:#c7c7c7;margin:10px 0px 20px;}
.upload-file > img{max-width:100%;}
.logo{float:left;}
.hd-right{margin-left:150px;}
.nav-menu{text-align:right;}
.nav-menu ul li{display:inline-block;vertical-align:middle;}
.nav-menu ul li a{color:#fff;text-transform:uppercase;}
.nav-menu ul li a{padding:10px 15px;display:block;}
.nav-menu ul li + li{padding-left:10px;}
.menu-border a{border:1px solid #fff;border-radius:4px;}
.list-inline>li{vertical-align:middle;}
.application li p span{display:block;}
.application li a{display:block;color:#fff;border:2px solid #fff;border-radius:10px;padding:10px;min-width:180px;}
.st-appiocn{font-size:35px;padding-right:15px;}
.st-appiocn,.application li p{display:inline-block;vertical-align:middle;}
.application li p{font-size:13px;}
.application li p span{display:block;font-size:16px;}
.navbar-brand > img{transition:all 0.5s ease;}
.navbar-theme{margin-bottom:0px;min-height:auto;height:auto;border:hidden;}
.brand-logo{height:auto;padding:15px;}
.home .header .container,.banner .container{/*     width: 100%;
        max-width: 991px; */
position:relative;}
.header .container{position:relative;}
.header-menu{text-align:right;}
.header-menu .main-menu,.header-menu .nav-top-menu{display:inline-block;vertical-align:middle;text-align:right;float:none;padding:32px 0px;}
.main-menu{padding:32px 0px;}
.round-btn{padding:8px 20px;border:2px solid #fff;color:#fff;border-radius:10px;font-size:15px;text-transform:uppercase;font-weight:600;display:block;line-height:20px;}
.round-btn:hover{color:#fcbc2c;border-color:#fcbc2c;}
.btn-blue{background-color:#31bafa;border-color:#31bafa;}
.btn-blue:hover{color:#31bafa;border-color:#ffffff;background-color:#ffffff;}
.main-menu > li > a{color:#fff;font-size:16px;text-transform:uppercase;position:relative;font-weight:600;padding:10px 0px;}
.main-menu > li{padding:0px 15px;margin-right:15px;}
.main-menu > li > a:hover::after,.main-menu > li.active > a::after{position:absolute;content:"";height:3px;background-color:#fcbc2c;left:0px;right:0px;bottom:0px;margin:auto;}
.main-menu.nav > li > a:focus,.main-menu.nav > li > a:hover,.main-menu > li.active > a{text-decoration:none;background-color:transparent;color:#fcbc2c;font-weight:600;}
.navbar.navbar-theme{position:absolute;top:0;left:0;right:0;z-index:9;}

/* 
.inner-page-header  */
.navbar-header{padding-left:60px;}

/* .header .navbar-theme {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
  background-color: transparent;  
}
.fixed .navbar-theme {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards;
  background-color: #30373f;   
}
.fixed .navbar-brand {
   padding: 8px 15px;
}
.fixed .navbar-brand > img {
    max-width: 80px;
    transition: all 0.5s ease;
}
.fixed .main-menu {
   padding: 20px 0px;
}
.fixed .top-manuBar {
   margin: 20px 0px;
}
 */
@keyframes smoothScroll{
    0%{transform:translateY(-1px);}
    100%{transform:translateY(0px);}
}
.user_prof .user_img{width:38px;height:38px;border-radius:50%;overflow:hidden;display:inline-block;vertical-align:middle;border:1px solid #ea4267;margin-right:5px;}
.user_prof span{font-size:12px;color:#ffffff;}
.user_prof .fa{color:#fff;font-size:14px;}
.user_prof .dropdown-menu{min-width:260px;right:0;left:auto;padding:10px;border-radius:0px;border:1px solid #d6d7d9;margin-top:15px;}
.user_prof .dropdown-menu::after{position:absolute;content:"";border-bottom:13px solid #ffffff;border-left:12px dashed transparent;border-right:12px dashed transparent;top:-12px;right:15px;}
.prof-inr .user_img{float:left;vertical-align:middle;}
.usrprof-desc{margin-left:50px;padding-bottom:10px;}
.usrprof-desc > h4{font-size:15px;color:#5d6670;margin-bottom:2px;font-weight:600;}
.usrprof-desc > p{font-size:12px;color:#5d6670;}
.profile-menu{clear:both;padding:10px 0px;border-top:1px solid #d6d7d9;}
.profile-menu > li > a{font-size:15px;color:#5d6670;display:inline-block;padding:5px;display:block;}
.profile-menu > li > a:hover{color:#fcbc2c;}
.profile-menu .logout{margin:20px 0px 0px;}
.profile-menu .logout > a{color:#fff;padding:8px 25px;border-radius:40px;text-transform:none;font-weight:600;display:inline-block;}
.profile-menu .logout > a:hover{background-color:#fcbc2c;color:#fff;border-color:#fcbc2c;}
.nav-top-menu{margin-left:10px;}

/*       Banner Css
========================== */
.banner{background-image:url("../images/banner.jpg");background-repeat:no-repeat;background-size:cover;background-position:center center;}
.banner .container{display:flex;align-content:center;justify-content:center;align-items:center;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;}
.banner-cont{width:100%;font-size:0px;padding:80px 0px 30px;}
.bnr-left{display:inline-block;font-size:16px;vertical-align:middle;width:60%;padding-left:40px;}
.bnr-right{display:inline-block;font-size:15px;width:40%;}
.phone-rt{padding:0px 40px;margin-top:20px;}
.download-app h1{font-size:48px;color:#fff;font-weight:300;line-height:normal;}
.download-app h1 > span{display:block;font-weight:700;}
.download-app > p{font-size:18px;color:#fff;line-height:24px;margin:15px 0px 35px;}
.about-work{padding:90px 0px;}
.main-ttl{text-align:center;margin:0px 0px 80px;}
.main-ttl > h2{font-size:42px;color:#4c555f;font-weight:700;text-transform:uppercase;text-align:center;}
.main-ttl > h2 > span{color:#f59941;}
.about-desc h3{font-size:32px;font-weight:600;color:#4c555f;margin:20px 0px;}
.about-desc p{font-size:17px;color:#4c555f;line-height:26px;}
.aboutUs-cont{font-size:0px;width:100%;clear:both;}
.about-row::after{content:"";display:table;width:100%;float:none;}
.aboutItem-row{display:flex;align-items:center;margin-bottom:40px;flex-wrap:wrap;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;}
.aboutItem-row:nth-child(2n+1){flex-direction:row-reverse;}
.aboutItem-row:last-child{margin-bottom:0px;}
.half-col{width:50%;display:inline-block;vertical-align:middle;align-content:space-evenly;}
.about-desc{padding-left:50px;}
.about-img{padding-right:50px;}
.aboutItem-row:nth-child(2n+1) .about-desc{padding-left:0px;padding-right:50px;}
.aboutItem-row:nth-child(2n+1) .about-img{padding-left:50px;padding-right:0px;}
.abt-icon{width:115px;height:115px;text-align:center;position:relative;line-height:115px;box-shadow:0px 0px 9px 0px rgba(211,211,211,0.2);border-radius:10px;}

/*    Video Section
========================== */
.vedio-tutorial{background-color:#f7f9fc;padding:0px 0px 20px;position:relative;}
.video-frame{margin-bottom:65px;position:relative;}
.video-frame::after{position:absolute;content:"";background-color:#fff;top:0px;left:0px;right:0px;width:100%;height:50%;z-index:1;}
.video{position:relative;z-index:2;box-shadow:0px 0px 9px 0px rgba(0,0,0,0.25);}
.video img{width:100%;}
.vedio-cont p{font-size:16px;max-width:825px;margin:auto;color:#4c555f;line-height:26px;text-align:center;margin-bottom:20px;}
.main-inr-ttl{margin-bottom:40px;}
.main-inr-ttl > h2{font-size:42px;color:#4c555f;font-weight:600;text-align:center;}

/*       Testimonial Section
=============================== */
.testimonial{padding:90px 0px;}
.testimnl-item{width:100%;font-size:16px;display:inline-block;color:#4c555f;vertical-align:top;}
.test-inner{position:relative}
.client-desc{background-color:#f7f9fc;padding:50px 85px 15px;border-radius:5px;text-align:left;position:relative;}
.client-desc::after{content:"";float:none;display:inline-block;}
.client-desc::before{position:absolute;content:"";border-right:32px solid transparent;border-left:2px solid transparent;border-top:32px dashed #f7f9fc;bottom:-30px;left:40px;}
.client-desc i.fa{font-size:52px;color:#eaebec;position:absolute;}
.client-desc .fa-quote-right{right:20px;bottom:20px;}
.client-desc .fa-quote-left{left:20px;top:20px;}
.test-lead > p{line-height:28px;font-size:17px;}
.client-details{position:relative;font-size:0px;margin-top:42px;}
.clt-img{width:70px;height:70px;border:3px solid #f89b3f;border-radius:50%;display:inline-block;font-size:16px;vertical-align:middle;background-color:#464646;}
.clnt-name{display:inline-block;font-size:16px;vertical-align:middle;width:calc(100% - 70px;);padding-left:15px;}
.tasti-slider .owl-nav{position:absolute;top:25%;transform:translateY(-50%);width:100%;}
.tasti-slider .owl-nav .owl-prev,.tasti-slider .owl-nav .owl-next{width:50px;height:50px;border:1px solid #e1e1e1!important;border-radius:50%!important;font-size:40px!important;line-height:5px;position:absolute;color:#e1e1e1;}
.tasti-slider .owl-nav .owl-prev span,.tasti-slider .owl-nav .owl-next span{line-height:20px;color:#e1e1e1;display:inline-block;position:relative;top:-8px;}
.tasti-slider  .owl-nav .owl-prev{left:-85px;}
.tasti-slider .owl-nav .owl-next{right:-85px;}
.clnt-name h4{font-size:20px;font-weight:600;margin-bottom:5px;color:#4c555f;}
.clnt-name p{font-size:15px;color:#4c555f;}

/*       Footer Section
=============================== */
.footer{background-color:#30373f;padding:20px 0px;}
.footer .container{max-width:991px;width:100%;}
.footer-widget{font-size:0px;}
.col-9.ftr-left{width:75%;display:inline-block;vertical-align:top;font-size:15px;border-right:1px solid #40474e;padding:20px 20px 20px 0px;}
.col-3.ftr-right{width:25%;display:inline-block;font-size:15px;vertical-align:top;padding:20px 0px 20px 40px;}
.ftr-logo{display:block;}
.ftr-logo > img{max-width:80px;margin:auto;}
.social-links{margin-top:40px;}
.social-links h5{font-size:14px;color:#fff;margin-bottom:15px;}
.social > li{display:inline-block;margin-right:10px;}
.social > li:last-child{margin-right:0px;}
.social > li > a{width:30px;height:30px;padding:5px;display:block;line-height:18px;text-align:center;background-color:rgba(255,255,255,0.3);color:#fff;border-radius:50%;}
.social > li > a:hover{background-color:#f9b22b;color:#30373f;}
.ftr-social{width:165px;float:left;}
.basic-links{width:calc(100% - 165px);float:left;padding-left:50px;}
.footer-top h4{text-transform:uppercase;color:#fff;margin-bottom:20px;}
.infoLink{font-size:0px;}
.infoLink > ul{display:inline-block;width:33.33%;font-size:15px;color:#fff;text-align:left;vertical-align:top;}
.infoLink > ul > li > a{display:block;color:#fff;line-height:26px;padding:8px 0px;}
.infoLink > ul > li > a:hover{color:#f9b22b;}
.dwnload-apps .list-inline > li{margin-bottom:20px;}
.copyright{padding-top:60px;}
.copyright p{font-size:13px;color:#fff;}

/*      Theme Model Box
=============================*/
.themeModel .modal-dialog{width:100%;margin:100px auto 0px;max-width:580px;}
.themeModel .modal-header{background:rgba(233,62,105,1);background:-moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));background:-webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);}
.themeModel .modal-title{font-size:23px;text-align:center;color:#ffffff;font-weight:600;}
.themeModel .modal-header{position:relative;padding:40px 15px;position:relative;}
.themeModel .modal-body{padding:45px 30px 50px;}
input:focus ~ .floating-label,input:not(:focus):valid ~ .floating-label{top:5px;bottom:10px;left:20px;font-size:14px;opacity:1;}
.themeModel .themeForm .inputText{font-size:16px;height:45px;border-color:rgba(114,114,114,0.25);border-style:solid;border-width:0 0px 1px 0px;border-radius:0px;box-shadow:none;padding:10px 15px 10px 40px;font-weight:400;letter-spacing:1px;}
.inputText:focus{box-shadow:none;border-color:#fb7137;}
.floating-label{position:absolute;pointer-events:none;left:20px;top:28px;transition:0.2s ease all;font-size:15px;}
.inputIcon-grp{position:relative;}
.inpIcon{position:absolute;left:0px;width:30px;text-align:center;top:0px;bottom:0px;margin:auto;line-height:42px;}
.form-submit.text-right{margin-top:35px;padding-top:0px;}
.forg-pwd > a{font-size:16px;color:#9b9b9b;}
.logSwitch{float:left;padding:15px 0px;color:#9b9b9b;}
.logSwitch > a{color:#9b9b9b;font-size:18px;text-transform:uppercase;font-weight:600;}
.logSwitch::after{float:none;content:"";display:block;}
.forg-pwd{margin:35px 0px;}
.btn-theme{background-color:#fb7137;color:#fff;font-size:18px;text-transform:uppercase;padding:10px 35px;font-weight:600;}
.btn-theme:hover, .btn-theme:focus{background-color:#30373f;color:#fff;}
.forg-pwd > a:hover,.logSwitch > a:hover{color:#fb7137;}
.fb-login{text-align:center;}
.fb-login > a{text-align:center;background-color:#3e5b93;display:inline-block;padding:12px 30px;color:#fff;font-size:16px;text-transform:uppercase;font-weight:600;line-height:27px;border-bottom:1px solid #3e5b93;}
.fb-login > a:hover{background-color:#4267b2;border-bottom:1px solid #29487d;}
.fb-login a > i{font-size:25px;vertical-align:middle;margin-right:20px;}
.or-divider{display:block;text-align:center;margin:25px 0px 15px;text-transform:uppercase;font-weight:600;`
font-size:18px;}
.close{position:absolute;top:15px;right:15px;color:#fff;opacity:1;font-size:30px;}
.create-vouch-desc{padding:40px 0px 80px;}
.inner-banner{min-height:400px;background-repeat:no-repeat;background-size:cover;}
.inner-banner .banner-cont{padding:160px 0px 0px;text-align:center;}
.inner-banner .banner-cont > h2{font-size:38px;font-weight:600;color:#ffffff;text-transform:uppercase;text-align:center;}
.box-shadow{box-shadow:0px 8px 25px 0px rgba(172,172,172,0.25);}
.boxCard{margin-bottom:20px;}
.card-inner{padding:40px;}
.boxCard h4{font-size:22px;font-weight:600;color:#31bafa;margin-bottom:25px;letter-spacing:1px;}
.themeForm .lable-control{font-size:15.52px;font-weight:400;color:rgba(43,43,43,0.7);}
.themeForm .form-control{font-size:17.91px;border-color:#31bafa;border-style:solid;border-width:0 0px 1px 0px;border-radius:0px;box-shadow:none;padding:10px 38px 10px 15px;font-weight:400;letter-spacing:1px;color:#535353;display:block;height:auto;}
.themeForm select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url('../images/down-icon.png');background-repeat:no-repeat;background-position:96% center;background-size:15px;}
.themeModel .inputText{padding-left:40px;}
.boxCard .lable-control,.boxCard .form-control{padding-left:25px;}
.themeForm textarea.form-control{overflow:auto;resize:none;}
.themeForm  textarea.form-control.Terms-area{min-height:90px;}
.inp-group{position:relative;}
.form-srch{height:45px;padding:5px 15px;border:1px solid #dcdcdc;width:100%;font-size:16px;color:#535353;}
.srch-btn{position:absolute;right:0px;top:0px;bottom:0;background:transparent;}
.tags{margin-top:10px;}
.tags > li{display:inline-block;margin-right:12px;margin-top:30px;}
.tags > li > a{display:inline-block;padding:10px 22px;border-radius:25px;border:1px solid #ddd;background-color:#f2f5f5;box-shadow:0px 0px 6px 0px rgba(0,0,0,0.25);font-size:18px;font-weight:600;color:#838383;}
.datePicker_ttl{clear:both;width:100%;float:left;margin-bottom:20px;}
.datePicker_ttl::after{display:block;float:none;content:"";}
.datePicker_ttl h5{font-size:20px;color:#767676;display:inline-block;vertical-align:middle;}
.switch_btn{display:inline-block;text-align:right;font-size:15px;float:right;}
.filed_row{font-size:0px;margin-left:-40px;margin-bottom:25px;}
.col-half{display:inline-block;width:50%;padding-left:40px;font-size:16px;vertical-align:top;}
.input_date_grp{position:relative;}
.input_date_grp > span{position:absolute;right:10px;top:3px;width:30px;height:30px;font-size:20px;text-align:center;cursor:pointer;padding:5px;z-index:9;background-color:transparent;border:hidden;}
.theme-Datepicker{clear:both;}
.weak-List > li{display:inline-block;margin-right:10px;}
.weak-List > li > a{width:48px;height:48px;line-height:38px;display:block;text-align:center;font-size:20px;background-color:#f2f5f5;border-radius:50%;color:#767676;font-weight:600;padding:5px;}
.weak-List > li.active > a,.weak-List > li > a:hover{background-color:#febd2c;color:#fff;}
.weak-List{margin-top:35px;}
.repeat-day{padding-top:20px;}
.website-field{padding-top:25px;}
.website-field .form-control{font-style:italic;}
.themeForm .form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#535353;}
.themeForm .form-control::-moz-placeholder{ /* Firefox 19+ */
color:#535353;}
.themeForm .form-control:-ms-input-placeholder{ /* IE 10+ */
color:#535353;}
.themeForm .form-control:-moz-placeholder{ /* Firefox 18- */
color:#535353;}
.form-submit{text-align:right;padding-top:40px;}
.form-submit .btn{margin-left:10px;margin-bottom:5px;}
.form-submit .btn:first-child{margin-left:0px;}

/*     My Account Page Css 
==================================*/
.my-account-desc{padding:30px 0px 40px;}
.profile-cont{display:flex;align-content:center;justify-content:center;align-items:center;margin-bottom:50px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;}
.prof-pic{width:142px;height:142px;border-radius:50%;overflow:hidden;border:2px solid #fb7137;float:left;margin-right:25px;}
.prof-pic > img{object-fit:cover;object-position:center;height:100%;width:100%;}
.prof-details h4{font-size:24px;font-weight:600;color:#4c555f;margin-bottom:15px;}
.prof-details > p{color:#a5a5a5;font-size:16px;margin-bottom:15px;position:relative;}
.prof-details > p > .icons{position:absolute;left:0px;top:0px;}
.prof-details > p > .icons > img{max-width:21px;}
.prof-details > p > span{padding-left:30px;vertical-align:middle}
.account-profile{padding:45px 85px;}
.sm-icons{width:20px;display:inline-block;margin-right:5px;}
.map-frame{border-radius:5px;overflow:hidden;border:2px solid #feeae2;}
.map-frame iframe{ width: 100%; display: block; }
.account-detals .inputField{margin-bottom:45px;}
.account-detals .inputField > label{margin-bottom:0px;}
.btn.change-pwd{font-size:16px;font-weight:600;color:#7e7e7e;}
.btn.change-pwd:hover{color:#fb7137;}
.map-location{margin-bottom:20px;}

/*          My Vouchers Css
=================================== */
.btn-gradint{background:rgba(233,62,105,1);background:-moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));background:-webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);display:inline-block;font-size:18px;font-weight:600;color:#fff;padding:10px 35px;border-radius:40px;}
.new-voucher{margin-top:50px;}
.new-vouchers{padding:55px 0px 35px;}
.tabs-header{text-align:center;margin-bottom:60px;position:relative;}
.tabs-header .btn-group{background:rgba(233,62,105,1);background:-moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));background:-webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);display:inline-block;font-size:18px;font-weight:600;color:#fff;padding:2px 2px 3px;border-radius:40px;}
.tabs-header  .nav-tabs{border-bottom:hidden;}
.tabs-header .nav-tabs > li{min-width:125px;}
.tabs-header .nav-tabs > li > a{margin-right:0px;border:1px solid transparent;padding:10px 5px;font-size:16px;text-align:center;color:#919191;border-radius:0px;background-color:#fff;}
.tabs-header .nav-tabs > li:first-child > a{border-radius:25px 0px 0px 25px;}
.tabs-header .nav-tabs > li:last-child > a{border-radius:0px 25px 25px 0px;}

/* .tabs-header .nav-tabs > li > a:hover,
.tabs-header .nav-tabs > li > a:focus, */
.tabs-header .nav-tabs > li.active > a{color:#fff;background-color:transparent;border-color:transparent;cursor:pointer;}
.voucher-boxCont{font-size:0px;margin-left:-20px;}
.box-card{display:inline-block;vertical-align:top;font-size:16px;padding-left:20px;width:25%;}
.box-info{position:relative;margin-bottom:20px;}
.card-img{position:relative;height:268px;background-color:#ddd;overflow:hidden;}
.card-img img{object-fit:cover;height:100%;object-position:center;width:100%;}
.card-img > img{max-width:100%;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.card-img:hover > img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);}
.card-img::after{position:absolute;content:"";left:0px;right:0px;top:0px;bottom:0px;background-color:rgba(0,0,0,0.3);}
.card-overlay{opacity:0;visibility:hidden;}
.box-info:hover .card-overlay{opacity:1;visibility:visible;}
.view-btns{position:absolute;right:15px;top:10px;}
.action-btns{position:absolute;bottom:15px;left:15px;}
.action-btns > li{display:inline-block;vertical-align:middle;margin-right:10px;}
.action-btns > li:last-child{margin-right:0px;}
.action-btns > li > a{padding:4px;width:36px;height:36px;display:block;background-color:transparent;text-align:center;border-radius:5px;vertical-align:middle;line-height:16px;}
.action-btns > li > a:hover{background-color:#ea4267;}
.view-btns > li{margin-bottom:8px;}
.view-btns > li > a{width:36px;height:39px;background-color:#fff;border-radius:5px;padding:4px;display:block;text-align:center;line-height:30px;}

/*     Voucher Detaild 
====================================*/
.themeModel .lg-model{max-width:1100px;}
.vouch-details{font-size:0px;padding:0px 35px;}
.vouch-img{display:inline-block;width:40%;vertical-align:middle;font-size:16px;}
.vouch-desc{font-size:16px;display:inline-block;width:60%;padding-left:50px;vertical-align:top;}
.voucher-model .modal-body{padding:70px 30px 50px;}

/*        moola Marchant Css
=================================== */
.our-services{padding:90px 0px;}
.banner-btns{margin-top:40px;}
.banner-btns a{display:inline-block;font-size:20px;padding:12px 30px;}
.main-ttl > p{max-width:825px;margin:auto;padding-top:35px;line-height:28px;}
.services-list{background-color:#fff;padding-top:85px;position:relative;}
.services-list::after{position:absolute;content:"";background-color:#f7f9fc;top:0;left:0px;right:0px;width:100%;height:calc(100% - 140px);}
.serv-listing{font-size:0px;margin-left:-15px;position:relative;z-index:2;}
.serv-item{display:inline-block;vertical-align:top;font-size:16px;width:25%;padding-left:15px;}
.serv-desc{box-shadow:0px 0px 9px 0px rgba(220,220,220,0.25);padding:25px;margin:-55px 10px 0px;background-color:#fff;position:relative;}
.serv-desc > h4{font-size:16px;font-weight:700;color:#484848;margin-bottom:20px;}
.serv-desc > p{color:#818181;margin-bottom:20px;}
.serv-desc > a{color:rgba(72,72,72,0.66);font-size:14px;font-weight:600;text-decoration:underline;}
.serv-desc > a:hover{color:rgb(248,149,41);}
.chart-card{box-shadow:0px 0px 10px 0px rgba(172,172,172,0.25);}
.inside-ttl{text-align:center;margin-bottom:45px;position:relative;}
.inside-ttl h4{font-size:26px;color:#4c555f;margin-bottom:20px;}
.inside-ttl p{color:#4c555f;font-size:20px;}
.audience{padding-bottom:70px;}
.filter-activity{float:right;position:absolute;right:0;top:0;}
.filter-activity > .dropdown-menu{left:auto;right:0px;border-radius:0px;border:hidden;}
.filter-activity .dropdown-menu > li > a{padding:8px 20px;color:#5d6670;}
.filter-activity > .btn{background-color:transparent;}
.pst-cont{position:absolute;right:0px;bottom:0px;background-color:#ddd;padding:4px 20px;font-size:24px;font-weight:700;color:#5d6670;border-radius:10px 0px 0px 0px;}

/*     Pricing Css 
==============================*/
.pricing-card{margin-top:-105px;}
.price-feature ul{font-size:0px;max-width:1024px;margin:auto;border:1px solid rgba(145,145,145,0.14);padding:15px;}
.price-feature ul > li{display:inline-block;width:25%;font-size:14px;vertical-align:top;text-align:center;padding:15px;}
.price-feature .p-icon{margin-bottom:30px;}
.price-feature p{font-size:18px;font-weight:600;color:#979797;}
.pricing-plan{max-width:400px;margin:auto;text-align:center;box-shadow:0px 0px 9px 0 rgba(172,172,172,0.25);}
.price-crcl{background:rgba(233,62,105,1);background:-moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));background:-webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);border-radius:8px 8px 50% 50%;padding:45px 30px 60px;color:#fff;}
.pricing-plan p{font-size:20px;font-weight:600;color:#fff;margin-bottom:10px;}
.pricing-plan h2{font-size:72px;font-weight:700;color:#fff;}
.price-crcl small{color:#fff;width:20px;display:inline-block;font-size:20px;vertical-align:middle;line-height:30px;margin-left:-10px;}
.price-crcl span{font-size:46px;vertical-align:top;font-weight:700;}
.plan-desc{padding:40px;}
.plan-desc p{color:#535353;font-size:16px;font-weight:400;line-height:26px;margin-bottom:0px;}
.plan-desc p strong,.price-desc p strong{font-size:18px;}
.price-desc{padding:50px 0px;}
.price-desc > p{max-width:640px;margin:auto;text-align:center;color:#535353;font-size:16px;line-height:26px;}
.try-free{text-align:center;padding:40px 0px 50px;}
.try-free > a{font-size:16px;}
.vouch-desc > h3{color:#4c555f;font-size:28px;font-weight:600;margin-bottom:30px;}
.vouch-desc > ul > li{margin-bottom:25px;}
.vouch-desc li > h5{font-size:18px;font-weight:600;margin-bottom:10px;}
.vouch-desc li > h5 > span{margin-right:5px;}
.vouch-desc li > p,.vouch-desc li ul > li{font-size:16px;color:#585858;line-height:28px;font-weight:600;}
.vouch-img{max-height:500px;overflow:hidden;border-radius:50px;box-shadow:0px 14px 25px 0px rgba(172,172,172,0.25);}
.lg-model .close{width:40px;height:40px;background-color:#fff;border-radius:50%;top:-11px;right:-11px;line-height:0px;font-size:24px;color:#c9c9c9;box-shadow:0px 0px 21px 0px rgba(0,0,0,0.2);opacity:1;}

/*       Billing Page
===================================== */
.price-qtty{max-width:580px;margin:auto;text-align:center;margin-top:10px;}
.price-qtty > h2{font-size:50px;color:#4c555f;font-weight:600;margin-bottom:30px;}
.price-qtty h2 > small{width:50px;display:inline-block;font-size:18px;line-height:24px;margin-left:-10px;}
.biling-ttl{margin-bottom:35px;}
.biling-ttl > h3{font-size:22px;color:#535353;font-weight:600;text-align:center;margin-bottom:10px;}
.biling-ttl > p{font-size:16px;color:#535353;text-align:center;}
.mob-menu > .nav-top-menu{display:none;}

/* Admin page css start*/
.tp-header{position:fixed;top:0px;left:0px;right:0px;z-index:3;}
.tp-hd-mid:after{display:block;content:"";clear:both;}
.admin-logo{width:368px;float:left;padding:14px 40px;background:#293744;position:relative;}
.hdr-right{margin-left:368px;background:#fff;text-align:right;}
.btn-toggle{position:absolute;width:40px;height:40px;border-radius:50%;background:#f78d28;color:#fff;line-height:40px;text-align:center;cursor:pointer;right:-20px;margin-top:3px;-moz-box-shadow:1px 2px 3px rgba(0,0,0,0.20);-webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.20);box-shadow:1px 2px 3px rgba(0,0,0,0.20);}
.usrarea .user_img{width:50px;height:50px;border-radius:50%;overflow:hidden;display:inline-block;vertical-align:middle;border:1px solid #e2892f;}
.user_img img{width:100%;object-fit:cover;object-position:center;height:100%; background-color: #fff;}
ul.list-left{float:left;}
ul.list-left li a{font-size:22px;color:#70767b;position:relative;}
ul.list-left li{border-right:2px solid #dedede;padding:20px 20px;position:relative;}
ul.list-left li .badge{position:absolute;background:#f15822;padding:5px 10px;top:11px;right:9px;}
.hd-md-right{padding:0px 45px;border-bottom:2px solid #d8d9d9;width:100%;display:inline-block;}
.srh-bar{display:inline-block;vertical-align:middle;position:relative;border-right:2px solid #d8d8d8;padding:16px 30px;margin-right:20px;}
.srh-bar .form-control{height:40px;border-radius:0px;padding:6px 30px;opacity:0;visibility:hidden;}
.srh-bar .btn-searh{background-color:transparent;color:#666666;padding:0px;border:none;position:absolute;right:41px;font-size:20px;outline:none;top:21px;}
.opensearh .srh-bar .form-control{opacity:1;visibility:visible;}
.usrarea{display:inline-block;vertical-align:middle;cursor:pointer;}
.usrarea .caret{border-top:9px dashed;border-right:9px solid transparent;border-left:9px solid transparent;}
.usrarea> a{font-size:23px;color:#666666;}
.das-sidebar{background:#33414e;z-index:2;position:fixed;left:0px;top:73px;height:100%;overflow:auto;width:368px;}
ul.main-nav li{margin-bottom:18px;position:relative;}
ul.main-nav li > a{font-size:24px;position:relative;color:#fff;padding:19px 25px 19px 90px;display:block;}
ul.main-nav li > a:hover{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#293744+0,384856+100 */
background:rgb(41,55,68); /* Old browsers */background:-moz-linear-gradient(top,rgba(41,55,68,1) 0%,rgba(56,72,86,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(41,55,68,1) 0%,rgba(56,72,86,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(41,55,68,1) 0%,rgba(56,72,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#293744',endColorstr='#384856',GradientType=0); /* IE6-9 */}
ul.main-nav li > a:hover:before{position:absolute;content:"";width:10px;height:100%;left:0px;top:0px;background:#f78d28;-moz-box-shadow:6px 0px 30px #f78d28;-webkit-box-shadow:6px 0px 30px #f78d28;box-shadow:6px 0px 30px #f78d28;}
ul.main-nav > li .arrow-toggle{margin-top:20px;width:25px;height:25px;text-align:center;line-height:25px;position:absolute;right:20px;top:0;cursor:pointer;color:#fff;font-size:24px;}
ul.main-nav li > a .fa.fa-circle-o{float:left;margin-right:10px;margin-top:3px;}
.student .fa.fa-circle-o{color:#85c875;}
.marchant .fa.fa-circle-o{color:#0bc4df;}
ul.main-nav li > a img{position:absolute;left:34px;top:25px;}
ul.main-nav li.active > .arrow-toggle{-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.subchilds{display:none;}
ul.subchilds li{margin-bottom:0px;}
.das-sidebar,.cont-right{-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms;}
.faq-question{width:100%;float:left;}
.lcmain{padding-bottom:100px;}
.opendash .das-sidebar{left:-389px;}
.opendash .cont-right{margin-left:0px;}
.cnt_mid{margin-top:74px;}
.admin-main{background-color:#f5fafd;}
.cont-right{padding:45px 33px;margin-left:368px;}
.dashbord-total{margin-bottom:28px;}
.title-das{font-size:19px;color:#444444;padding:12px 0px;font-weight:600;display:inline-block;}
.Revenue-box{background:#fff;padding:10px;-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);height:100%;}
.pd{padding-left:6px;padding-right:6px;}
.box-lf{width:75px;height:75px;line-height:75px;float:left;text-align:center;position:relative;margin-top:-24px;}
.box-1 .box-lf{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8b1b+0,ffc11b+100 */
background:rgb(255,139,27); /* Old browsers */background:-moz-linear-gradient(top,rgba(255,139,27,1) 0%,rgba(255,193,27,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(255,139,27,1) 0%,rgba(255,193,27,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(255,139,27,1) 0%,rgba(255,193,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b1b',endColorstr='#ffc11b',GradientType=0); /* IE6-9 */}
.box-1 .fa{color:#fc993a;}
.box-2 .box-lf{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfbf+1,00f3e4+100 */
background:rgb(0,191,191); /* Old browsers */background:-moz-linear-gradient(top,rgba(0,191,191,1) 1%,rgba(0,243,228,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(0,191,191,1) 1%,rgba(0,243,228,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(0,191,191,1) 1%,rgba(0,243,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bfbf',endColorstr='#00f3e4',GradientType=0); /* IE6-9 */}
.box-2 .fa{color:#00cbc7;}
.box-3 .box-lf{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f05e69+0,fbad94+100 */
background:rgb(240,94,105); /* Old browsers */background:-moz-linear-gradient(top,rgba(240,94,105,1) 0%,rgba(251,173,148,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(240,94,105,1) 0%,rgba(251,173,148,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(240,94,105,1) 0%,rgba(251,173,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05e69',endColorstr='#fbad94',GradientType=0); /* IE6-9 */}
.box-3 .fa{color:#f1626b;}
.box-4 .box-lf{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f752a0+0,fd8999+100 */
background:rgb(247,82,160); /* Old browsers */background:-moz-linear-gradient(45deg,rgba(247,82,160,1) 0%,rgba(253,137,153,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(45deg,rgba(247,82,160,1) 0%,rgba(253,137,153,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(45deg,rgba(247,82,160,1) 0%,rgba(253,137,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f752a0',endColorstr='#fd8999',GradientType=1); /* IE6-9 fallback on horizontal gradient */}
.box-4 .fa{color:#f755a0;}
.bx-single{margin-left:95px;}
.relse-date{width:100%;display:block;border-top:1px solid #DDD;text-align:left;margin-top:20px;padding-top:8px;float:left;}
.Revenue-box p{font-size:16px;}
.Revenue-box h2{font-size:28px;color:#666666;}
.Revenue-box .fa{margin-right:8px;}
.bx-single p{margin-bottom:20px;}
.bloc-total,.total-no{margin:0px -6px;}
.total-no{margin-bottom:28px;}
.bloc-total:after,.Revenue-box:after,.total-no:after,.marchant-detail:after,.Impressions:after{display:block;content:"";clear:both;}
.voucher-bx{background:#fff;padding:18px 12px;-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);}
.hd-vchr{display:table;width:100%;font-weight:600;margin-bottom:15px;}
.vc-left p{font-size:13px;font-weight:600;}
.hd-vchr > div{display:table-cell;}
.vc-right{text-align:right;}
.hd-vchr select{display:inline-block;vertical-align:middle;border-radius:0px;border:1px solid #d2d2d2;font-size:12px;padding:6px 10px;color:#a1a1a1;}
ul.chart-list li img{-moz-filter:grayscale(100%);-webkit-filter:grayscale(100%);filter:grayscale(100%);}
ul.chart-list li:hover img{filter:grayscale(0%);}
.number-of-vc{width:77px;border:1px solid #ddd;}
.chart-list{display:inline-block;vertical-align:middle;padding-left:18px;}
.marchant-detail{background:#fff;padding:24px;-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);}
.mch-hd{background:#fbfbfb;border-bottom:1px solid #e8e8e8;padding:13px 15px;}
.Impressions-md{padding:30px 15px;}
.Marchant-tab.table>tbody>tr>td,.Marchant-tab.table>tbody>tr>th,.Marchant-tab.table>tfoot>tr>td,.Marchant-tab.table>tfoot>tr>th,.Marchant-tab.table>thead>tr>td,.Marchant-tab.table>thead>tr>th{color:#787878;font-size:14px;padding:20px 15px;}
.Marchant-tab.table>tbody>tr>th{font-weight:600;background:#fbfbfb;color:#777777;}
table.table.table-bordered.Marchant-tab{margin-bottom:0px;}
.mch-hd select{display:inline-block;vertical-align:middle;border-radius:0px;border:1px solid #d2d2d2;font-size:12px;padding:6px 10px;color:#a1a1a1;}
.Impressions{-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);}
.chkbx{width:20px;height:20px;display:block;border-radius:5px;display:inline-block;vertical-align:middle;margin:0px 5px;}
.chrt-list{float:right;margin-bottom:20px;}
.imp{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8f3d+0,dc4327+99 */
background:rgb(255,143,61); /* Old browsers */background:-moz-linear-gradient(top,rgba(255,143,61,1) 0%,rgba(220,67,39,1) 99%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(255,143,61,1) 0%,rgba(220,67,39,1) 99%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(255,143,61,1) 0%,rgba(220,67,39,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8f3d',endColorstr='#dc4327',GradientType=0); /* IE6-9 */}
.contve{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6fd1+0,361872+100 */
background:rgb(107,111,209); /* Old browsers */background:-moz-linear-gradient(top,rgba(107,111,209,1) 0%,rgba(54,24,114,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(107,111,209,1) 0%,rgba(54,24,114,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(107,111,209,1) 0%,rgba(54,24,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b6fd1',endColorstr='#361872',GradientType=0); /* IE6-9 */}
.selectOne{max-width:245px;margin-right:25px;}
.selecttwo{max-width:87px;}
.marchant-left{-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);}
ul.chrt-list li{font-size:13px;color:#777777;}
.page-title{position:relative;padding-bottom:22px;margin-bottom:36px;}
.page-title:before{position:absolute;content:"";background:#fdbc2c;left:0px;width:60px;height:6px;bottom:0px;}
.page-title h2{font-size:35px;color:#30373f;}
.faqMain{padding:45px 0px;}
.banner-cont h5{color:#fff;font-size:16px;margin-top:22px;}
ul.list-project li{border-bottom:2px solid #c9cbcd;}
ul.list-project li a{font-size:21px;color:#30373f;padding:15px 0px 15px 30px;display:block;position:relative;}
.sub-lising{background:#fff;padding:5px 58px;display:none;}
ul.list-project li a:before{color:#fdbc2c;content:"\f067";font-family:FontAwesome;height:21px;position:absolute;left:0px;top:50%;width:18px;font-size:15px;text-align:center;margin-top:-10px;}
ul.list-project li.active a:before{content:"\f068";}
.sub-lising p{font-size:17px;color:#747474;line-height:28px;}
.call-us{background:#ffb000;padding:40px 25px;text-align:center;color:#fff;}
.call-us h3{line-height:35px;padding-bottom:30px;border-bottom:2px solid rgba(255,255,255,0.52);margin-bottom:28px;}
.call-us p{font-size:25px;margin-bottom:10px;}
.call-us h2{font-size:32px;margin-bottom:30px;}
.send-btn{font-size:16px;display:inline-block;width:100%;padding:15px 10px;text-transform:uppercase;color:#fff;border:2px solid #fff;border-radius:30px;}
.voucher-offer-model .modal-content{background-color:transparent;box-shadow:none;border:hidden;}
.voucher-offer-model .modal-body{padding:0px;}
.modal-dialog.sm-model{max-width:355px;}
.sm-model .close{width:38px;height:38px;background-color:#fff;border-radius:50%;color:#000;font-size:29px;top:-5px;right:-25px;opacity:1;}
.upload-file{max-height:300px;overflow:hidden;width:100%;max-width:300px;margin:0px auto;padding:15px;}
.msg-banner{background:linear-gradient(to bottom,rgba(255,255,255,0.5),rgba(0,0,0,0.5)),url("../images/msg-bg1.jpg");min-height:600px;background-size:cover;background-repeat:no-repeat;background-position:center bottom;position:relative}
.msg-banner::after{position:absolute;top:0px;bottom:0px;left:0px;right:0px;background-color:rgba(0,0,0,0.5);content:"";width:100%;}
.msg-content{position:relative;z-index:9;color:#fff;text-align:center;padding:100px 0px 0px;}
.msg-content h2{font-size:32px;font-weight:600;margin-bottom:15px;color:#eee;}
.msg-content > p{font-size:16px;line-height:28px;color:#ddd;}
.vc-chart-main img{width:100%;}
.main-hd-in{margin-bottom:30px;}
.main-hd-in .tabs-header{margin-bottom:0px;text-align:left;}
.tab-content:after{display:block;content:"";clear:both;}
.voucher-bx >h1{font-size:20px;color:#444444;font-weight:600;margin-bottom:15px;}
.Insights-select{width:149px;}
.list-select:after{display:block;content:"";clear:both;}
.manage-marchant{padding:30px;background:#fff;-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.17);-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.17);box-shadow:0px 0px 6px rgba(0,0,0,0.17);}
.Marchant-table.table>tbody>tr>th{font-weight:600;background:#f5f5f5;color:#777777;text-transform:uppercase;}
.Marchant-table.table>tbody>tr>td,.Marchant-table.table>tbody>tr>th,.Marchant-table.table>tfoot>tr>td,.Marchant-table.table>tfoot>tr>th,.Marchant-table.table>thead>tr>td,.Marchant-table.table>thead>tr>th{color:#787878;font-size:14px;padding:15px;vertical-align:middle;text-align:center;}
.Marchant-table.table>tbody>tr>td > a,.Marchant-table.table>tbody>tr>th > a,.Marchant-table.table>tfoot>tr>td > a,.Marchant-table.table>tfoot>tr>th > a,.Marchant-table.table>thead>tr>td > a,.Marchant-table.table>thead>tr>th > a{font-size:20px;white-space:nowrap;padding:0px 5px;color:#787878!important;}
.Marchant-table.table>tbody>tr>td > img,.Marchant-table.table>tbody>tr>th > img,.Marchant-table.table>tfoot>tr>td > img,.Marchant-table.table>tfoot>tr>th > img,.Marchant-table.table>thead>tr>td > img,.Marchant-table.table>thead>tr>th > img{min-width:68px;}
.pagination-main{text-align:right;}
.pagination>li>a,.pagination>li>span{color:#c0c0c1;padding:8px 20px;}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background:#f78d28;border-color:#f78d28;}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{background:#f78d28;color:#fff;border-color:#f78d28;}
.show-record{float:right;}
.show-record select{width:100px;border-radius:0px;box-shadow:none;}
.show-record span{padding:0px 5px;}
.show-record select,.show-record span{display:inline-block;vertical-align:middle;}

/*  Coming Soon page */
.coming-soon{background-image:url('../images/bg-1.jpg');background-repeat:no-repeat;background-size:cover;height:100%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;width:100%;display:inline-table;}
.coming-cont{max-width:900px;margin:auto;text-align:center;padding:35px 0px;}
.input_group{position:relative;max-width:450px;margin:auto;}
.input_group > button{position:absolute;right:0px;top:0px;bottom:0px;background-color:#fff;color:#30373f;border:hidden;border-radius:8px;padding:5px 20px;font-size:16px;font-weight:600;}
.input_group > .form-control{height:50px;background-color:transparent;border:2px solid #fff;border-radius:8px;font-size:16px;color:#fff;padding-right:130px;}
.input_group input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#fff;}
.input_group input::-moz-placeholder{ /* Firefox 19+ */
color:#fff;}
.input_group input:-ms-input-placeholder{ /* IE 10+ */
color:#fff;}
.input_group input:-moz-placeholder{ /* Firefox 18- */
color:#fff;}
.coming-desc > h2{font-size:35px;color:#fff;text-align:center;font-weight:300;margin:35px 0px 30px;}
.coming-desc > h2 > span{display:block;font-weight:500;}
.coming-desc > p{font-size:16px;color:#fff;line-height:30px;font-weight:500;}
.time-col{border:2px solid #60666f;color:#fff;padding:20px 30px;border-radius:25px;margin-right:20px;display:inline-block;width:155px;height:145px;}
.coming-counter{margin:25px 0px 45px;}
.counting{font-size:80px;display:block;font-weight:500;line-height:60px;margin-bottom:20px;}
.subject{font-size:18px;}

/*     Login page Css  */
.login-content{position:relative;height:100%;}
.login-page{background-image:url('../images/banner.jpg');background-repeat:no-repeat;background-size:cover;height:100%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;width:100%;display:inline-table;padding:50px 0px;}
.login-box{width:460px;margin:0px auto;background-color:#fff;padding:30px 55px 45px;border-radius:12px;box-shadow:0px 5px 5px 0px rgba(0,0,0,0.2);position:absolute;top:50%;transform:translateY(-50%);left:0;right:0;}
.log-logo{text-align:center;margin-bottom:40px;}
.login-box h4{font-size:24px;font-weight:600;color:#6c6c6c;margin-bottom:20px;}
.login-box > p{color:#a3a3a4;font-size:18px;margin-bottom:30px;}
.log-fog-pwd{text-align:right;margin:20px 0px;}
.form_fiels > label{font-size:13px;font-weight:600;color:#a3a3a4;margin-bottom:0px;}
.form_fiels{border:2px solid #ebebeb;border-radius:8px;padding:5px 15px;margin-top:-2px;position:relative;}
.form_fiels > input{border:hidden;box-shadow:none;padding:8px 0px;}
.form_fiels > input:focus{box-shadow:none;}
.form_fiels:hover::after{content:"";border-left:5px solid #f89529;height:100%;border-radius:10px 0px 0px 10px;position:absolute;top:0px;left:-1px;}
.log-fog-pwd > a:hover,.log-fog-pwd > a:focus{color:#f89529;}

/*added New css module*/
.mobile-main:after{display:block;content:"";clear:both;}
.vouch-offer{position:relative;width:383px;}
.vouch-offer>img{max-width:382px;height:770px;}
.auto-bar{position:absolute;top:51px;left:0;right:2px;width:341px;margin:0 auto;}
.top-time{position:absolute;color:#fff;left:46px;top:30px;font-size:14px;}
.mobile-container{max-width:100%;width:100%;}
.list-inline>li{vertical-align:middle;}
.ng-header{background:#000;font-size:45px;color:#fff;text-align:center;padding:30px 35px;}
.back_arrow{float:left;}
.hd-right{float:right;}
.jusic-banner >img{width:100%;}
.jusic-banner{position:relative;margin-top:56px;}
.snu-profile{position:relative;color:#fff;background:url(../images/jusic-gradint.jpg) no-repeat top center;width:100%;background-size:cover;padding:116px 55px 32px 55px;}
.avtar-img img{width:100%;}
.avtar-img{width:154px;height:154px;overflow:hidden;border-radius:50%;margin:0 auto;position:absolute;top:-73px;left:0;right:0;border:3px solid #fff;}
.snu-profile h1{font-size:52px;color:#fff;font-weight:600;}
.snu-student{text-align:center;}
.banr-text{font-size:40px;display:block;}
.disct{display:inline-block;vertical-align:middle;font-size:133px;font-weight:600;}
.banr-text p{display:inline-block;vertical-align:middle;text-align:left;}
.banr-text p span{display:block;}
.snu-student li{position:relative;}
.snu-student li + li{padding-left:90px;}
.snu-student li + li:after{display:block;position:absolute;content:"";width:1px;height:100%;min-height:130px;background:#fff;left:30px;top:0;}
.show-status{position:absolute;right:0;bottom:0;padding:10px 34px;background:rgba(0,0,0,0.26);color:#fff;font-size:32px;border-radius:5px;}
.blog-artiale:after{display:block;content:"";clear:both;}
.cnt-contant{background:#fff;-moz-box-shadow:0px 0px 9px rgba(2,2,2,0.20);-webkit-box-shadow:0px 0px 9px rgba(2,2,2,0.20);box-shadow:0px 0px 9px rgba(2,2,2,0.20);}
.student-conditions{padding:50px;}
.map-left{width:236px;float:left;}
.student-conditions p{font-size:38px;margin-bottom:30px;}
.student-conditions h2{font-size:40px;font-weight:500;padding-left:60px;margin-bottom:30px;position:relative;}
.student-conditions h2 img{position:absolute;left:0;top:0;}
.articale-right{padding-top:25px;}
.blog-artiale{display:inline-block;width:100%;padding-bottom:50px;border-bottom:1px solid #ddd;margin-bottom:40px;}
.blog-artiale a{display:inline-block;position:relative;font-size:30px;color:#6a6a6a;text-transform:uppercase;font-weight:600;}
.blog-artiale a:after{position:absolute;content:"";left:0;bottom:6px;width:100%;height:2px;background:#8f8f8f;}
.articale-right h2,.articale-right p{margin-bottom:0px!important;}
.mobile-footr{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fa6f50+0,faa343+100 */
background:rgb(250,111,80); /* Old browsers */background:-moz-linear-gradient(45deg,rgba(250,111,80,1) 0%,rgba(250,163,67,1) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(45deg,rgba(250,111,80,1) 0%,rgba(250,163,67,1) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(45deg,rgba(250,111,80,1) 0%,rgba(250,163,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6f50',endColorstr='#faa343',GradientType=1); /* IE6-9 fallback on horizontal gradient */text-align:center;width:100%;color:#fff;padding:30px 35px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;}
.mobile-footr h2{font-size:40px;}
.mobile-offer .close{right:-51px;top:-20px;}
.offer-banner{position:absolute;top:51px;width:100%;height:215px;overflow:hidden;max-width:341px;margin:0 auto;left:0;right:2px;padding:0px;}
.offer-banner img{height:100%;-moz-object-fit:cover;-webkit-object-fit:cover;object-fit:cover;width:100%;}

/*Merchant_Landing page css*/
.merchant-page .bnr-left{vertical-align:top;margin-top:80px;}
.merchant-page .download-app{padding-right:113px;}
.alchemist-discounts{display:inline-block;width:100%;color:#fff;margin-bottom:18px;}
.alchemist-img{float:left;width:58px;}
.alchemist-cont{margin-left:70px;text-align:left;}
.alchemist-cont h2{font-size:18px;font-weight:bold;text-transform:uppercase;margin-bottom:5px;}
.alchemist-cont{font-size:16px;}
.discounts-slide{border:2px dashed #acafb2;padding:10px;border-radius:15px;margin-bottom:45px;}
.discount-item{border-radius:15px;overflow:hidden;color:#fff;}
.venu-text h2{font-size:22px;font-weight:bold;margin-bottom:18px;}
.venu-text h4{font-size:16px;margin-bottom:15px;}
.venu-text p{font-size:14px;border-top:1px solid rgba(255,255,255,0.52);padding-top:7px;}
.discount-item:after{display:block;content:"";clear:both;}
.item-left,.item-right{width:50%;float:left;height:235px;position:relative;}
.item-left img,.item-right img{width:100%;-moz-object-fit:cover;-webkit-object-fit:cover;object-fit:cover;height:100%;}
.venu-text{position:absolute;left:0;right:0;padding:25px;top:50%;-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.item-left .show-status{bottom:-3px;}
@media screen and (min-width:768px){
    .discounts-slide .owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 4px;background:#656b73;display:block;border-radius:30px;}
    .discounts-slide .owl-theme .owl-dots .owl-dot.active span,.discounts-slide .owl-theme .owl-dots .owl-dot:hover span{background:#f17a4b;}
}
.discounts-slide .owl-dots{position:absolute;left:0;right:0;width:100%;text-align:center;bottom:-45px;}
.who-they-are{padding:70px 0px;}
.who-they-are h2{text-transform:uppercase;}
.they-are-main p{max-width:780px;line-height:31px;text-align:center;margin:0 auto;font-size:18px;color:#4a5561;}
.social-menus{text-align:center;padding-top:50px;position:relative;margin-top:40px;}
.social-menus:before{position:absolute;content:"";left:0;right:0px;top:0;max-width:1040px;background-size:100%;margin:0 auto;background:url(../images/who-the-are.png) no-repeat;height:2px;background-position:center center;background-size:100%;}
.social-menus ul{list-style:none;margin:0px;padding:0px;}
.social-menus ul li{list-style:none;display:inline-block;vertical-align:middle;padding:0px 25px;}
.social-menus ul li a .fa{width:70px;height:70px;line-height:70px;background:#d9d9d9;color:#fff;font-size:40px;border-radius:50%;}
.social-menus ul li a .fa:hover{background:#3b5997;color:#fff;}
.iviewer:after{display:block;content:"";clear:both;}
.iviewer{margin:25px 0px;}
.iviewer ul{list-style:none;}
.iviewer ul li{float:left;width:20%;text-align:center;border:1px solid #ddd;margin-left:-1px;height:50px;line-height:43px;}
.iviewer ul li img{width:25px;}
.iviewer ul li a,.custom-file-upload .custom-file-upload{font-size:20px;color:#eb7e4e;display:block;padding:0px 5px;}
.btn-custom{background:#eb7e4e;color:#fff;text-transform:uppercase;}
.custom-file-upload input[type="file"]{display:none;}
.custom-file-upload .custom-file-upload{cursor:pointer;}
.btn-custom:hover{color:#fff;}

/*New CSS Contact Us Page*/
.shadow-bg{background:#fff;box-shadow:0 0 28px 4px rgba(49,49,49,0.1);padding:55px 15px 30px;}
.contact-page{max-width:568px;margin:0 auto;}
label.contact-field-label{position:relative;color:#535353;font-size:15px;font-weight:400;padding-left:52px;}
label.contact-field-label img{position:absolute;left:10PX;top:3px;}
.field-txt{width:100%;color:#535353;font-size:17.91px;border:none;border-bottom:1px solid #5ac8fb;padding-left:50px;padding-bottom:15px;}
.field-txt:focus{outline:none;}
.contact-field{padding-bottom:40px;}
.field-txtarea{width:100%;color:#535353;font-size:17.91px;border:1px solid #5ac8fb;padding-left:50px;padding-right:px;padding-bottom:15px;padding-top:15px;height:263px;margin-top:15px;border-radius:5px;resize:none;}
.field-btn{color:#fff;background:#fb7137;width:170px;height:58px;border-radius:5px;border:none;font-size:20.38px;font-weight:600;}
.shadow-bg p{font-size:17.91px;}
.shadow-bg h4{margin-bottom:15px;}
.my-account-pro .prof-pic{width:182px;height:182px;}
.my-account-pro-left{ float: left; }
.my-account-pro-right{ float: right; padding-top: 50px; }
.btn-white{ color: #8c8c8c; font-size: 20.38px; background-color: #f7f4f4; border: 1px solid #cac9c9; border-radius: 5px;padding:13px 44px; text-transform: uppercase; font-weight: 600; }
.btn-white:hover, .btn-white:focus{ background-color: #fff; }
.form-submit-bottom .pull-left .btn{ margin-right: 10px; font-size: 18px; padding: 10px 15px; border-radius: 3px; }
.video-section-row{ padding: 100px 0; }
.video-section-main h2{ color: #38404b; font-size: 40px; margin:0 0 15px 0; text-transform: uppercase; }
.video-section-main h3{ color: #38404b; font-size: 50px; margin:0 0 15px 0; font-weight: 700; }
.video-section-main p{ font-size: 19.72px; color: #38404b; line-height: 30px; font-weight: 300; }
.video-section-main{ display: flex; display: -moz-flex; display: -webkit-flex;  width: 100%; align-items: center; -moz-align-items: center; -webkit-align-items: center;justify-content: space-between; -moz-justify-content: space-between; -webkit-justify-content: space-between;}
.video-section-main-left{ width: 490px; float: left; }
.video-section-main-right{ float: right; width: 450px; }
.video-section-main .btn{background:rgba(233,62,105,1);background:-moz-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-webkit-gradient(left top,right top,color-stop(0%,rgba(233,62,105,1)),color-stop(54%,rgba(241,112,92,1)),color-stop(76%,rgba(244,150,82,1)),color-stop(100%,rgba(244,150,82,1)));background:-webkit-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-o-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:-ms-linear-gradient(left,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e93e69',endColorstr='#f49652',GradientType=1);display:inline-block;font-size:20.39px; text-transform: uppercase; margin-top: 65px; font-weight:600;color:#fff;padding:10px 35px;border-radius:5px;}
.video-section-row:nth-child(2n){ background-color: #f6f7f7; }
.video-section .video-section-row:nth-child(2n) .video-section-main{flex-direction: row-reverse; -moz-flex-direction: row-reverse; -webkit-flex-direction: row-reverse;}
.account-confirm{ background:#000 url('../images/moola-bg.png') no-repeat right bottom; text-align: center; min-height: 100vh; padding:15px; }
.moola-clogo{ position: absolute; left: 45px; top: 30px; }
.moola-confirm-check{ text-align: center; padding: 44px 0; }
.account-confirm h1{ color: #fff; margin: 0 0 15px 0; font-size: 25px; font-weight: 600; }
.account-confirm h4{ color: #fff; margin: 70px 0 25px 0; font-size: 18px; font-weight: 600; }
.account-confirm p{ color: #fff; margin: 0; font-size: 16px; font-weight: 400; }
ul.ac-social{ margin: 0; padding: 0; }
ul.ac-social li{ list-style: none; display: inline-block; margin: 0 10px; }
ul.ac-social li img{ transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }
ul.ac-social li img:hover{ transform: rotate(360deg) scale(0.8); -moz-transform: rotate(360deg) scale(0.8); -webkit-transform: rotate(360deg) scale(0.8); opacity: 0.8;}


/*21-10-2018*/

ul.menu-banner{margin: 0; padding: 0; text-align: center;}
ul.menu-banner li{ display: inline-block; list-style: none; margin: 0 10px; padding: 0;}
ul.menu-banner li a{ display: block; width: 231px; height: 55px; line-height: 55px; color: #fff; border-radius:40px; font-size: 20px; background: url('../images/border.png') no-repeat center;}
ul.menu-banner li a.active{background: #e93d68;background: -moz-linear-gradient(left, #e93d68 0%, #f59a51 100%);background: -webkit-linear-gradient(left, #e93d68 0%,#f59a51 100%);background: linear-gradient(to right, #e93d68 0%,#f59a51 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e93d68', endColorstr='#f59a51',GradientType=1 );}
.cart-section .dropdown-menu{ border: none; left: auto; right:-13px; width:420px; padding: 10px; margin-top:25px; border-radius: 0; }
.cart-section .dropdown-menu::after {position: absolute;content: "";border-bottom: 13px solid #ffffff;border-left: 12px dashed transparent;
    border-right: 12px dashed transparent;top: -12px;right: 15px;}
.cart-top{ border-bottom: 1px solid #d6d7d9; }
.price-is{ color: #5d6670; font-size: 15.51px; font-weight: 500; }
.cart-price{ color: #38404b; font-size: 18px; font-weight: 600; margin: 0 0 5px 0; }
.cart-section .dropdown-menu h4{ color: #30373f; font-size: 14px; margin:10px 0 0 0; padding: 0; }
ul.cart-items{ margin:0; padding:10px 0 5px 0; }
ul.cart-items li{ list-style: none; margin: 0 0 15px 0; padding: 0; }
ul.cart-items li a{ position: relative; padding-left:33px;padding-top: 4px;padding-bottom:5px; color: #4e4e4e; font-size: 12.5px;}
ul.cart-items li a:hover, ul.cart-items li a:focus{}
ul.cart-items li a img{ position: absolute; left:0; top: 0; width:26px; border-radius: 50%; }
.cart-bottom{ width: 100%; border-top: 1px solid #d6d7d9; padding-top: 15px; padding-bottom: 10px; text-align: center; }
.cart-bottom h2{ margin: 0; padding: 0 0 25px 0; color: #262626; font-size: 18px; }
.cart-bottom .btn{ background: #2ab2fd; color: #fff; width: 250px; height: 42px; border-radius: 40px; line-height: 42px; text-align: center; padding: 0; }
.section-grey{ background: #f1f3f6; padding: 50px 0; }
.section-grey h1{ color: #30373f; font-size: 41px; font-weight: 600; margin: 0 0 45px 0; }
.vouchers-location{ width: 100%; }
.vouchers-location-row{ width: 100%; background: #fff; padding: 40px 35px 45px 35px;box-shadow:0 0px 10px rgba(0,0,0,0.1); border-radius: 15px; margin: 0 0 30px 0; }
.vouchers-location-row.active{ border-left: 15px solid #3da94e;}
.vouchers-location-row.inactive{ border-left: 15px solid #d72345;}
.vouchers-location-pic{ float: left; margin-top: 10px; width: 145px;}
.vouchers-location-pic img{box-shadow:0px 0px 20px rgba(0,0,0,0.2); border-radius: 50%;}
.vouchers-location-dec{ float: left; }
.vouchers-location-dec h2{ color: #30373f; font-size: 27px; margin: 0 0 20px 0; font-weight: 600; }
.vouchers-location-dec p{ color: #4e4e4e; font-size: 18px; margin: 0 0 20px 0;}
.vouchers-location-dec p:last-child{margin:0;}
.vouchers-location-dec img{ margin:0 10px 0 0; position: relative; top: -1px; }
.voucher-status{ margin-left: 45px; }
ul.vocher-right{ margin:50px 0 0 0; padding: 0; float: right; }
ul.vocher-right li{ list-style: none; display: inline-block; margin: 0 0 0 15px; border-right: 1px solid #d5d5d5; padding-right: 15px; }
ul.vocher-right li:last-child{ border-right:none; padding-right:0; }
ul.vocher-right li a{ color: #5e5e5e; font-size: 18px; }
ul.vocher-right li a img{ margin-right: 15px; position: relative; top: -2px; }
.proceed-btn{ text-align: right; }
.proceed-btn .btn{ background: #2ab2fd; width: 324px; height: 56px; padding: 0; color: #fff; line-height: 56px; font-weight: 600; font-size: 24px; }
.location-right{ float: right; }
.location-right-seacrh{ width: 350px; float: left; background: #fff url('../images/search.png') no-repeat center left 20px; padding-left: 55px; border: 1px solid #a6a6a6; border-radius:15px; padding-right: 15px; margin-right: 50px; }
.location-right-seacrh input{ border: none; background: none; font-size: 19px; width: 100%; display: block; color: #000; height: 42px; padding: 0; }
.location-right-seacrh input:focus{outline: none;}
.plus-add{ float: right; }
.plus-add img{ display: block; }
.price-check{ float: right; margin-top:40px; }
.price-check-left{ float: left; color: #38404b; font-size: 32px; font-weight: 700; }
.price-check-right{ float: right; margin-left: 120px; margin-top: 10px; }
.price-check-right .btn.btn-primary{ background: url('../images/uncheck.png') no-repeat center; border-radius: 0; border: none; width: 27px; height: 25px; }
.cart-tbl-main{ width: 550px; float: right; }
.price-check-right .btn.btn-primary.active{ background: url('../images/check.png') no-repeat center;}
.cart-tbl tr td{ color: #30373f; font-size: 28px; padding: 15px 0; }
.cart-tbl tr td:nth-child(2){font-size: 30px; }
tr.cart-tbl-footer{ border-top: 2px solid #d4d6d8; }








