/*
 Theme Name:   twentysixteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
a:hover{color:#deda61}a:focus{text-decoration:none!important}.custom-logo{max-width:190px}
.sidebar{float: left;margin-top:38px;background-color: #fff;border-radius: 6px;border:1px solid #dadada}.foot-nav ul{margin:0px!important}/*button:hover{background:none!important}*/.wp-custom-logo .site-title{margin-top:0}@media screen and (min-width:61.5625em){.entry-content h2,.entry-summary h2,.comment-content h2{margin-bottom:0px!important}}@media scre<?php the_title( sprintf( '<h2 class="entry-title"><a href="%s" rel="bookmark">', esc_url( get_permalink() ) ), '</a></h2>' ); ?>en and (min-width:56.875em){.content-area{margin-top:6px;float:left !important; width:100 %!important;}.content-area1{background-color:#fff;float:left!important;min-height: 1000px;
margin-top: 20px;border-right: 1px solid #f5f5f5;}
#form2 input.text,input.search,textarea.textarea{border-top:1px solid #4c1010!important;border-left:1px solid #c3c3c3!important;border-right:1px solid #c3c3c3!important;border-bottom:1px solid #ddd!important;background:none;width:100px}.entry-title{color:#454545!important;font-size:22px!important;font-weight:500!important;line-height:1.25!important;margin-bottom:1em!important}.entry-title a{color:#454545!important}.entry-title a:hover,.entry-title a:focus{color:#007acc!important}.content-title{color:#efa321;font-size:18px;font-weight:600;padding-bottom:15px}.entry-content p{font-size:14px;line-height:21px;}.site-main-post{width:100%;background:#fff;border:1px solid #dadada;margin-bottom:21px}.site-main .format-standard{border:0px solid #dadada;background:#fff;float:left!important;margin-bottom:0.5em!important;}.site-main-post .hentry{float:left!important;margin-bottom:1.5em!important;background:#fff;padding: 0px 0px  0px 0px}.site-main-search{width:100%!important}.site-main-search .hentry{float:left!important;width:95%!important;margin-bottom:1.5em!important;margin-right:5%}.meta_tags{font-size:14px;color:#d8c267}.meta_tags ul li{float:left;margin-right:1%}.meta_tags ul li a{color:#febd2c}.meta_cats{font-size:14px;color:#febd2c}.meta_cats ul li{float:left;margin-right:1%}.meta_cats ul li a{color:#38404b}#spate_blog{margin-top:30px}.iconorg{float:left;color:#38404b;margin-right:5px;margin-top:2px}.post-date{font-size:21px;margin:6px 0px;color:#38404b}.post-author{font-size:13px;margin-top:2px;color:#d8c267;font-weight:500}.post-author::first-letter{text-transform:uppercase}.post-content p{font-weight:100;font-size:15px}

.entry-title a:hover{color:#38404b!important}.page-title{font-weight:700;font-size:15px;color:#b4961c}.pe-recent-posts-outer .image-left ul li img{width:80%!important;float:left}
.widget .widget-title {
	color: #444 !important;
	font-size: 14px !important;
	/* border-bottom: 2px solid #ddd; */
	margin-bottom: 10px;
	padding-bottom: 7px;
	padding-top: 20px;
	/* text-align: center; */
	font-weight: lighter;
}
pe-recent-posts-title-tag{color:#af961f!important}.PE_Recent_Posts .carousel a{color:#b4961c!important;font-size:1.1em}.widget{border:0px!important;margin-top:40px;padding-top:0;margin-bottom:0}.widget_recent_entries li,.widget_archive li,.widget_categories li,.widget_meta li,.widget_recent_comments li{font-weight:700;font-size:14px;color:#fff!important;margin-bottom:10px;padding-bottom:5px;padding-top:5px;border-bottom:1px solid transparent;border-top:2px solid transparent;border-left:5px solid #ddd;padding-left:10px;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;-ms-transition:all 0.2s ease;transition:all 0.2s ease}


.widget_recent_entries span{*display:block;*font-weight:700}.widget_meta li:hover,.widget_categories li:hover,.widget_archive li:hover,.widget_recent_entries li:hover,.widget_archive li:hover,.widget_recent_comments li:hover{border-left:8px solid #8a8181;border-bottom:1px solid #8a8181;border-top:2px solid transparent}.widget_recent_entries li:hover a,.widget_meta li:hover a,.widget_categories li:hover a,.widget_recent_entries li:hover a,.widget_recent_comments li:hover a,.widget_archive li:hover a{color:#8a8181}.widget_recent_entries,.widget_archive li a,.widget_categories li a,.widget_meta li a,.widget_recent_entries li a,.widget_recent_comments li a{font-weight:700;color:#8a8181}.PE_Recent_Posts .carousel{position:relative;font-family:'robotomedium'!important}.PE_Recent_Posts .carousel-inner{position:relative;width:100%;overflow:hidden;min-height:200px}.PE_Recent_Posts .carousel-inner>.item{position:relative;width:100%;display:none;-webkit-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left}.PE_Recent_Posts .carousel-inner>.item>img,.PE_Recent_Posts .carousel-inner>.item>a>img{line-height:1}.PE_Recent_Posts .carousel-inner>.active,.PE_Recent_Posts .carousel-inner>.next,.PE_Recent_Posts .carousel-inner>.prev{display:block}.PE_Recent_Posts .carousel-inner>.active{left:0}.PE_Recent_Posts .carousel-inner>.next,.PE_Recent_Posts .carousel-inner>.prev{position:absolute;top:0;width:100%}.PE_Recent_Posts .carousel-inner>.next{left:100%}.PE_Recent_Posts .carousel-inner>.prev{left:-100%}.PE_Recent_Posts .carousel-inner>.next.left,.PE_Recent_Posts .carousel-inner>.prev.right{left:0}.PE_Recent_Posts .carousel-inner>.active.left{left:-100%}.PE_Recent_Posts .carousel-inner>.active.right{left:100%}.PE_Recent_Posts .carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none}.PE_Recent_Posts .carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#000 \9;background-color:rgba(0,0,0,0);border:1px solid #fff;border-radius:10px}.PE_Recent_Posts .carousel-indicators .active{width:12px;height:12px;margin:0;background-color:#fff}.PE_Recent_Posts .carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}.PE_Recent_Posts .carousel-caption .btn{text-shadow:none}@media screen and (min-width:768px){.PE_Recent_Posts .carousel-control .glyphicon-chevron-left,.PE_Recent_Posts .carousel-control .glyphicon-chevron-right,.PE_Recent_Posts .carousel-control .icon-prev,.PE_Recent_Posts .carousel-control .icon-next{width:30px;height:30px;margin-top:-15px;font-size:30px}.PE_Recent_Posts .carousel-control .glyphicon-chevron-left,.PE_Recent_Posts .carousel-control .icon-prev{margin-left:-15px}.PE_Recent_Posts .carousel-control .glyphicon-chevron-right,.PE_Recent_Posts .carousel-control .icon-next{margin-right:-15px}.PE_Recent_Posts .carousel-caption{right:20%;left:20%;padding-bottom:30px}.PE_Recent_Posts .carousel-indicators{bottom:20px}}.PE_Recent_Posts .carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.pe-recent-posts-outer{position:relative;font-family:'robotomedium'!important}.pe-recent-posts-outer.bullets-on-board{padding:40px 0 0}.pe-recent-posts-outer ol.carousel-indicators{bottom:auto;left:0;margin:0;position:absolute;text-align:center;top:0;width:100%}.pe-recent-posts-outer .carousel-indicators li{background:#ccc none repeat scroll 0 0;border:medium none;margin:1px!important;padding:0}.pe-recent-posts-outer .carousel-indicators .active{background:#000 none repeat scroll 0 0;border:medium none;height:10px;margin:1px!important;width:10px}.pe-recent-posts-outer .caption{border:medium none;margin:0;width:auto}.pe-recent-posts-outer .caption .pe-creation-date{font-size:.9em}.pe-recent-posts-outer .caption h1,.pe-recent-posts-outer .caption h2,.pe-recent-posts-outer .caption h3,.pe-recent-posts-outer .caption h4,.pe-recent-posts-outer .caption h5,.pe-recent-posts-outer .caption h6{clear:none;margin:0 0 10px}.pe-recent-posts-outer .caption h1{font-size:1.4em}.pe-recent-posts-outer .caption h2{font-size:1.3em}.pe-recent-posts-outer .caption h3{font-size:1.2em}.pe-recent-posts-outer .caption h4{font-size:1.1em}.pe-recent-posts-outer .caption h5{font-size:1.5em}.pe-recent-posts-outer .caption h5 a{font-weight:700!important;color:#b4961c!important}.pe-recent-posts-outer .caption h6{font-size:.9em}.pe-recent-posts-outer .caption .pe-creation-date + h5{margin-bottom:0}.pe-recent-posts-outer .excerpt-text{margin-top:-5px;font-size:1.4em;color:#4a4a4a}.pe-recent-posts-outer ul.thumbnails{float:left;margin:0;width:100%}.pe-recent-posts-outer ul.thumbnails li{background:rgba(0,0,0,0) none repeat scroll 0 0;list-style:outside none none;margin:0;padding:0}.pe-recent-posts-outer .image-left ul li .thumbnail-box-in>a{float:left;position:relative;z-index:5}.pe-recent-posts-outer .image-left ul li img{float:left;margin:0 15px 10px 0}.pe-recent-posts-outer .image-right ul li .thumbnail-box-in>a{float:right;position:relative;z-index:5}.pe-recent-posts-outer .image-right ul li img{float:right;margin:0 0 10px 15px}.pe-recent-posts-outer .image-top ul li a{display:block;margin:0 0 10px}.pe-recent-posts-outer .image-top ul li img{float:none;max-width:100%;vertical-align:middle}.pe-recent-posts-outer .image-bottom ul li img{float:none;margin:10px 0 0}.PE_Recent_Posts .pe-slides-separator{clear:both;height:0;width:100%}.PE_Recent_Posts .pe-slides-separator-even{display:none;clear:both;height:0;width:100%}.el-in-row-1 .thumbnails:nth-child(1n+1){clear:both}.el-in-row-2 .thumbnails:nth-child(2n+1){clear:both}.el-in-row-3 .thumbnails:nth-child(3n+1){clear:both}.el-in-row-4 .thumbnails:nth-child(4n+1){clear:both}.el-in-row-5 .thumbnails:nth-child(5n+1){clear:both}.el-in-row-6 .thumbnails:nth-child(6n+1){clear:both}.el-in-row-7 .thumbnails:nth-child(7n+1){clear:both}.el-in-row-8 .thumbnails:nth-child(8n+1){clear:both}.el-in-row-9 .thumbnails:nth-child(9n+1){clear:both}.el-in-row-10 .thumbnails:nth-child(10n+1){clear:both}.pe-recent-posts-outer .pe-carousel-navigation-container{position:absolute;right:0;top:-26px}.pe-recent-posts-outer .pe-carousel-navigation-container.up-down{top:-42px}.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control{display:inline-block;font-size:24px;height:24px;position:static;width:16px}.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control:hover,.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control:focus{text-decoration:none;opacity:.8}.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control i{display:block;text-align:center}.pe-recent-posts-outer .pe-carousel-navigation-container.up-down .carousel-control i{line-height:16px}.pe-recent-posts-outer .pe-carousel-navigation-container.up-down .carousel-control{display:block;height:16px;width:24px}.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control.right{margin-left:4px}.pe-recent-posts-outer .pe-carousel-navigation-container .carousel-control.up{margin-bottom:4px}.pe-more-from-category{text-align:right;padding:10px 0 0}.pe-author{display:block}.pe-recent-posts-outer ul.thumbnails li ul.pe-categories-list{display:inline}.pe-recent-posts-outer ul.thumbnails li ul.pe-categories-list li{display:inline}.pe-recent-posts-outer ul.thumbnails li ul.pe-categories-list li:last-child .pe-category-list-sep{display:none}.carousel.vertical .carousel-inner{height:100%;width:auto}.carousel.vertical .carousel-inner>.item{width:auto;-webkit-transition:0.6s ease-in-out top;transition:0.6s ease-in-out top}@media all and (transform-3d),(-webkit-transform-3d){.carousel.vertical .carousel-inner>.item{-webkit-transition:0.6s ease-in-out;transition:0.6s ease-in-out}.carousel.vertical .carousel-inner>.item.next,.carousel.vertical .carousel-inner>.item.active.right{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);top:0}.carousel.vertical .carousel-inner>.item.prev,.carousel.vertical .carousel-inner>.item.active.left{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);top:0}.carousel.vertical .carousel-inner>.item.next.left,.carousel.vertical .carousel-inner>.item.prev.right,.carousel.vertical .carousel-inner>.item.active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);top:0}}.carousel.vertical .carousel-inner>.active,.carousel.vertical .carousel-inner>.next,.carousel.vertical .carousel-inner>.prev{display:block}.carousel.vertical .carousel-inner>.active{top:0;left:0}.carousel.vertical .carousel-inner>.next,.carousel.vertical .carousel-inner>.prev{position:absolute;top:0;left:0;width:100%}.carousel.vertical .carousel-inner>.next{top:100%;left:0}.carousel.vertical .carousel-inner>.prev{top:-100%;left:0}.carousel.vertical .carousel-inner>.next.left,.carousel.vertical .carousel-inner>.prev.right{top:0;left:0;z-index:999}.carousel.vertical .carousel-inner>.active.left{top:-100%;left:0}.carousel.vertical .carousel-inner>.active.right{top:100%;left:0}#recent-posts-2{display:none}@media (min-width:768px) and (max-width:991px){.pe-recent-posts-outer.carousel.even-items-in-row ul.thumbnails{width:100%!important}.pe-recent-posts-outer.even-items-in-row .pe-slides-separator-even{display:block}.pe-recent-posts-outer.even-items-in-row .pe-slides-separator{display:none}}@media (max-width:1200px){#recent-posts-2{display:inline}#pe_recent_posts-2{display:none}}.widget-area .search-field{float:left;height:43px;text-indent:10px;color:#393838;border:0;outline:0;border-right:1px solid #b4961c;font-size:12px!important;padding:8px!important}.widget_search{border:1px solid #f6d33c;border-radius:2px;margin:10px 0px;height:45px}.widget_search .search-submit{position:relative;margin-top:10px;margin-left:14px;width:24px;height:44px;border:none}@media only screen and (max-width:1200px){.widget_search .search-submit{margin-left:6px}}.widget_search .search-submit:hover{border:none}
.search-reader-text{display:none}.widget_search .search-field{float:left;height:43px;text-indent:10px;*color:#919191;border:0;outline:0;width:270px!important;padding:7px;border:1px solid #efefef;font-size:12px!important;padding:8px!important}#recent-posts-2{display:none}@media only screen and (max-width:767px){.page-content .search-field{display:none;width:530px!important}.page-content .search-submit{display:none}}@media only screen and (max-width:990px){.page-content .search-field{width:382px!important}.widget_search .search-submit{margin-left:1px}}.widget_search input[type="search"]{float:left;width:100%!important}input[type="search"].search-field{float:left;width:70%}.page-header{border-top:none!important;margin:0 7.6923% 3.5em;padding-top:0px!important}@media screen and (min-width:44.375em){.site{margin:0px!important}





not(.custom-background-image).admin-bar:before{top:0px!important}body:not(.custom-background-image):before,body:not(.custom-background-image):after{height:0px!important}}@media screen and (min-width:48.9375em){body:not(.custom-background-image).admin-bar:before{top:0px!important}}@media screen and (max-width:786px){.head-info::after{width:0px!important}.site-main .format-standard{width:100%! important}}@media screen and (max-width:910px
){.site-main .format-standard{width:100%! important}.site-main-post{width:100%}.navbar-nav li a{font-size:14px!important}}@media screen and (max-width:991px){.head-info::after{width:0 ! important}}@media screen and (max-width:500px){.site-main .format-standard{width:100%! important}}.navigation{clear:both}
.search_buttun {
	padding: 3px !important;
	position: relative;
	float: right;
	font-size: 15px !important;
	color: #fff;
	width: 16%;
	height: 42px;
	background: #f79528 !important;
	border: 0px solid #dadada;
	right: 1px;
	/*top: -43px; */
	border-radius: 0px 5px 5px 0px;
}
@media (max-width: 480px){.head-info::after {display: none;}.about-img img{width: 100%;}}.img-thumbnail > a > img {height: 230px;width: 350px;object-fit: cover;}



/*navigation settingfebd2c*/
#menu-header {
	float: right;
}
.primary-menu li {
	float: left;
	margin-top: 48px;
	padding: 0 3px;
	position: relative;
	display: block;
}
.primary-menu li a {
	color: #454545;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 3px solid transparent;
	font-family: 'robotomedium';
}
.sub-menu li {
	margin-top: 0px;
}
.sub-menu li a {
	font-size: 14px;
}
@media screen and (min-width:61.938em) {
	.main-navigation a {
		outline-offset: -8px;
		padding: .65625em 0.475em !important;
		white-space: nowrap;
	}
	.main-navigation .menu-item-has-children > a::after {
		content: "\f431";
		position: absolute;
		right: 0.525em !important;
		top: 1.213em !important;
	}
	.main-navigation li:hover > a, .main-navigation li.focus > a {
		color: #454545;
		border-bottom: 3px solid #f9b03d;
	}
	.main-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 1.35em !important;
	}
}
.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
	border-bottom:3px solid #f9b03d;
}
.primary-menu li.active a {
	border-bottom: 3px solid #f9b03d;
}
.post-blog-content1 {
    padding-bottom: 20px;
}
@media (max-width:767px){.primary-menu li {
	margin-top: 0;
	width: 100%;
}}
@media (min-width:910px) and (max-width:991px){
.main-navigation .menu-item-has-children > a {
	margin: 0;
	padding-right: 0;
}
	.main-navigation .menu-item-has-children > a {
	margin-right: 22px !important;
}
	.main-navigation a {
	padding: .65625em 0.175em;
}
.sub-menu li {
	margin-top: 0;
}
}
@media (max-width:767px){
	.main-navigation a:hover, .main-navigation a:focus {
	color: #454545;
}.main-navigation li:hover > a, .main-navigation li.focus > a {
	color: #454545;
	border-bottom: 3px solid #f9b03d;
}
	.dropdown-toggle::after {
	border-left-width: 0px;
}
}
@media (min-width:768px) and (max-width:991px){
	.main-navigation a:hover, .main-navigation a:focus {
		color: #454545;}
	.main-navigation li:hover > a, .main-navigation li.focus > a {
	color: #454545;
	border-bottom: 3px solid #f9b03d;
}
.custom-logo {
	max-width: 150px;
}
	.main-navigation li {
	border-top: 0px;
}
	.main-navigation .menu-item-has-children > a {
	margin-right: 34px;
}
	.dropdown-toggle::after {
	border-left-width: 0px;
}
	.primary-menu li {
	margin-top: 30px;padding: 0 6px;
}
	.primary-menu li a {
	font-size: 16px;
	font-family: 'robotomedium';
}
}
.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
	font-weight: 500;
}
/*navigation setting end*/

.fa-check-square::before {

    content: "\f14a";
    margin-right: 5px;

}
.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
}
.post_contents_single {
    padding:0px 26px 0px 26px;
}
input[type="search"].search-field {
	border-radius: 5px !important;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
	background-color:#fff;
	 
}
.widget_search input[type="search"].search-field {
	border-radius: 5px  5px  0px 5px!important;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
	background-color:#fff;
	width: 84% !important;
	border-right:0px;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {
    width: 71px !important;
    height: 64px!important;
    border-radius: 6px!important;
}
.sidebar, .widecolumn {

	padding: 0px 18px !important; 
}
.widget {	
	font-size: 13px !important;
	line-height: 1.6153846154;
	
}
.rpwwt-widget span{color: #f79528 !important;font-weight:bold}
.comments-area{margin-right: 0px!important;padding: 15px!important;}
.posttitle{text-align:left!important}
.time{margin:10px 0px 27px 0px;color:#9f9797}
.search_blog{background-color:#fff !important;padding:0px 26px 0px 26px;border:1px solid #dadada}
.not-found {padding-bottom:20px;min-height:600px;}
.page-header{margin:0px !important;padding:24px 21px 0px 12px!important; background:#fff;height:60px;}
.site-main{margin-bottom:30px;margin-top:17px}
.more-link{background-color:#fa932a;float:right;font-size: 14px;color:#fff;display:block!important;border-radius: 5px;padding:10px;border: none;}
.more-link a{color:#fff!important}
.more-link hover{color:#fff !important;}
.nav-previous{float: left;margin-left:20px}
.nav-next{float: right;margin-right:20px}

.post-navigation span{font-size: 14px !important;}
.post-content a {
    color: #f59e00;
}
