<?php $admin = $this->Session->read('Auth'); ?>
<?php //pr($this->Session->read("User")); ?>
<div class="admin_header">
	<?php //if (!empty($admin)) { 
		// $logo_img = $this->Html->image('logo.png',array('class'=>'logo_nothome'));
		 //echo $this->Html->link($logo_img, array('controller'=>'users','action' => 'dashboard'), array('escape' => false));  
	// } else {
	//	echo $this->Html->image('logo.png',array('class'=>'logo_home'));  	 
	//}
	echo $this->Html->image('logo.png',array('class'=>'logo_home','alt'=>'Moola Voucher')); 
	 ?>
	
    <?php if (!empty($admin)) {  ?>        
    <h2 class="user-name"><?php $user = $this->Session->read("Auth"); 		if(isset($user['User']))
    {?>Hi! <?php if(isset($user['User']['identifier']) &&  $user['User']['identifier']!=""){ echo $user['UserDetail']['name']; echo '<a href="javascript:void(0);" onclick="fblogout()">Logout</a>';} else if(isset($user['User']['UserDetail']) && $user['User']['UserDetail']!="") { echo $user['User']['UserDetail']['name'];echo $this->Html->link('Logout', SITE_LINK.'/logout'); } else {echo $user['UserDetail']['name'];echo $this->Html->link('Logout', SITE_LINK.'/logout'); }
		?></h2><?php } ?>
        <div class="clear"></div>
    <?php } ?>        
</div>
<div id="fade-whole" class='loading'></div>
<div class="flashMessage"></div>



 
 
