<?php $user = $this->Session->read("Auth");//pr($user);

	//~ if(isset($user['User'])){
		 //~ if(isset($user['User']['identifier']) &&  !empty$user['User']['identifier']!=""){ 
			 //~ $name= $user['UserDetail']['business']; 
			 //~ if($name==""){$name="Guest";}
			 //~ $fname= explode(" ",$name); 
			 //~ $email= $user['User']['username'];								 
			 //~ if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			 //~ else{$imageprofile= "profile/".$user['UserDetail']['image'];}
			 //~ $logout='<a href="javascript:void(0);" onclick="fblogout()" class="round-btn btn-blue">Logout</a>';
		 //~ }
		 //~ else if (isset($user['User']['UserDetail'])){
			//~ echo "sfdsf";die;
			 //~ $name= $user['User']['UserDetail']['business']	;
			 //~ if($name==""){$name="Guest";}
			 //~ $email= $user['User']['username'];
			 //~ if($email==""){$email="Facebook Login";}
			 //~ $fname= explode(" ",$name);								 
			 //~ if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			 //~ else{$imageprofile= "profile/".$user['User']['UserDetail']['image'];}
			 //~ //$logout=$this->Html->link('Logout', SITE_LINK.'logout',array('class'=>	'round-btn btn-blue')); 
			 //~ $logout='<a href="javascript:void(0);" onclick="fblogout()" class="round-btn btn-blue">Logout</a>';
		//~ } 
		 //~ else {
			 //~ 
			 //~ $name= $user['UserDetail']['business']	;
			 //~ if($name==""){$name="Guest";}
			 //~ $email= $user['User']['username']; 
			 //~ $fname= explode(" ",$name);
			 //~ if(empty($user['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			 //~ else{$imageprofile= "profile/".$user['UserDetail']['image'];}								 
			 //~ $logout=$this->Html->link('Logout', SITE_LINK.'logout',array('class'=>	'round-btn btn-blue')); 
		//~ } 
	//~ }
	
	if(isset($user['User'])){//pr($user);
		if(isset($user['User']['UserDetail']['business']))
		 $name= $user['User']['UserDetail']['business']	;
		 else
		  $name= $user['UserDetail']['business']	;	 
		 if($name==""){$name="Your Merchant Name";}
		 
		 $email= $user['User']['username'];
		 
		 if($email==""){$email="";}
		 $fname= explode(" ",$name);								 
		 if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
		 else{$imageprofile= "profile/".$user['User']['UserDetail']['image'];}
		 if(isset($user['User']['identifier']) &&  !empty($user['User']['identifier']!="")){ 
			$logout='<a href="javascript:void(0);" onclick="fblogout()" class="round-btn btn-blue">Logout</a>';
		  }
		 else{
			 $logout=$this->Html->link('Logout', SITE_LINK.'logout',array('class'=>	'round-btn btn-blue')); 
			
		  }
	}

?>	
    <div class="mob-menu">
       <ul class="nav-top-menu list-inline header-top">
            <li><a class="round-btn" href="<?php echo SITE_LINK.'insights'?>">INSIGHTS</a></li>
             <?php if($this->request->action=="merchant_detail") {?>
				             
                 <li><a  class="shareSelector" href="javascript:void()" ><?php echo $this->Html->image("share-icon.png",array("alt"=>"Moola","class"=>"share-icon")); ?></a></li>                
             
              <?php }?>
            <li class="dropdown user_prof">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span>
                    <span><?php echo $fname[0];?></span>
                    <b class="fa fa-angle-down"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-content">
                            <div class="prof-inr">
                               <span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span> 
                               <div class="usrprof-desc">
                                  <h4><?php echo $name;?></h4>
                                  <p><?php echo $email;?></p>
                            </div>
                            <ul class="profile-menu">	
                                <li><a href="<?php echo SITE_LINK; ?>my-account" class="view">My Account</a></li>
                                <li><a href="javascript:void(0)" class="view">Billing</a></li>
                                <li><a href="javascript:void(0)" class="view">Recommend to a Friend</a></li>
                                <li class="logout"><?php echo $logout; ?></li>
<!--
								<?php //if ($this->Session->read("Auth.User.is_paid")) { ?>
									<li ><a href="javascript:void(0);" style="color:green !important;">Payment Verified</a></li>
								<?php //} else { ?>
									<li><a href="<?php //echo SITE_LINK."manage-billing"; ?>" style="color:red !important;">Payment not verified</a></li>
								<?php// } ?>
-->
                                
                            </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                 <li class="dropdown cart-section">              
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<span><?php echo $this->Html->image('cart.png',array("alt"=>"user"));?> <div class="cart_total_items"><?php echo $this->Session->read("cart_total_items"); ?></div></span>
					</a>                
                <ul class="dropdown-menu">
                    <li>
                        <div class="cart-top">
                            <div class="price-is">Each location price is</div>
                            <div class="cart-price">£ 9.99</div>
                        </div>
                        <h4>Location List :</h4>
                        <ul class="cart-items">
                            <?php $totalamount = $total_L =0; 
								foreach($this->Session->read("cart_items") as $key=>$loclist) {
									if($loclist['is_view'] == 1) {
										if(empty($loclist['image']) || !file_exists(WWW_ROOT."/img/profile/".$loclist['image'])){
											$locimg="default_new.png";										
										}else{$locimg="profile/".$loclist['image'];}
										$totalamount += 9.99;
										$total_L += 1;										
									?>									
									<li id="cart1<?php echo $key; ?>"><a href="javascript:void(0)" title="<?php echo $loclist["title"]?>"><?php echo $this->Html->image($locimg,array("alt"=>$loclist["title"]));?><?php echo $loclist["address"]?></a></li>
									<?php } else { 
										if(empty($loclist['image']) || !file_exists(WWW_ROOT."/img/profile/".$loclist['image']))
										{$locimg="default_new.png";}else{$locimg="profile/".$loclist['image'];}
										//$totalamount += 9.99;
										//$total_L += 1;
									?>
									<li id="cart1<?php echo $key; ?>" style="display:none;"><a href="javascript:void(0)" title="<?php echo $loclist["title"]?>"><?php echo $this->Html->image($locimg,array("alt"=>$loclist["title"]));?><?php echo $loclist["address"]?></a></li>
									<?php } ?>
								<?php } ?>
                        </ul>                        
                        <div class="cart-bottom">
								<h2 class="cart_tval"><?php echo $total_L ?>  items in Basket   £ <?php echo number_format(($totalamount+(($totalamount)*20/100)),2); ?></h2>
								<a href="<?php echo SITE_LINK."my_cart" ?>" class="btn" title="Checkout">Checkout</a>
						</div>
                    </li>
                </ul>
            </li>
            </li>
       </ul>
   </div>
<header class="header inner-page-header">
	<nav class="navbar navbar-theme navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		 <a class="navbar-brand brand-logo" href="<?php echo SITE_LINK; ?>"><?php echo $this->Html->image("logo.png",array("alt"=>"Moola")); ?></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse header-menu"> 
		  <ul class="nav navbar-nav main-menu">
			<li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'index' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>">Home</a></li>
			<li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'about' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>about">About</a></li>
			<li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'pricing' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>pricing">Pricing</a></li>
			<li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'advertiser_faqs' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>advertiser_faqs">faq</a></li>
			<li><a href="<?php echo SITE_LINK; ?>blog/">Blog</a></li>
		  </ul>
		  <ul class="nav-top-menu list-inline header-top">
				<li><a class="round-btn" href="<?php echo SITE_LINK.'insights'?>">INSIGHTS</a></li>
				 <?php if($this->request->action=="merchant_detail") {?>              
                 <li><a class="shareSelector" href="javascript:void()"><?php echo $this->Html->image("share-icon.png",array("alt"=>"Moola","class"=>"share-icon")); ?></a></li>                
           
              <?php }?>
				<li class="dropdown user_prof">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span>
						<span><?php echo $fname[0];?></span>
						<b class="fa fa-angle-down"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-content">
								<div class="prof-inr">									
								   <span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span> 
								   <div class="usrprof-desc">
									  <h4><?php echo $name;?></h4>
									  <p><?php echo $email;?></p>										
								</div>
								<ul class="profile-menu">																		
									<li><a href="<?php echo SITE_LINK; ?>my-account" class="view">My Account</a></li>
									<li><a href="javascript:void(0)" class="view">Billing</a></li>
									<li><a href="javascript:void(0)" class="view">Recommend to a Friend</a></li>                                        
									<li class="logout"><?php echo $logout; ?></li>
								</ul>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown cart-section">
					<a href="javascript:void(0)" class="dropdown-toggle show_loc_list" data-toggle="dropdown" aria-expanded="true">
						<span><?php echo $this->Html->image('cart.png',array("alt"=>"user"));?><?php (!empty($this->Session->read("cart_total_items"))? $class="display:inline" : $class="display:none" )?> <div class="cart_total_items" style="<?php echo $class;?>"><?php echo $this->Session->read("cart_total_items"); ?></div></span>
					</a>
				   
					<ul class="dropdown-menu">
						 <?php if(empty($this->Session->read("cart_items"))){ ?>
								<div class="alert alert-warning">No Item in cart</div>	
						<?php } else {?>	 
						<li>
							<div class="cart-top">
								<div class="price-is">Each location price is</div>
								<div class="cart-price">£ 9.99</div>
							</div>
							<h4>Location List :</h4>
							
							<ul class="cart-items">
								<?php $totalamount = $total_L =0; 
								foreach($this->Session->read("cart_items") as $key=>$loclist) {
									if($loclist['is_view'] == 1) {
										if(empty($loclist['image']) || !file_exists(WWW_ROOT."/img/profile/".$loclist['image']))										{
											$locimg="default_new.png";										
										}else{$locimg="profile/".$loclist['image'];}
										$totalamount += 9.99;
										$total_L += 1;										
									?>									
									<li id="cart<?php echo $key; ?>"><a href="javascript:void(0)" title="<?php echo $loclist["title"]?>"><?php echo $this->Html->image($locimg,array("alt"=>$loclist["title"]));?><?php echo $loclist["address"]?></a></li>
									<?php } else { 
										if(empty($loclist['image']) || !file_exists(WWW_ROOT."/img/profile/".$loclist['image']))
										{$locimg="default_new.png";}else{$locimg="profile/".$loclist['image'];}
										//$totalamount += 9.99;
										//$total_L += 1;
									?>
									<li id="cart<?php echo $key; ?>" style="display:none;"><a href="javascript:void(0)" title="<?php echo $loclist["title"]?>"><?php echo $this->Html->image($locimg,array("alt"=>$loclist["title"]));?><?php echo $loclist["address"]?></a></li>
									<?php } ?>
								<?php } ?>
							</ul>							
							<div class="cart-bottom">
								<h2 class="cart_tval"><?php echo $total_L ?>  items in Basket   £ <?php echo number_format(($totalamount+(($totalamount)*20/100)),2); ?></h2>
								<a href="<?php echo SITE_LINK."my_cart" ?>" class="btn" title="Checkout">Checkout</a>
								
							</div>
						</li>
						 <?php }?>
					</ul>             
				</li>
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</nav>
</header>
<!-- End header sec -->

    <!--/. banner sec -->	

<script>
$(document).ready(function () {	
	
	 $(".show_loc_list").on("click",function(){		 
		 var href =SITE_LINK+"location_list";		
		 $.ajax({   
			type: "GET",   
			cache: false,   
			url: href,   
			success: function(data){
				data = JSON.parse(data);
				if(data.message)
				{				
					//window.location.href = SITE_LINK+"b/"+data.busid;								
				}
			}  
		});		
		
	  });
	 
});

</script>
