 <section class="inner-banner topheader"	>
       <div class="container">
	        <div class="banner-cont"> 
            	<h2>About</h2>
                <h5></h5>
	        </div>
       </div>
    </section>
    <!--/. banner sec -->
    
    <section class="faqMain">
    	<div class="container">
        	<div class="row">            	
               
				 <div class="col-md-12">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh massa, laoreet id ante in, vehicula imperdiet velit. Vestibulum justo ex, laoreet non odio in, scelerisque suscipit libero. Phasellus et ante lacinia, facilisis nisl nec, pretium nibh. Donec interdum mi non sem consectetur, id imperdiet nulla blandit. Sed accumsan cursus diam, at rhoncus nulla sagittis ac. Etiam sit amet pretium nunc. Aliquam commodo lobortis tortor, id varius est aliquam vel. Integer porta turpis id sem condimentum maximus. Curabitur ligula dolor, lobortis sed quam in, eleifend tempor neque. Sed laoreet purus vitae sem laoreet, eu tristique tortor volutpat.
					<br><br>
					Aliquam tincidunt pellentesque nulla, sed pellentesque dolor ullamcorper non. Maecenas efficitur augue nec mauris finibus luctus. Nam in rutrum massa, ut vulputate ligula. Ut nec orci pulvinar, condimentum tortor id, ornare dui. Quisque eu pellentesque est. Vestibulum aliquet dui venenatis urna feugiat tristique. Fusce fringilla ligula non quam ultrices scelerisque vitae id urna. Nulla nec finibus velit. Aliquam hendrerit metus et tempor convallis. Nunc tristique enim at fringilla ullamcorper. Quisque at convallis urna. Curabitur consequat rutrum ipsum, in condimentum eros mattis ullamcorper. In semper venenatis sapien, et scelerisque nisl cursus non. Praesent lacinia hendrerit urna vitae commodo. Sed gravida malesuada vulputate. Sed sit amet congue est.
					<br><br>
					Mauris suscipit nisi at eros laoreet, ut ultrices nulla faucibus. Proin nec purus nulla. Curabitur sollicitudin lectus vitae sem laoreet porttitor sed a ante. Fusce gravida vel arcu ultricies rhoncus. Morbi posuere purus nec nunc porttitor rutrum. Nulla vitae egestas urna, vel ultricies arcu. Nullam sagittis nisl ac hendrerit imperdiet. Morbi justo eros, maximus et finibus nec, malesuada sit amet tellus. 
				 </div>                
            </div>
        </div>
    </section>
