 <section class="inner-banner topheader"	>
       <div class="container">
	        <div class="banner-cont"> 
            	<h2>HELP</h2>
                <h5></h5>
	        </div>
       </div>
    </section>
    <!--/. banner sec -->
    
<section class="video-section">
        <div class="video-section-row">
            <div class="container">
                <div class="video-section-main">
                    <div class="video-section-main-left">
                        <iframe width="100%" height="363" src="https://www.youtube.com/embed/2L-5Zs57Ld4?modestbranding=1&amp;rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="video-section-main-right">
                        <h2>Wonder If we Gave</h2>
                        <h3>Moola Rewards</h3>
                        <p>Moola delivers the best deals from your favorite retails right to your phone.</p>
                        <a href="javascript:void(0)" title="See More Videos" class="btn">See More Videos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-section-row">
            <div class="container">
                <div class="video-section-main">
                    <div class="video-section-main-left">
                        <iframe width="100%" height="363" src="https://www.youtube.com/embed/2L-5Zs57Ld4?modestbranding=1&amp;rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="video-section-main-right">
                        <h2>Wonder If we Gave</h2>
                        <h3>Moola Rewards</h3>
                        <p>Moola delivers the best deals from your favorite retails right to your phone.</p>
                        <a href="javascript:void(0)" title="See More Videos" class="btn">See More Videos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-section-row">
            <div class="container">
                <div class="video-section-main">
                    <div class="video-section-main-left">
                        <iframe width="100%" height="363" src="https://www.youtube.com/embed/2L-5Zs57Ld4?modestbranding=1&amp;rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="video-section-main-right">
                        <h2>Wonder If we Gave</h2>
                        <h3>Moola Rewards</h3>
                        <p>Moola delivers the best deals from your favorite retails right to your phone.</p>
                        <a href="javascript:void(0)" title="See More Videos" class="btn">See More Videos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
