<script>
 $(document).ready(function () { 
  window.setTimeout(function(){
	// Move to a new location or you can do something else
	window.location.href = SITE_LINK+"advertise-with-moola";
	}, 7000);
});
</script>
<section class="msg-banner">
    	<div class="container">
        	<div class="msg-content">                
                <h2><?php echo $this->Session->flash(); ?></h2>              
            </div>
        </div>
</section>
