 <section class="inner-banner topheader">
       <div class="container">
	        <div class="banner-cont"> 
            	<h2><?php echo $CmsPage["CmsPage"]["header"];?></h2>
                <h5></h5>
	        </div>
       </div>
    </section>
    <!--/. banner sec -->
    
    <section class="faqMain">
    	<div class="container">
        	<div class="row">  
        	 <div class="col-md-12">
					<?php echo $CmsPage["CmsPage"]["content"];?>
				 </div>                
            </div>
        </div>
 </section>
