<?php
		$user = $this->Session->read("Auth");//pr($user);
		if(isset($user['User'])){//pr($user);
		if(isset($user['User']['UserDetail']['business']))
		 $name= $user['User']['UserDetail']['business']	;
		 else
		  $name= $user['UserDetail']['business'];	 
		  
		 if($name==""){$name="Your 	Name";}
		 
		 $email= $user['User']['username'];
		 
		 if($email==""){$email="";}
		 $fname= explode(" ",$name);
		 
		  if(isset($user['User']['identifier']) &&  !empty($user['User']['identifier']!="") ){
			 if(isset($user['User']['UserDetail']['fbimage']) &&  !empty($user['User']['UserDetail']['fbimage']))
			 {
				$imageprofile=$user['User']['UserDetail']['fbimage'];
			 }
			 elseif(isset($user['UserDetail']['fbimage']) &&  !empty($user['UserDetail']['fbimage']))
			 {
				 $imageprofile=$user['UserDetail']['fbimage'];
			 }
			 else
			 {
				  if(empty($user['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
				  else{$imageprofile= "profile/".$user['UserDetail']['image'];}
			 }
		 }
		 else{	
			 if(isset($user['User']['UserDetail']['image']))
			 {	 					 
				if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
				else
				{
					$imageprofile= "profile/".$user['User']['UserDetail']['image'];
				}
			}else
			{
				
			  if(empty($user['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			  else{$imageprofile= "profile/".$user['UserDetail']['image'];}
			}
		}					 
		
		 if(isset($user['User']['identifier']) &&  !empty($user['User']['identifier']!="")){ 
			$logout='<a href="javascript:void(0);" onclick="fblogout()" class="logout">Logout</a>';
		  }
		 else{
			 $logout=$this->Html->link('Logout', SITE_LINK.'logout',array("class"=>"logout" )); 
			
		  }
	}
?>	

    
    <header class="header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="<?php echo SITE_LINK; ?>" title="Rave"><img alt="Rave" title="Rave" src="img/rave.png" class="home_logo"></a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					    <ul class="nav navbar-nav">
					        <li><a class="menu-my-calendar <?php echo ($this->params['controller'] == 'Calendars' && $this->params['action'] == 'index' )? ' active':''?>"  href="<?php echo SITE_LINK; ?>my_calendar" title="My Calendar">My Calendar</a></li>
<!--
							<li><a href="<?php //echo SITE_LINK; ?>about" title="About">About</a></li>
-->
<!--
							<li  <?php  //echo ($this->params['controller'] == 'CalendarStats' && $this->params['action'] == 'index' )? 'class="active"':''?>><a href="<?php //echo SITE_LINK.'insights'?>" title="Insights">Insights</a></li>-->
					    </ul>
					    <ul class="nav navbar-nav navbar-right">
					        <li class="dropdown">
					          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="My Account">
									 <?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?>My Account <span class="caret"></span></a>
					          	<ul class="dropdown-menu">
					          		<li class="my-account-pic">
					          			<div class="my-account-pic-main">
					          				 <?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?>
					          				<h2><?php echo $name;?></h2>
					          				<p><?php echo $email;?></p>
					          			</div>
					          		</li>
						            <li><a href="<?php echo SITE_LINK; ?>my_profile" title="My Profile">My Profile</a></li>
						            <li><a href="<?php echo SITE_LINK; ?>my-account" title="My Account">My Account</a></li>
						            <li><?php echo $logout; ?></li>
					          	</ul>
					        </li>
					    </ul>
					</div>
				</nav>
			</div>
		</header>

