<?php
		$user = $this->Session->read("Auth");//pr($user);die;
		if(isset($user['User'])){//pr($user);
		if(isset($user['User']['UserDetail']['business']))
		 $name= $user['User']['UserDetail']['business']	;
		 else
		  $name= $user['UserDetail']['business'];	 
		  
		 if($name==""){$name="Your Merchant Name";}
		 
		 $email= $user['User']['username'];
		 
		 if($email==""){$email="";}
		 $fname= explode(" ",$name);
		 	
		 if(isset($user['User']['identifier']) &&  !empty($user['User']['identifier']!="") ){
			 if(isset($user['User']['UserDetail']['fbimage']) &&  !empty($user['User']['UserDetail']['fbimage']))
			 {
				$imageprofile=$user['User']['UserDetail']['fbimage'];
			 }
			 elseif(isset($user['UserDetail']['fbimage']) &&  !empty($user['UserDetail']['fbimage']))
			 {
				 $imageprofile=$user['UserDetail']['fbimage'];
			 }
			 else
			 {
				  if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
				  else{$imageprofile= "profile/".$user['User']['UserDetail']['image'];}
			 }
		 }
		 else{
		 								 
			 if(empty($user['User']['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['User']['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			 else if(empty($user['UserDetail']['image']) || !file_exists(WWW_ROOT."/img/profile/".$user['UserDetail']['image'])){$imageprofile=SITE_LINK."img/default_new.png";}
			 else{$imageprofile= "profile/".$user['UserDetail']['image'];}
		}	 
		 if(isset($user['User']['identifier']) &&  !empty($user['User']['identifier']!="")){ 
			$logout='<a href="javascript:void(0);" onclick="fblogout()" class="logout">Logout</a>';
		  }
		 else{
			 $logout=$this->Html->link('Logout', SITE_LINK.'logout',array('class'=>	'round-btn btn-blue')); 
			
		  }
	}
?>	
   <header class="header inner-page-header">
        <nav class="navbar navbar-theme navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand brand-logo" href="<?php echo SITE_LINK; ?>"><?php echo $this->Html->image("rave.png",array("class"=>"home_logo","alt"=>"Fishook")); ?></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse header-menu"> 
              <ul class="nav navbar-nav main-menu">
                <li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'index' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>">Home</a></li>
                <li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'pricing' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>pricing">Pricing</a></li>
                <li <?php echo ($this->params['controller'] == 'pages' && $this->params['action'] == 'faq' )? 'class="active"':''?>><a href="<?php echo SITE_LINK; ?>faq">faq</a></li>
              </ul>
              <ul class="nav-top-menu list-inline header-top">
                  <li><a class="round-btn <?php echo ($this->params['controller'] == 'vouchers' && $this->params['action'] == 'index' )? 'btn-blue':''?>" href="<?php echo SITE_LINK;?>my_calendar">MY Calendar</a></li>
					<!--
                    <li><a class="round-btn" href="<?php echo SITE_LINK.'insights'?>">INSIGHTS</a></li>
                    -->
                    <li class="dropdown user_prof">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span>
                            <span><?php echo $fname[0];?></span>
                            <b class="fa fa-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-content">
                                    <div class="prof-inr">
                                       <span class="user_img"><?php echo $this->Html->image($imageprofile,array("alt"=>"user"));?></span> 
                                       <div class="usrprof-desc">
                                          <h4><?php echo $name;?></h4>
                                          <p><?php echo $email;?></p>
                                    </div>
                                    <ul class="profile-menu">										
                                        <li><a href="<?php echo SITE_LINK; ?>my-account" class="view">My Account</a></li>
                                        <li><a href="<?php echo SITE_LINK; ?>manage-billing" class="view">Billing</a></li>
										
											<?php if ($this->Session->read("Auth.User.is_paid")) { ?>
											<li ><a href="javascript:void(0);" style="color:green !important;">Payment Verified</a></li>
											<?php } else { ?>
											<li><a href="<?php echo SITE_LINK."manage-billing"; ?>" style="color:red !important;">Payment not verified</a></li>
											<?php } ?>
										<li class="logout"><?php echo $logout; ?></li>
                                    </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>
    <!-- End header sec -->
