   <header class="header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
					        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand1" href="<?php echo SITE_LINK?>" title="Rave"><img alt="Rave" title="Rave" src="img/rave.png" class="home_logo"></a>
					</div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			 
              <ul class="nav navbar-nav navbar-right">              
                <li></li>
                <li></li>
				<li><a class="round-btn" href="<?php  echo SITE_LINK?>">Upload Events</a></li>
                
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>
    <!-- End header sec -->
