<div class="userUniversities index">
	<h2><?php echo __('User Universities'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('university_id'); ?></th>
			<th><?php echo $this->Paginator->sort('valid_till'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($userUniversities as $userUniversity): ?>
	<tr>
		<td><?php echo h($userUniversity['UserUniversity']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($userUniversity['User']['id'], array('controller' => 'users', 'action' => 'view', $userUniversity['User']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($userUniversity['University']['title'], array('controller' => 'universities', 'action' => 'view', $userUniversity['University']['id'])); ?>
		</td>
		<td><?php echo h($userUniversity['UserUniversity']['valid_till']); ?>&nbsp;</td>
		<td><?php echo h($userUniversity['UserUniversity']['created']); ?>&nbsp;</td>
		<td><?php echo h($userUniversity['UserUniversity']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $userUniversity['UserUniversity']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $userUniversity['UserUniversity']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $userUniversity['UserUniversity']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $userUniversity['UserUniversity']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New User University'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Universities'), array('controller' => 'universities', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New University'), array('controller' => 'universities', 'action' => 'add')); ?> </li>
	</ul>
</div>
