label.error{color:red;font-weight:inherit;font-size:12px;}
.error{color:red;font-weight:inherit;font-size:11px;}
.success{color:green;font-weight:inherit;font-size:11px;}
#flashMessage.message.error{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}
#flashMessage.message.success{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}
#flashMessage.success_message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}
#flashMessage.message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}


.topheader{background-image: url('../images/inner-bnr.jpg');}
.prof-pic:hover .upload-btn-wrapper {display: inline-block !important;}
.del_icon{background-image: url('../images/del-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.copy-icon{background-image: url('../images/copy-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.upload-btn-wrapper {position: relative;overflow: hidden;display: inline-block;left: 50px;top: 80px;z-index: 99;cursor: pointer !important;}
.btnfile {border: 1px solid gray;color: gray;background-color: white;padding: 4px 8px;border-radius: 8px;font-size: 10px;font-weight: bold;margin-top:-20px;}
.upload-btn-wrapper input[type=file] {font-size: 100px;position: absolute;left: -120;top: 0;opacity: 0;}
.radio > label {padding-right: 66px!important;padding-left: 0px !important;} 
.checkbox label, .radio label {padding-left: 5px!important;}
.form-control[disabled], .form-control[readonly]{background-color:#fff !important;}
.add-on{margin-top: -2px;}
[class^="icon-"],[class*=" icon-"] {display: inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top; background-image: url("../img/glyphicons-halflings.png");background-position: 14px 14px;  background-repeat: no-repeat;  margin-top: 1px;}
.icon-arrow-left {background-position: -240px -96px;}
.icon-arrow-right {background-position: -264px -96px;}
.modal{overflow:auto !important}
.repeat-day{padding-top:0 !important}
.datepickerdiv{margin-bottom:-24px}

.weekdays{float: left;}
div.weekdays label.selected {
	background-color: #febd2c;
	color: #fff;
}
div.weekdays label:hover {
	background-color: #febd2c;
	color: #fff;
}
li.businesslist{}
li.businesslist:hover { background-color: #febd2c;	color: #fff !important; }
li.businesslist a:hover { color: #fff !important; }
.usrprof-desc a:hover { color:#000 !important;}

div.weekdays label {
	width: 48px;
	height: 48px;
	line-height: 38px;
	text-align: center;
	font-size: 20px;
	background-color: #f2f5f5;
	border-radius: 50%;
	color: #767676;
	font-weight: 600;
	padding: 5px;
	display: inline-block;
	margin-right: 16px;
	cursor:pointer;
}
div.weekdays input{display:none;}
div.weak-List{padding-bottom:70px;}
.bootstrap-tagsinput{
	
	padding: 5px 15px!important;
	border: 1px solid #dcdcdc!important;
	width: 100%!important;
	font-size: 16px!important;
	color: #535353!important;
}


.paging {
	text-align: right;
	margin: 10px;
}
.paging span a, .paging span.disabled  {
	padding: 6px 10px;
	border: 1px solid #ddd;
}
.paging span:focus, .paging span:hover {
	text-decoration: none;
	color: #f9b22b;
}
.paging span.disabled:hover {
	text-decoration: none;
	color: #9b9b9b;
	cursor: not-allowed;
}
.paging span:focus, .paging span a:hover {
	text-decoration: none;
	color: #f9b22b;
}
.paging span.current{background-color:#f9b22b;color:#fff;padding: 6px 10px;border: 1px solid #f9b22b;} 
.datetimepicker table tr td.today:active{ background-color: none !important; }
.grp_date{display:inline}
.grp_date_edit{display:inline}

.highcharts-button-symbol,.highcharts-credits{display:none !important}
.highcharts-series-group{height:300px}
#chart_gender{float:left}
.chart_desc{float: right;width: 200px;position: relative;top:24px;font-size: 14px}
.highcharts-title{position:relative;color:#69727f !important;font-weight:bold}
.img_gender {
	width: 100%;
}
.img_inner, .female-data {
	display: inline-block;
}
.female-data {
	margin-top: 1px;
	clear: both;
	position: relative;
	top: 5px;
	left: 10px;
}
.user_pic{background-position:center;background-size:100%;background-repeat:no-repeat;}
.chart_desc .img_gender{margin-right:5px;float:left}
.chart_title{font-size: 19px;padding:10px 20px;font-weight:500}
.showWeek,.showHour{cursor:pointer;text-decoration:underline} 
.prof-pic{float:none !important;margin-right:20px;}
.profile-image-internal { margin:23px 75px 0 -34px !important; min-width:170px; }
.vouch-desc > ul > li > ul > li > ul > li{font-size:13px;margin-bottom:-7px;margin-left:98px;font-family: 'Open-Sans';}
.fa-square::before {
	content: "\f0c8";
	color: #fa9846;
	font-size: 9px;
	padding-right: 10px;
}
.fa-li.fa.fa-square{display:inherit;position: relative}
#map {
margin: 0;
padding: 0;
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}
#description {
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#infowindow-content {
display: none;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
outline: none;       
background-color: #fff;
font-family: Roboto;
position:relative !important;
}

#pac-container {
/*padding-bottom: 12px;
margin-right: 12px;*/
}
/*
.owl-carousel .owl-stage-outer {
	//margin-left: 10px;
	margin-right: 10px;
}*/
.box-card-nodata{
width:100%;
display: inline-block;
vertical-align: top;
font-size: 16px;
padding-left: 20px;
}
.message{
	/*padding: 3px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	text-align: center;
	z-index:100;*/
}
.success_message{
	padding: 3px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;;
	text-align: center;
	z-index:100;
}
.map-img {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;	
	left: 0;
	right: 0;
	border: 3px solid #fff;
}
.banr-text .title{}
@media only screen and (max-width: 767px) {
    .map-img {
	width: 83px;
	height: 83px;	
	}
	.articale-right {
		margin-left: 0px;
	}
	
	/*.snu-student li + li::after {
	 background: none !important;
	 } */
	.break-content{
    max-width:74px;
    word-wrap:break-word;
	}

}
.themeModel .view-model {
	max-width: 1100px;	
}
.break-content{
    max-width:130px;
    word-wrap:break-word;   
    }
/*
.mobile-offer .modal-content{box-shadow:none !important;background-color: transparent;border: 0px;}
.modal-dialog.sm-model.mobile-offer{top:-46px !important;}
.map-left {margin-right: 50px!important;}
.mobile-offer-add.modal-content{box-shadow:none !important;background-color: transparent;border: 0px;}
.modal-dialog.sm-model.mobile-offer-add{top:30px !important;}

.modal-dialog.sm-model.mobile-offer-add .close{top: 0px;right: -100px;}
.mobile-offer .close{right: -127px !important;margin-top: 23px!important}
.mobile_offer {	
	position: absolute;
	width: 382px;
	height: 195px;
	overflow: hidden;
	z-index: 0;
	top: 109px;
}
.ng-header {
	padding: 10px 0px;
	font-size: 15px;
	position: relative;
	z-index: 1;
}
*/
.awesome-cropper .modal-dialog{width:1022px!important;}
#descriptionvalue ,#termsvalue{
	resize: none;
	height: 91px;
	box-sizing: border-box;
}
.offer-banner{background:#EEEEEE;}
/*.mobile-main {
	padding: 52px 0px 40px 0px;
	height: 100%;
	max-width: 399px!important;
	margin: 0px 24px!important;
}*/
.jusic-banner {	
	margin: 56px 3px 0px 3px!important;
}
.delete_button, .delete_cate {
	border: none;
	background: transparent;
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}

.sm-model .close {background-color:#fff !important}
@media screen and (max-width: 318px) {
	div.weekdays label{
	    margin-right: 6px;
	    margin-bottom: 5px;
	    width: 25px;
		height: 25px;
		line-height: 17px;
		font-size: 11px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:319px) and (max-width: 480px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 30px;
		height: 30px;
		line-height: 22px;
		font-size: 12px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:481px) and (max-width: 991px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 34px;
		height: 34px;
		line-height: 22px;
		font-size: 13px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media screen and (max-width: 767px) {
	.articale-right h2, .articale-right p {
		margin-left: 9px !important;
	}
}
@media (min-width:992px) and (max-width: 1199px) {
	div.weekdays label{
	    margin-right: 10px;
	    margin-bottom: 5px;
	    width: 40px;
		height: 40px;
		line-height: 28px;
		font-size: 16px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}
#flashMessage{display:none}
/*loader*/
	#loading {
    width:100px;
    height:100px;
    border:20px solid #ccc;
    border-top-color:#f50;    
    border-radius:100%;

/* here we center it*/
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    
/* Tha animation*/
    animation: round 1s linear infinite;
}

@keyframes round {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#overlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	opacity: 1;
	left: 0;
	top: 0;
	z-index: 9999;
	position: fixed;
}

.user_prof .user_img { background-color:#fff !important;}
.img-upload{cursor:pointer;}

span.result {position: absolute;
    z-index: 999;
    background: #fff;
    width: 94%;
    border: 1px solid; display:none;margin-top:2px; max-height:200px; overflow-y:scroll;}
span.result ul {}
span.result li {padding: 5px;
    border-bottom: 1px solid;
    cursor: pointer;}
span.result li:hover {
    color: #fcbc2c;
border-color: #fcbc2c;}
.highcharts-label{display:none}
@media screen and (max-width: 455px){ #rc-imageselect, .g-recaptcha { transform:scale(0.71); -webkit-transform:scale(0.71); transform-origin:0 0; -webkit-transform-origin:0 0; }}

.percertange_sign{position:relative;float:right;top:38px}
.faqMain{text-align:justify}
#useremailnotify-error{margin-top: 8px;color: #a10606;position: relative;float: left;}

.btn_deleteaccount{background-color: #ffffff;border:1px solid #c2c2c2;color: #959595;font-size: 14px;text-transform: uppercase;padding: 12px 35px;font-weight: 600;}
.btn_subscribe{background-color: #f8f4f3;border:1px solid #d4d4d4;color: #9b9090;font-size: 14px;text-transform: uppercase;padding: 12px 35px;font-weight: 600;}
.subscribe-details{position: absolute;left: 76%;}
@media screen and (max-width:370px) {
	.subscribe-details {
		position: relative;
		left: 0%;	
		
	}
	.profile-cont {
	 margin-bottom: 30px;
	}
	.btn_subscribe {    
    font-size: 12px;
    padding: 5px 22px;
	}	
}

@media screen and (max-width: 650px) {
	.subscribe-details {
		position: relative;
		left: 0%;	
		
	}
	.profile-cont {
	 margin-bottom: 30px;
	}
	.btn_subscribe {    
    font-size: 12px;
    padding: 5px 10px;
		
	}
	.form-submit .btn {
    margin-left: 0px;
    }
}	
@media (min-width: 781px) and (max-width: 1199px) {
	.form-submit .btn {
		margin-left: 0px;		
	}
}
.btn-custom {
	color: #fff;
	background-color: #eb7e4e !important;
	border-color: #eb7e4e !important;
}
.btn-custom:hover {
	color: #fff;
	background-color: #eb7e4e !important;
	border-color: #eb7e4e !important;
}

.share_voucher{margin-top:20px;}
.vouch-img_share{max-height: 500px;overflow: hidden;display: inline-block;width: 40%;vertical-align: middle;font-size: 16px;}
.faqMain br {
   display: block;
   margin: 3px 0;
}
.faqMain p a {
   color:#747474 !important;  
   padding:0px !important;
   font-size: 17px !important;
   display:inline !important;
   font-weight:600;
}
.faqMain p a::before
{
 content: "" !important;
}
.themeModel .modal-body{padding:29px 29px 50px !important;}
.account-detals input::placeholder { 
  font-size: 12px;
  font-style: italic;
}

.tags > li > a  {   
    padding: 10px 32px 10px 14px;
    font-size: 14px ;  
}
.catenames > li {
    display: inline-block;
    margin-right: 12px;
    margin-top: 30px;
}
.catenames > li > a {
    display: inline-block;
    padding: 10px 32px 10px 14px;
    border-radius: 25px;
    border: 1px solid #ddd;
    background-color: #f2f5f5;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: 600;
    color: #838383;
}


@media screen and (max-width: 479px) {
.tags > li a,.catenames > li > a {
	padding: 10px 30px 10px 10px;
    font-size: 12px ; 
    margin-right: 11px; 
}
.delete_button ,.delete_cate{	
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}

}
@media (min-width:480px) and (max-width:767px) {
.tags > li a,.catenames > li > a {
	padding: 10px 30px 10px 10px;
    font-size: 14px ;  
}
}
@media (min-width:768px) and (max-width: 1199px) {

.tags > li a,.catenames > li > a {
	padding: 10px 30px 10px 10px;
    font-size: 15px ;  
}
}
.user_prof .bus_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ea4267;
    margin-right: 5px;
}
.page_heading{margin-bottom:20px}
.checkmark {
	display: none;
}
.checkmark + label {
	background-color: #fff;
	border: 3px solid #939393;
	box-shadow: 0 1px 2px rgba(0,0,0,0.04), inset 0px -15px 10px -12px rgba(0,0,0,0.04);
	padding: 9px 10px 9px 10px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
}

.checkmark + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkmark:checked + label {
	background-color: #fff;
	border: 3px solid #3aa24a;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkmark:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #3aa24a;
}
.cart-tbl-main {
    width: auto;
    float: right;
    max-width: 100%;
    margin: 0 16% 0 0;
}
.cart_total_items{
	background: red;
	padding: 2px;
	width: 21px;
	height: 21px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -12px;
	left: 18px;
}
.proceed-btn .btn {
    background: #2ab2fd;
    width: 234px;
    height: 56px;
    padding: 0;
    color: #fff;
    line-height: 56px;
    font-weight: 600;
    font-size: 24px;
    float: right;

    max-width: 100%;
}
.cart-tbl tr td:nth-child(2)
{
	text-align: right;
}

@media only screen and (max-width:375px)
{
.cart_total_items {
	background: red;
	padding: 1px;
	width: 21px;
	height: 20px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 12px;
}
}

@media only screen and (max-width:640px)
{
.cart_total_items {
	background: red;
	padding: 1px;
	width: 21px;
	height: 20px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 12px;
}
}
@media only screen and (max-width:575px)
{
.cart_total_items {
	background: red;
	padding: 1px;
	width: 21px;
	height: 20px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 12px;
}
}
@media only screen and (max-width:800px)
{
.cart_total_items{
	background: red;
	padding: 2px;
	width: 21px;
	height: 21px;
	display: inline-block;
	color: #FFF;
	border-radius: 14px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 15px;
}
.cart-tbl-main {
	width: auto;
	float: right;
	max-width: 100%;
	margin: 0 11% 0 0 !important;
}
}

@media only screen and (max-width:975px)
{

.cart-tbl-main {
	width: auto;
	float: right;
	max-width: 100%;
	margin: 0 8% 0 0;
}
}
@media only screen and (max-width:1200px)
{

.cart-tbl-main {
	width: auto;
	float: right;
	max-width: 100%;
	margin: 0 8% 0 0;
}
}
@media only screen and (min-width:1279px)
{

.cart-tbl-main {
	width: auto;
	float: right;
	max-width: 100%;
	margin: 0 16% 0 0;
}
}
.terms_text{font-size:13.8px !important;}
.themeModel .modal-header{padding: 14px !important}
.location-pic-land{float: left;margin-top: 10px; width: 90px;}

.alchemist-cont {
margin-left: 97px !important;
text-align: left;
margin-top: 19px !important;
}

.location-pic-land img {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-radius: 50%;
    background: white;
}
.who-they-are h1 {
    text-transform: uppercase;
}
.main-inr-ttl > h1 {
    font-size: 42px;
    color: #4c555f;
    font-weight: 600;
    text-align: center;
}

.flyout{opacity:0;visibility:hidden;}
.box-info:hover .flyout{opacity:0.8;visibility:visible;}
.flyout{position:absolute;right:56px;left:6px;top:74px;padding:8px;background: #ec0707;color: #fff;font-size: 16px;font-weight: lighter;}
.share-icon{width:40px;height:40px}
.icon-container{width:100% !important;}
.icon-head{height:50px;background:linear-gradient(to right,rgba(233,62,105,1) 0%,rgba(241,112,92,1) 54%,rgba(244,150,82,1) 76%,rgba(244,150,82,1) 100%);width:100%;color:#fff;font-size:20px;font-weight:bold;text-align: center;padding-top: 17px;}
.error-page{background:url("../img/404_error.jpg") no-repeat center;min-height:600px;}
a:focus, a:hover {
    text-decoration: none;
    color: #38404b;
}

#spate_blog h2.posttitle::after, h1.posttitle::after {
	content: "";
	display: block;
	border-bottom: 4px double #d6d6d6;
	margin-top: -12px;
	
}
#spate_blog h2.posttitle span, h1.posttitle span {
	background-color: #fff;
	padding: 0 15px;	
}

.posttitle {

    float: left;
    width: 100%;
}
#spate_blog .time{   text-align: center;display: block;font-size: 12px;margin-bottom: 18px;}
.comments-title,
.comment-reply-title {
	border-top: 2px dotted #f0f0f0 !important;
	
}
.comments-area{margin-right:20px;}
.page-header{border:none !important}
.search_blog h2.posttitle::after, h1.posttitle::after {
    content: "";
    display: block;
    border-bottom: 4px double #d6d6d6;
    margin-top: -12px;
}

.search_blog h2.posttitle span, h1.posttitle span {
	background-color: #fff;
	padding: 0 15px;	
}
.dropdown-toggle, .main-navigation ul .dropdown-toggle.toggled-on, .menu-toggle, .site-header .social-navigation, .site-footer .main-navigation {
	display: inline;
}
.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: relative;
	right: 0;
	text-transform: none; 
    top: 0; 
    width: 48px; 
}
.dropdown-toggle::after {
	border: 0 solid #d1d1d1;
	border-left-width: 0px;
	content: "";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 1px;
}
.cart-section .dropdown-menu {
    border: none;
    left: auto;
    right: -13px;
    width: 420px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 0;
}

.usrprof-desc {
	margin-left: 0px;
	padding-bottom: 10px;
	float: left;
}
.cart-top {
    border-bottom: 1px solid #d6d7d9;
}

.price-is {
    color: #5d6670;
    font-size: 15.51px;
    font-weight: 500;
}

.cart-section .dropdown-menu h4 {
	color: #30373f;
	font-size: 14px;
	margin: 10px 0 0 0;
	padding: 0;
}

ul.cart-items {
	margin: 0;
	padding: 10px 0 5px 0;
}
ul.cart-items li {
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
}
ul.cart-items li a {
	position: relative;
	padding-left: 33px;
	padding-top: 4px;
	padding-bottom: 5px;
	color: #4e4e4e;
	font-size: 12.5px;
}

ul.cart-items li a img {
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	border-radius: 50%;
}

.cart-bottom {
	width: 100%;
	border-top: 1px solid #d6d7d9;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.cart-bottom h2 {
	margin: 0;
	padding: 0 0 25px 0;
	color: #262626;
	font-size: 18px;
}
.cart-bottom .btn {
	background: #2ab2fd;
	color: #fff;
	width: 250px;
	height: 42px;
	border-radius: 40px;
	line-height: 42px;
	text-align: center;
	padding: 0;
}
.cart-section .dropdown-menu::after {
	position: absolute;
	content: "";
	border-bottom: 13px solid #ffffff;
	border-left: 12px dashed transparent;
	border-right: 12px dashed transparent;
	top: -12px;
	right: 15px;
}
.cart-price {
    color: #38404b;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.cart_total_items {
    background: red;
    padding: 2px;
    width: 21px;
    height: 21px;
    display: inline-block;
    color: #FFF;
    border-radius: 14px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -12px;
    left: 18px;
}

.at-below-post-homepage.addthis_tool {
	margin: 17px 0px;
}
