@font-face {
    font-family: 'gillsans';
    src: url('../fonts/gillsans.eot');
    src: url('../fonts/gillsans.eot') format('embedded-opentype'),
         url('../fonts/gillsans.woff2') format('woff2'),
         url('../fonts/gillsans.woff') format('woff'),
         url('../fonts/gillsans.ttf') format('truetype'),
         url('../fonts/gillsans.svg#gillsans') format('svg');
}

@font-face {
    font-family: 'GillSansSemiBold';
    src: url('../fonts/GillSansSemiBold.eot');
    src: url('../fonts/GillSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/GillSansSemiBold.woff2') format('woff2'),
         url('../fonts/GillSansSemiBold.woff') format('woff'),
         url('../fonts/GillSansSemiBold.ttf') format('truetype'),
         url('../fonts/GillSansSemiBold.svg#GillSansSemiBold') format('svg');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{margin: 0;font-family: 'gillsans';}
a:hover{ color: #d73057; }
img{max-width: 100%;}
.container{max-width: 1010px;}

/*Header CSS Open*/

header.header{width: 100%;background: #1d2233; padding: 13px 0; box-shadow: 0 5px 7px rgba(0,0,0,.175); -moz-box-shadow: 0 5px 7px rgba(0,0,0,.175); -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.175);}
header.header .navbar-default{ min-height: auto; background: none; border: none; border-radius: 0; margin: 0;}
header.header .navbar-default .navbar-nav>li>a{color: #fff; padding:11px 32px; margin-left:10px;font-size: 15px; font-family: 'GillSansSemiBold';}
header.header .navbar-default .navbar-nav>li>a:hover, header.header .navbar-default .navbar-nav>li>a:focus{color: #e50087;}
header.header .navbar-default .navbar-nav>li.active>a{ background: none; color: #39c7e6; border-bottom: 1px solid #39c7e6;}
header.header .navbar-default .navbar-nav>li>a.menu-my-calendar.active{ color: #fff; border-bottom: 1px solid #fff; padding-left: 0; padding-right: 0; padding-bottom:0; margin-right:7px;}
header.header .navbar-brand{ padding: 0;height: auto; }
header.header .navbar-default .navbar-nav .dropdown .dropdown-toggle{ padding: 0;}
header.header .navbar-default .navbar-nav .dropdown .dropdown-toggle img{ width: 36px;height: 36px; border: 1px solid #fff; border-radius: 50%; margin-right: 10px; }
header.header .navbar-default .navbar-nav>.open>a,header.header .navbar-default .navbar-nav>.open>a:focus{ background: none; color: #fff;}
.my-account-pic{ width: 100%; padding:2px 8px 8px 8px;}
.my-account-pic-main{ padding:6px 0 8px 45px; border-bottom: 1px solid #dadbdd; position:relative;min-height: 40px; }
.my-account-pic-main img{ position: absolute; border: 1px solid #90ebff; width: 36px; height: 36px; top: 0; left: 0; border-radius: 50%; }
.my-account-pic h2{ margin: 0; padding:0;line-height: 12px;font-size: 14px;font-family: 'GillSansSemiBold';}
.my-account-pic p{ margin: 0; padding: 0; font-size: 12px;}
header.header .navbar-nav>li>.dropdown-menu{ margin-top: 12px; border-radius:0; }
header.header .navbar-nav>li>.dropdown-menu::after{width: 0;height: 0;border-style: solid;border-width: 0 7.5px 10px 7.5px;border-color: transparent transparent #ffffff transparent; position: absolute; right:20px; top: -10px; content: "";}
header.header .dropdown-menu>li>a{ padding:5px 10px; font-size: 15px;font-family: 'GillSansSemiBold';}
header.header .dropdown-menu>li>a.logout{display: inline-block;margin-left: 10px;background: #d7d7d7;color: #202020;border-radius: 30px;margin-top:10px;margin-bottom: 10px;padding: 7px 30px 9px 30px;line-height: normal;}
header.header .dropdown-menu>li>a.logout:hover{ color: #202020; }
header.header .dropdown-menu>li>a:hover{ color: #ae1967; }
header.header .navbar-nav{ margin-left: 200px; }
header.header .navbar-nav.navbar-right{ margin-left: 0; }
header.header .navbar-default .navbar-nav>li:first-child>a{ padding-left: 0; padding-right: 0; margin-right:7px;}
/*Header CSS Close*/

/*Section CSS Close*/

section.section{ padding:3px 0;}
.section-two-row{ display:table;width: 100%;}
.section-two-column-left{ width: 306px; display: table-cell; background: #1d2233;vertical-align: top;}
.section-two-column-right{position: relative; display: table-cell;vertical-align: top;}
.date-select table{ width: 100%;}
.date-select table .prev, .date-select table .next{cursor: pointer;}
.date-select table thead{  background: #262b3b; }
.date-select table thead tr.date-day th{ color: #9b9b9b; font-size: 12px; font-weight: normal; }
.date-select td{ vertical-align: top; cursor: pointer; position: relative;}
.date-select th{padding:10px;color: #fff;text-align: center;font-family: 'robotoregular';}
.date-select td {padding:5px 10px; height: 41px; color: #fff;text-align: center;font-family: 'robotoregular'; font-size:15px;}
.datepicker td, .datepicker th {text-align: center;width: 20px;height: 20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: none;}
.date-select tr{ padding-bottom: 15px; }
.date-select th{ font-size: 18px;}

.date-select td.active{ color: #fff; background: #ae1967; border-radius: 50%; }

.date-select td.day::after{ width: 8px; position: absolute; bottom: 10px; left: 50%; margin-left: -4px; content: ""; height: 8px; border-radius: 50%; bottom: 5px; }
.date-select td.day.new::after{ background: #00dbcf;; }
.date-select td.day.old::after{ background: #d73057; }
.date-select td.day.save::after{ background: #fff; }
.date-select td.day.today.saveactive::after{ background: #fff; }
.date-select td.day.today.savetoday::after{ background: #fff; }
.date-select td.day.today.savetoday{ background-color: #39c7e6 !important; }
.date-select td.day.today.livetoday::after{ background: #24b325; }
.date-select td.day.today.livetoday{ }
.date-select td.day.today.savelive::after{ background: #24b325; }
.date-select td.day.today.savelive{ background-color: #39c7e6 !important; }
.date-select td.day.today.saveToday{ background-color: transparent !important; }
.date-select td.day.today.saveToday::after{background: #fff; }

.date-select td.active.today::after{ background: transparent; }
.date-select td.active.newactive::after{ background: #24b325; }
.date-select tr.seprator td{ height: 30px; }
.date-select tr.seprator:first-child td{ height:20px; }
.date-select table thead tr:first-child th{ padding-top:25px; }
.date-select table thead tr:last-child th{ padding-bottom:25px; }
.sidebar-drop-down{ background: #ae1967; padding: 8px 64px 8px 12px; position: relative;}
.sidebar-drop-down select{ background:#fff url('../img/drop.png') no-repeat center right 10px; padding:0 10px; color: #4a4a4al font-size:12px; height: 32px; width: 100%; border: none; -webkit-appearance:none; -moz-appearance:none;appearance:none;}
select.form-control::-ms-expand {display: none;}
.select-result{position: absolute; right:0; top: 10px; color: #fff; font-size: 16px; width: 48px; padding-left: 10px; border-left: 1px solid #fff;padding-top: 4px;padding-bottom: 3px;}
ul.event-list{ height: 390px; overflow: auto; margin:10px 0; padding: 0; }
ul.event-list li{ list-style: none; margin:0; padding:6px 15px 5px 0; position: relative; padding-left: 69px; min-height:50px; margin-bottom: 2px; }
ul.event-list li .event-list-left{position: absolute; left: 10px; top: 0;}
ul.event-list li .event-list-right{border-bottom: 1px solid #9698a0; padding-bottom:7px;}
ul.event-list li .event-list-left img{width:49px; height:49px; border: 1px solid #fff;}
ul.event-list li h2{font-family: 'robotoregular'; margin:0; color: #fff; font-size:15px; padding: 0; }
ul.event-list li p{font-family: 'robotoregular'; margin:0; color: #fff; font-size:13px; padding: 0; }
ul.event-list li .close-event{position: absolute; right:15px; top:9px;}
ul.event-list li.event-new .event-list-left::after{ width: 6px; height: 100%; /*background: #24b325; */content: ""; position: absolute; left:-5px; top: 0; }
ul.event-list li.event-old .event-list-left::after{ width: 6px; height: 100%; /*background: #d73057;*/ content: ""; position: absolute; left:-5px; top: 0; }
ul.event-list li.event-today .event-list-left::after{ width: 6px; height: 100%; /*background: #fff; */content: ""; position: absolute; left:-5px; top: 0; }
.section-two-column-right{ width:675px; vertical-align: top; padding-top:16px; padding-left:28px;}
.event-date-heading{position: relative; padding-bottom: 20px;}
.event-show{position: absolute;right: 0; top: 0;}
.event-show ul{margin: 0; padding: 0;}
.event-show li{list-style: none; display: inline-block; margin-left: 10px; position: relative;}
.event-show li:first-child{ margin-left: 0;}
.event-show li .btn{ padding:7px 12px; background: #ae1967; color: #fff; border-radius: 0;  font-family: 'GillSansSemiBold'; font-size:18px;}
.event-show li.hide-event .btn{ background-color: #d73057; }
ul.event-shadule{ margin: 0; padding: 0; }
ul.event-shadule li{ list-style: none; display: inline-block; font-family: 'GillSansSemiBold'; color: #1d2233; font-size: 26px; margin:0 30px 0 0; padding: 0; }
.gray-border{ width: 100%; margin-bottom: 20px; height: 29px; background: #d8d8d8; }
.form-heading{ font-size: 16px; color: #646875; margin-bottom:9px; }
.form-heading img{ margin-right: 10px; }
.form-field{ margin-bottom: 35px; }
.file-upload{position: relative; margin-top: 10px;}
.file-upload input{ opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 0;border: none; outline: none;}
.file-upload.active input{position: static; width: 100%; margin-top: 10px; height: auto; opacity: 1; border: none; outline: none;padding-right:18px;}
.file-close{position: absolute;bottom: 4px;right: 0;line-height: normal;display: none;color: #d73057;font-size: 18px;}
.file-upload.active .file-close{ display: block; }
input.form-control{ border-top:none; border-left: none; border-right: none; box-shadow: none; border-radius: 0; color: #1d2233; font-size: 16px; height: 30px; padding: 0 8px; }
textarea.form-control{ height:80px; border-radius:0; resize: none;}
textarea.form-control.long-dis{ height: 150px; }
select.form-control{border-top:none; border-left: none; border-right: none; box-shadow: none; border-radius: 0; color: #1d2233; font-size: 16px; height: 30px;padding: 0 8px; background-image:url('../../img/drop1.png'); background-repeat: no-repeat; background-position: center right 10px;-webkit-appearance:none; -moz-appearance:none;appearance:none;}
.map-field{ margin-top: 14px; border: 1px solid #d3d6d7;}
.map-field iframe{ height: 164px; width: 100%; display: block; }
.checkbox-style{ margin-top: 16px; }
.checkbox-style {}
.btn-group .btn-primary{ background: url('../img/uncheck.png') no-repeat center left; border: none; box-shadow: none; border-radius: 0; color: #202020;padding: 0 0 0 42px; min-height: 28px; font-size: 16px; padding-top:3px; }
.btn-group .btn-primary.active{ background: url('../img/check.png') no-repeat center left; border: none; box-shadow: none; border-radius: 0; color: #202020; outline: none;}
.btn-group .btn-primary:focus,.btn-group .btn-primary.focus{outline: none;}
.event-submit{ background-color: #f1f1f1; padding: 10px; margin-left: -28px; }
.event-submit .btn{ font-size: 18px;font-family: 'GillSansSemiBold'; border-radius: 0; padding: 9px 25px; }
.event-submit .btn.clear{ background-color: #d7d7d7; color: #4a4a4a; margin-right:15px; }
.event-submit .btn.save{  color: #fff;}
.file-upload img{ border: 0px solid #39c7e6;}
.event-show img{ margin-left:22px; position: relative; top: -1px; }
.past-event{ background: #1d2233; color: #fff; padding: 5px 10px; font-style: italic; font-size: 18px;margin-bottom: 20px;}
ul.event-noty{ margin:0 0 32px 0; padding: 0; text-align: right; }
ul.event-noty li{display: inline-block; margin-left: 24px; color: #1d2233; font-size: 26px; font-style: italic;border-bottom: 4px solid #ae1967;}
ul.event-noty li a{color: #1d2233;}
ul.event-noty li:first-child{ margin-left: 0; }
ul.event-noty li a:hover{color:#d73057; text-decoration: none;}
ul.event-noty li small{ font-size: 18px; }
.popup-event{ z-index: 10; background:rgba(29,54,51,0.54); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.popup-event-box{ width: 100%; max-width: 430px; background: #fff; left: 50%; margin-left: -215px; position: absolute; top: 80px; text-align: center; }
.popup-event-box-header{ padding: 25px 0; background-color: #1d2233; }
.popup-event-box-content{ padding: 20px 20px 21px 20px; }
.popup-event-box-content h2{ color: #464c5d; font-size: 18px; font-family: 'GillSansSemiBold'; line-height: 26px; margin: 0 0 15px 0; }
.popup-event-box-content p{ color: #464c5d; margin: 0 0 15px 0; font-size: 18px; }
.popup-event-box-content a{color: #464c5d; font-size: 18px; font-family: 'GillSansSemiBold';}
.popup-event-box-content a:hover{color: #d73057;}
#CalendarIndexForm.modal-header{ background-color: #39c7e6; }
#CalendarIndexForm.modal-header h4{font-size: 14px; color: #fff; }
ul.pop-comment{ margin: 0; padding:0;height: 375px; overflow: auto; }
ul.pop-comment li{position: relative; margin: 0; list-style: none;  margin-bottom: 5px; border-bottom: 1px solid #efefef; }
ul.pop-comment li{position: relative; margin: 0; padding:0 0 5px 0px; list-style: none; min-height: 35px; margin-bottom:15px; }

ul.pop-comment li:last-child{ margin-bottom: 0; border: none; }
ul.pop-comment li h3{ font-size: 14px; color: #000; margin: 0;}
ul.pop-comment li p{ font-size: 11px; color: #000; margin: 0 0 10px 0;}
ul.pop-comment li img{position: absolute; left: 0; top: 0; width: 34px; height: 34px; border-radius: 50%;}
.pop-comment-box{ margin: 0 -15px -5px; padding: 10px 10px 0px 57px; position: relative; border-top: 1px solid #ebecee; }
.pop-comment-box textarea{border: none; height: 30px; border: 1px solid #e9e9ed; resize: none; overflow: hidden; padding:3px 10px;}
.comment-logo{position: absolute; left: 10px; top:7px; border-radius: 50%; border: 1px solid #39c7e6;}
.smile-icon{position: absolute; top: 12px; right:20px;}
.red-bg{ background-color: #d73057; }
.upgrade-pop{position: fixed;}
.upgrade-pop .btn-upgrade{ background: #00dbcf; color: #fff; border-radius: 40px; font-size: 22px; padding: 10px 55px; }
.upgrade-pop .btn-upgrade:hover{ color: #fff; background-color: #d73057; }
.upgrade-pop-day .btn-upgrade{ background: #00dbcf; color: #fff; border-radius: 40px; font-size: 22px; padding: 10px 55px; }
.upgrade-pop-day .btn-upgrade:hover{ color: #fff; background-color: #d73057; }
.section-full-row{ margin-top: 60px; }
ul.plan-box{ margin:0 -20px 150px; padding: 0; overflow: hidden; }
ul.plan-box li{ width: 50%; margin: 0; float: left; padding:0 20px 20px; list-style: none; }
.plan-box-bg{ height: 100%; text-align: center; background-color: #fff; box-shadow: 0 6px 12px rgba(0,0,0,.175); }
.plan-box-bg-head{ background-color: #1d2233; padding: 34px 0 28px; }
.plan-box-bg-head h3{ color: #fff; font-size: 22px; margin: 0; }
.plan-box-bg-head h2{ font-family: 'GillSansSemiBold'; color: #fff; font-size: 60px; margin: 0; }
.plan-box-bg-head h2 sup{font-size:30px; margin-right: 10px; position: relative; vertical-align: top; top:10px;}
.plan-box-bg-head h2 sub{font-size:30px; position: relative; bottom:0px;}
.plan-box-bg-content{ padding:40px 20px 15px 20px; min-height: 227px; }
.plan-box-bg-content p{ color: #3c444f; font-size: 20px; }
li.premium-plan p b{ color: #ae1967; }
.plan-box-bg-content .active-now {color: #ae1967; font-family: 'GillSansSemiBold'; font-size: 30px;}
.plan-bottom{ padding:12px 0; background-color: #f1f1f1; }
.plan-bottom .btn{font-size: 18px; padding: 12px 16px; border-radius: 0;}
.plan-bottom .btn-gray{ color: #4a4a4a; background-color: #d7d7d7; }
.plan-bottom .btn-green{ color: #fff;background-color: #282828; }
.plan-bottom-left .btn{ margin-right: 13px; }
.plan-bottom-right .btn{ margin-left: 13px; }
.plan-bottom-right{ text-align: right; }
.plan-box-bg-content p b{font-family: 'GillSansSemiBold'; font-weight: normal;}
.plan-box-bg-content .btn-update{ color: #fff; font-size: 20px; background-color: #ae1967; border-radius: 40px; padding:9px 37px; }
.your-logo{ display: inline-block; position: relative; }
.your-logo img{ width:138px; height: 138px; border-radius: 50%; border: 3px solid #44e5dc; }
.your-logo input{opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 0;border: none; outline: none; cursor: pointer;}
.followers-section{ margin-bottom:25px; margin-top:10px; color: #1d2233; font-size: 20px; font-family: 'GillSansSemiBold';}
.followers-section span{ border-bottom: 4px solid #ae1967; }
textarea.form-control.txt-no-border{ border-width: 0 0 1px 0; box-shadow: none; }
textarea.form-control.txt-no-border:focus{box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);}
.big-map{ margin-bottom: 30px; }
.big-map iframe{ width: 100%; height: 420px; }
.error input.form-control, .file-upload.error img, .error select.form-control, .error .map-field{ border-color: #d73057; }

/*Section CSS Close*/

/* Sign Up Form */

.sign-form-header{ text-align: center; background-color: #1d2233; padding: 26px 0; }
.sign-form-header h2{ color: #fff; font-size: 24px; font-family: 'GillSansSemiBold'; margin:10px 0 0 0; }
.sign-content{ max-width: 525px; margin: 0 auto; padding: 30px 0; }
.sign-content-social{ text-align: center; }
.or-txt{ text-align: center; margin: 25px 0; font-size: 15px; }
ul.sign-form{ margin: 0; padding: 0; }
ul.sign-form li{ list-style: none; position: relative; margin:0 0 20px 0; padding: 0; }
ul.sign-form li img{position:absolute; left: 0; top: 10px;}
ul.sign-form li .form-control{ color: #202020; font-size: 18px; border-color: #dfdfdf; padding-left: 40px; height:45px; }
ul.sign-form li .form-control:focus{ border-color: #61d2eb; box-shadow: none;}
ul.sign-form li .btn-green{ background-color: #00dbcf; color: #fff; font-size: 22px; padding:5px 30px; border-radius: 0; float: right; }
.already-sign{ display: inline-block; margin-top: 10px; font-size: 18px; color: rgba(0,0,0,0.5); }
/*Footer CSS Close*/


.follow-us{ color: #fff; font-size: 12px; }
.footer-bottom-middle{ padding-top: 15px;color: #fff; font-size: 14px; }
.footer-bottom-right{padding-top: 15px; color: #c4c4c6; font-size: 14px; text-align: right; }

/* Responsive CSS */
@media screen and (max-width:991px){
    header.header .navbar-nav{ margin-left: 64px; }
    .section-two-column-right{ width: 460px; }
    ul.event-shadule li{ margin-right: 20px; }
    ul.event-shadule{ width: 100%; text-align: center; }
    .event-show{position: static; margin: 20px 0 0 0;}
    .event-show li{ margin: 0 0 10px 0; width: 100%; text-align: center; }
    .event-show li .btn{ width: 100%; }
    ul.event-noty li{ font-size: 21px; }
    ul.event-noty li small{ font-size: 15px; }
    .popup-event-box{ max-width: 400px; margin-left: -200px; }
    .plan-bottom-left{ padding-bottom: 20px; text-align:center; }
    .plan-bottom-right{ width: 100%; text-align: center; }
    .plan-bottom-left .btn, .plan-bottom-right .btn{ margin: 0 10px; }
}

@media screen and (max-width:767px){
    .plan-box-bg-content{min-height:auto; padding-bottom: 40px;}
    .popup-event-box{ top: 40px; }
    .section-two-row, ul.plan-box{ display: block;}
    .section-two-column-left, .section-two-column-right{ width: 100%; display: block;}
    ul.plan-box li{ width: 100%; margin-bottom: 20px; }
    .section-two-column-right{ padding-left: 0;  width: 100%; }
    header.header .navbar-nav{ margin-left: 0; }
    header.header .navbar-default .navbar-nav>li:first-child>a{ padding:10px 15px;}
    header.header .navbar-default .navbar-nav>li>a{ padding-left: 15px; padding-right: 15px; }
    header.header .navbar-default .navbar-nav>li{ margin: 0 0 10px 0; }
    header.header .navbar-nav>li>.dropdown-menu{ background: #fff; position: relative; top:0}
    header.header .navbar-nav>li>.dropdown-menu::after{ right: auto; left: 12px; }
    header.header .navbar-nav.navbar-right{ margin-bottom: 0; }
    header.header .navbar-brand{ margin-top: 3px; }
    .navbar-default .navbar-toggle{ margin-right: 0; margin-top: 0; margin-bottom: 0; }
    .upgrade-pop{ overflow: auto; }
    .sign-content{ padding:30px 15px 10px 15px; }
    header.header .navbar-collapse{ padding-left: 0; padding-right: 0; margin-top: 15px; }
    .event-submit{ margin-right:-15px; padding-left: 15px; margin-left: -15px; padding-right: 15px; }

}

@media screen and (max-width:479px){
    ul.sign-form li .btn-green{ float: none; width: 100%; margin:10px 0 0 0; }
    .already-sign{margin: 0;}
    .popup-event-box-content p br{ display: none; }
    .popup-event-box{ max-width:92%; left: 4%; margin-left:0; }
    ul.event-noty { text-align: left; }
    ul.event-noty li{ width: 100%; margin: 0 0 10px 0; }
    
    .event-submit .btn{ width: 100%; text-align: center; }
    .plan-bottom-left{ padding-bottom: 0; }
    ul.plan-box{ margin-bottom: 50px; }
    .plan-bottom-left .btn, .plan-bottom-right .btn{ width: 100%; margin: 0 0 10px 0; text-align: center; }
    .event-submit .btn.clear{ margin-bottom: 10px; margin-right: 0; }
}
.round-btn{font-weight: normal;padding:8px 20px;border:1px solid #fff!important;color:#fff!important;;font-size:15px;font-weight:600;display:block;line-height:20px;}
.round-btn:hover{color:#00dbcf  !important;border-color:#00dbcf !important;}
.uncode_text_column{margin-top: 36px;color:#fff;font-size:15px;}
.box_content {
	color:#fff!important;font-size:15px!important; margin-bottom: 27px; margin-top: 27px;	   

}
.box_content a{
	color:#fff!important;
	
}
.box_content span{padding-left: 27px!important;}
.size_icon {
	font-size: 28px !important;margin-top: 4px;
}
.wrapper_footer{margin-left:-15px;margin-right:-15px}
.footer-menu a:hover{text-decoration:none;color:#3cd7f9}
.powered_by{ margin-bottom: 27px;}
.menu-dark .menu-smart > li.active > a, .menu-dark .menu-smart > li a.active, .menu-dark .menu-smart > li.current-menu-ancestor > a, .menu-dark .menu-smart > li.current-menu-item:not(.menu-item-type-custom) > a {
	color: #fff !important;
}

