label.error{color:red;font-weight:inherit;font-size:10px;}
.error{color:red;font-weight:inherit;font-size:11px;}
.success{color:green;font-weight:inherit;font-size:11px;}
#flashMessage.message.error{position: relative;width:750px;margin-top:5px;left:23%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}
#flashMessage.message.success{position: relative;width:750px;margin-top:5px;left:23%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}

.topheader{background-image: url('images/inner-bnr.jpg');}
.prof-pic:hover .upload-btn-wrapper {display: inline-block !important;}
.del_icon{background-image: url('images/del-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.copy-icon{background-image: url('images/copy-icon1.png'); background-repeat: no-repeat;background-position: 8px 5px;}
.upload-btn-wrapper {position: relative;overflow: hidden;display: inline-block;left: 50px;top: 80px;z-index: 99;cursor: pointer !important;}
.btnfile {border: 1px solid gray;color: gray;background-color: white;padding: 4px 8px;border-radius: 8px;font-size: 10px;font-weight: bold;margin-top:-20px;}
.upload-btn-wrapper input[type=file] {font-size: 100px;position: absolute;left: -120;top: 0;opacity: 0;}
.radio > label {padding-right: 66px!important;padding-left: 0px !important;} 
.checkbox label, .radio label {padding-left: 25px!important;}
.form-control[disabled], .form-control[readonly]{background-color:#fff !important;}
.add-on{margin-top: -2px;}
[class^="icon-"],[class*=" icon-"] {display: inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top; background-image: url("../img/glyphicons-halflings.png");background-position: 14px 14px;  background-repeat: no-repeat;  margin-top: 1px;}
.icon-arrow-left {background-position: -240px -96px;}
.icon-arrow-right {background-position: -264px -96px;}
.modal{overflow:auto !important}
.repeat-day{padding-top:0 !important}
.datepickerdiv{margin-bottom:-24px}
span.result {position: absolute;
    z-index: 999;
    background: #fff;
    width: 94%;
    border: 1px solid; display:none;margin-top:2px; max-height:200px; overflow-y:scroll;}
span.result ul {}
span.result li {padding: 5px;
    border-bottom: 1px solid;
    cursor: pointer;}
span.result li:hover {
    color: #fcbc2c;
border-color: #fcbc2c;}
/*
 #flashMessage.success_message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #03821f;background:#8fb898;height:40px;padding:10px}
#flashMessage.message{position: fixed;width: 100%;z-index:100;text-align:center;color:#4c4c4c;font-weight:inherit;font-size:14px;border:1px solid #c23f2d;background:#efbfbf;height:40px;padding:10px}

.tags > li {
	display: inline-block;
	padding: 10px 22px;
	border-radius: 25px;
	border: 1px solid #ddd;
	background-color: #f2f5f5;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
	font-size: 18px;
	font-weight: 600;
	color: #838383;
}*/
.weekdays{float: left;}
div.weekdays label.selected {
	background-color: #febd2c;
	color: #fff;
}
div.weekdays label:hover {
	background-color: #febd2c;
	color: #fff;
}
div.weekdays label {
	width: 44px;
	height: 44px;
	line-height: 38px;
	text-align: center;
	font-size: 13px;
	background-color: #f2f5f5;
	border-radius: 50%;
	color: #767676;
	font-weight: 500;
	padding: 3px;
	display: inline-block;
	margin-right: 4px;
	cursor:pointer;
}
div.weekdays input{display:none;}
div.weak-List{padding-bottom:70px;}
.bootstrap-tagsinput{
	
	padding: 5px 15px!important;
	border: 1px solid #dcdcdc!important;
	width: 100%!important;
	font-size: 16px!important;
	color: #535353!important;
}


.paging {
	text-align: right;
    padding-top:25px;
}
.paging span a, .paging span.disabled  {
	padding: 8px 20px;
	border: 1px solid #ddd;
}
.paging span:focus, .paging span:hover {
	text-decoration: none;
	color: #f9b22b;
}
.paging span.disabled:hover {
	text-decoration: none;
	color: #9b9b9b;
	cursor: not-allowed;
}
.paging span:focus, .paging span a:hover {
	text-decoration: none;
	color: #fff;
	background-color:#f78d28;
	border-color:#f78d28;
}
div.paging span.disabled {
	margin: 0 !important; 
}
.paging span.current{background-color:#f78d28;color:#fff !important;padding: 8px 20px;border: 1px solid #f78d28;} 
.datetimepicker table tr td.today:active{ background-color: none !important; }
.grp_date{display:none}
.grp_date_edit{display:inline}
.card-img > img {	
	height: 267px;
	width: 270px;
	object-fit: contain;
}
.highcharts-button-symbol,.highcharts-credits{display:none !important}
.highcharts-series-group{height:300px}
#chart_gender{float:left;width:300px;}
.chart_desc{float: right;width: 200px;padding-left:46px;position: relative;top:70px;font-size: 14px}
.highcharts-title{position:relative;color:#69727f !important;font-weight:bold}
.female-data{margin-top:53px;clear:both}
.chart_desc .i	mg_gender{margin-right:5px;float:left}
.chart_title{font-size: 19px;padding:10px 20px;font-weight:500}
#container_impvscon_col button,#container_total_voucher_line button, #total_vou_col button,#container_total_con_line button, #total_con_col button,#container_total_imp_line button, #total_imp_col button {display:none}

.highcharts-3d-chart{left:-82 !important}
#container_total_voucher_line {
	width: 300px;
	overflow:hidden;
}
#totalvoucher, #totalconversions, #totalimpressions  {width:21%;display: inline-block}
.insight{display: inline-block}
.Marchant-table.table > tbody > tr > th > a, .Marchant-table.table > tfoot > tr > th > a,.Marchant-table.table > thead > tr > th > a{font-size:14px;}
.Marchant-table .glyphicon,.Marchant-table .fa{font-size:15px;}
.pagination > span:first-child > a, .pagination > span:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > .current > a, .pagination > .current > a:focus, .pagination > .current > a:hover, .pagination > .current > span, .pagination > .current > span:focus, .pagination > .current > span:hover {
	background: #f78d28;
	border-color: #f78d28;
}
.Marchant-table.table > tbody > tr > td, .Marchant-table.table > tbody > tr > th, .Marchant-table.table > tfoot > tr > td, .Marchant-table.table > tfoot > tr > th, .Marchant-table.table > thead > tr > td, .Marchant-table.table > thead > tr > th {
	font-size: 12px;
}
.Marchant-table.table > tbody > tr > td > a {
	font-size: 12px;
    padding: 0px;
}
.Marchant-table.table > tbody > tr > td > a:hover {
	text-decoration: underline;
}
.number-of-vc {
	width: 87px !important;
}
ul.chart-list li:hover img {	
	cursor: pointer;
}
.show-record span, #UserDetailAdminIndexForm ,#voucherAdminIndexForm,#VoucherEditForm{
	display: inline-block;
}
.form_fiels {	
	margin-bottom: 4px;
}
.list-inline {	
	margin-left: 8px !important;	
}
.voucher-bx-int {
	width: 48%;
	display: inline-block;
}
.voucher-bx-int> h1 {
	font-size: 20px;
	color: #444444;
	font-weight: 600;
	margin-bottom: 15px;
}

.input.checkbox {
    display: inline-block!important;
}
input#UserIsActive {
    margin-top: 5px;
    margin-left: 2px;
}
legend {
    border-bottom: 0px solid #e5e5e5!important;
}
.border-box {
	padding: 30px !important;
	background-color: #ffff;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
}
.btn-info {
padding: 7px 20px;
margin-left:20px;
background-color:#484848;
border-color:#484848;
}
.btn-info:hover{
background-color:#484848;
border-color:#484848;
}
div.form, div.index, div.view {
    margin-top: 20px!important;
}
.border-box1{
	padding-bottom: 75px;
    background-color: #ffff;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left:0px!important;
  margin-top:6px;
}

.input.text.required {
    width: 100% !important;
    display: inline-block !important;
}
div.submit {
    padding-left:25px !important;
}
input#EmailTemplateHeader {
    padding-left: 3px !important;
}
table tr td {
    vertical-align:middle !important;
	border:1px solid #ddd;
	text-align: center !important;
}
th {
	text-align: center !important;
}
.srch {
    padding: 15px 0px 25px 0px !important;
}
.search-box input[type="submit"] {
    border: 0px !important;
}
input{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
	border-bottom:1px solid #00b8ff !important;
	 padding: 10px 0px 0px 0px;
	 border-radius:0px !important;
	 font-size:16px;
}
input#CategoryTitle {
    background: none;
}
.table-responsive {
    overflow-x: visible;
}
#voc_index .Marchant-table.table>tbody>tr>td, .Marchant-table.table>tbody>tr>th, .Marchant-table.table>tfoot>tr>td, .Marchant-table.table>tfoot>tr>th, .Marchant-table.table>thead>tr>td, .Marchant-table.table>thead>tr>th{padding:9px;padding-left: 13px;}
#voc_index .Marchant-table_vouch.table>tbody>tr>td, .Marchant-table_vouch.table>tbody>tr>th, .Marchant-table_vouch.table>tfoot>tr>td, .Marchant-table_vouch.table>tfoot>tr>th, .Marchant-table_vouch.table>thead>tr>td, .Marchant-table_vouch.table>thead>tr>th{padding:7px;padding-left: 7px;}
.manage-marchant_vouch {
	padding: 21px;
	background: #fff;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.17);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.17);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.17);
}
.Marchant-table_vouch.table > tbody > tr > td, .Marchant-table_vouch.table > tbody > tr > th, .Marchant-table_vouch.table > tfoot > tr > td, .Marchant-table_vouch.table > tfoot > tr > th, .Marchant-table_vouch.table > thead > tr > td, .Marchant-table_vouch.table > thead > tr > th {
    font-size: 12px;
}
.Marchant-table_vouch.table > tbody > tr > td, .Marchant-table_vouch.table > tbody > tr > th, .Marchant-table_vouch.table > tfoot > tr > td, .Marchant-table_vouch.table > tfoot > tr > th, .Marchant-table_vouch.table > thead > tr > td, .Marchant-table_vouch.table > thead > tr > th {
	color: #787878;
	font-size: 14px;
	padding: 15px;
	vertical-align: middle;
	text-align: center;
}.Marchant-table_vouch.table > tbody > tr > th {
	font-weight: 600;
	background: #f5f5f5;
	color: #777777;
	text-transform: uppercase;
}
.Marchant-table_vouch.table > tbody > tr > td > a, .Marchant-table_vouch.table > tbody > tr > th > a, .Marchant-table_vouch.table > tfoot > tr > td > a, .Marchant-table_vouch.table > tfoot > tr > th > a, .Marchant-table_vouch.table > thead > tr > td > a, .Marchant-table_vouch.table > thead > tr > th > a {
	

	color: #787878 !important;
}
.border-box2 {
    /* padding: 19px !important; */
    padding: 30px 10px 70px 26px !important;
    background-color: #ffff;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.17);
}
@media only screen and (max-width: 902px) {
#checkstatus {   
   width: 70% !important;
}
} 
@media only screen and (max-width: 906px) {
.checkbox label, .radio label {
	padding-left: 14px !important;
}
.radio > label {
	padding-right: 49px !important;
	padding-left: 16px !important;
	font-size:16px!important;
}
} 
.charts_download{width:100%;min-height: 416px}
.charts_reachconv{width:100%;min-height: 416px;}
.charts_draft{width:100%;min-height: 416px;}
#descriptionvalue ,#termsvalue{
	resize: none;
	height: 79px;
	padding: 5px;	
	box-sizing: border-box;
}
/*
.mobile_offer {	
	background-size: 399px 240px !important;
	background-position: 0% 14% !important;
	background-repeat: no-repeat;
}
.mobile-main {
	padding: 52px 0px 40px 0px;
	height: 100%;
	max-width: 399px!important;
	margin: 0px 24px!important;
}
.jusic-banner {	
	margin: 56px 3px 0px 3px!important;
}
*/

.sm-model .close {background-color:#fff !important}
@media screen and (max-width: 318px) {
	div.weekdays label{
	    margin-right: 6px;
	    margin-bottom: 5px;
	    width: 25px;
		height: 25px;
		line-height: 17px;
		font-size: 11px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media screen and (max-width: 767px) {
	.articale-right h2, .articale-right p {
		margin-left: 9px !important;		
	}
	.percertange_sign{top:52px!important;}

}
@media (min-width:319px) and (max-width: 480px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 30px;
		height: 30px;
		line-height: 22px;
		font-size: 12px;
	}	
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:481px) and (max-width: 991px) {
	div.weekdays label{
	    margin-right: 7px;
	    margin-bottom: 5px;
	    width: 34px;
		height: 34px;
		line-height: 22px;
		font-size: 13px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}
@media (min-width:992px) and (max-width: 1199px) {
	div.weekdays label{
	    margin-right: 10px;
	    margin-bottom: 5px;
	    width: 40px;
		height: 40px;
		line-height: 28px;
		font-size: 16px;
	}
	div.weak-List{
	padding-bottom: 16px;	
	}
}

.map-img {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;	
	left: 0;
	right: 0;
	border: 3px solid #fff;
}
.banr-text .title{}
@media only screen and (max-width: 767px) {
    .map-img {
	width: 83px;
	height: 83px;	
	}
	.articale-right {
		margin-left: 0px;
	}
	
	/*.snu-student li + li::after {
	 background: none !important;
	 } */
	.break-content{
    max-width:74px;
    word-wrap:break-word;
	}
	

}
.offer-banner{background:#EEEEEE;}
.break-content{
   max-width:130px;
    word-wrap:break-word;
    }

.ng-header {
	padding: 10px 0px;
	font-size: 15px;
	position: relative;
	z-index: 1;
}
.awesome-cropper .modal-dialog{width:1022px!important;}
#descriptionvalue ,#termsvalue{
	resize: none;
	height: 120px;
	box-sizing: border-box;
}
/*
.mobile-main {
	padding: 52px 0px 40px 0px;
	height: 100%;
	max-width: 399px!important;
	margin: 0px 24px!important;
}
.jusic-banner {	
	margin: 56px 3px 0px 3px!important;
}
*/
.delete_button {
	border: none;
	background: transparent;
}

.prof-pic-admin
{
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #fb7137;	
	margin-left: 50px;
	float: none !important;
	margin-right: 20px;
}
.user_pic{
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}
.form-submit-profile{text-align:left}
.password-change{margin-bottom:10px;}
#flashMessage{display:none}
.search-button {
    background: #30373f;
    padding: 9.5px 10px;   
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 0 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    font-family: arial;
    border:0px !important;
}
	form#cmspageAdminIndexForm {
    display: inline-block;
}
form#emailtemplateAdminIndexForm {
    display: inline-block;
}
.input.text  label ,.input.textarea label{
    padding-top:30px;
}
.input.select {
    padding-bottom: 30px;
}
.password-change {padding: 25px 0px;}
.password-change a{color: #44444;}
.password-change a:hover{color: #fb7137 !important;}
div#drop-zone {
    margin-top: 35px;
}
.radio > label{font-size:18px;}
.Marchant-table.table.table-bordered.merchant_headfont > tbody > tr > th > a{font-size: 12px;}
.form-control{box-shadow: none;padding-left:20px;}
.selectUni {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('images/down-icon.png');
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 15px;
    font-size: 14px;
	border-color: #31bafa;
	border-style: solid;
	border-width: 0 0px 1px 0px;
	border-radius: 0px;
	box-shadow: none;
	padding: 10px 38px 10px 15px;
	font-weight: 400;
	color: #535353;
	display: block;
	width:48% !important;
	height: auto;
}
.selectUnitemp {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	background-size: 15px;
	font-size: 14px;
	border-color: #31bafa;
	border-style: solid;
	border-width: 0 0px 1px 0px;
	border-radius: 0px;
	box-shadow: none;
	padding: 10px 38px 10px 15px;
	font-weight: 400;
	color: #535353;
	display: block;
	width:48% !important;
	height: auto;
}
.cnt_mid {
	margin-top: 52px !important;
}
.percertange_sign{position:relative;float:right;top:63px}
.btn-custom {
	color: #fff;
	background-color: #eb7e4e !important;
	border-color: #eb7e4e !important;
}
.btn-custom:hover {
	color: #fff;
	background-color: #eb7e4e !important;
	border-color: #eb7e4e !important;
}
.themeModel .modal-body{padding:29px 29px 50px !important;}
.account-detals input::placeholder { 
  font-size: 12px;
  font-style: italic;
}
.catenames > li {
    display: inline-block;
    margin-right: 12px;
    margin-top: 30px;
}
.catenames > li > a {
    display: inline-block;
    padding: 10px 32px 10px 14px;
    border-radius: 25px;
    border: 1px solid #ddd;
    background-color: #f2f5f5;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: 600;
    color: #838383;
}
.delete_button  ,.delete_cate{
	border: none;
	background: transparent;
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}
.tags > li > a,.catenames > li > a {   
    padding: 10px 32px 10px 14px;
    font-size: 14px ;  
}
@media screen and (max-width: 479px) {
.tags > li a,.catenames > li > a {
	padding: 10px 30px 10px 10px;
    font-size: 12px ; 
    margin-right: 11px; 
}
.delete_button ,.delete_cate{	
	margin-left: -38px;
	margin-top: 7px;
	position: absolute;
}
}
@media (min-width:480px) and (max-width:767px) {
.tags > li a,.catenames > li > a{
	padding: 10px 30px 10px 10px;
    font-size: 14px ;  
}
}
@media (min-width:768px) and (max-width: 1199px) {

.tags > li a,.catenames > li > a{
	padding: 10px 30px 10px 10px;
    font-size: 15px ;  
}
}
ul.main-nav li > a
{
	padding: 19px 25px 19px 77px !important;
}
.gm-style .default-card{display:none;}
.marchant-imgs {
	min-width: 120px !important;
	height: 97px;
}
