/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}
.button {
  margin: 10px 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(images/buttons.png) no-repeat;
}
.dec {
  background-position: 0 -29px;
  }

